<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Add Page
    </h1>
  </section>
  <section class="content">
    <div class="box box-default">
      <div class="box-body" style="display: block;">
        <form action="" method="post">
         <div class="form-group">
          <label>Page Title</label>
          <input type="text" name="page_title" value="<?=$_page->page_title?>" class="form-control">
        </div>
        <div class="form-group">
          <label>Page Content</label>
          <textarea name="content" class="form-control"></textarea>
        </div>
        <input type="submit" name="add" class="btn btn-default" value="Add">
      </form>
    </div>
  </div>
</section>
</div>