<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Advertisements
  </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-body" style="display: block;">
            <form action="" method="post">
             <div class="form-group">
                <label>Ad Slot - Home Page</label>
                <textarea name="ad_1" class="form-control"><?=$system->settings->ad_1?></textarea>
            </div>
            <div class="form-group">
                <label>Ad Slot - Profile Page</label>
                <textarea name="ad_2" class="form-control"><?=$system->settings->ad_2?></textarea>
            </div>  
            Leave a specific ad slot empty if you don't want to use it
            <br>
            <input type="submit" name="save" class="btn btn-default" value="Save">
        </form>
    </div>
</div>
</section>
</div>