<div class="content-wrapper">
  <div id="builder">
    <div class="navigation">
      <div class="logo">
        <img src="<?=$system->getDomain()?>/img/builder.png">
      </div>
      <ul class="list-inline">
        <li> <a href="#" onclick="showPages(); return false;"> Pages </a> </li>
        <li> <a href="#" onclick="showSkins(); return false;"> Skins </a> </li>
      </ul>
    </div>
    <div class="secondary-navigation" style="display:none;">
      <ul id="pages" class="list-inline" style="display:none;">
        <li> <a href="#" onclick="selectPage('<?=$system->getDomain()?>/index.php'); return false;"> Home </a> </li>
        <li> <a href="#" onclick="selectPage('<?=$system->getDomain()?>/encounters'); return false;"> Encounters </a> </li>
        <li> <a href="#" onclick="selectPage('<?=$system->getDomain()?>/people'); return false;"> People </a> </li>
        <li> <a href="#" onclick="selectPage('<?=$system->getDomain()?>/user/<?=$my_user->data->id?>'); return false;"> Profile </a> </li>
        <li> <a href="#" onclick="selectPage('<?=$system->getDomain()?>/liked-you'); return false;"> Liked you </a> </li>
        <li> <a href="#" onclick="selectPage('<?=$system->getDomain()?>/visitors'); return false;"> Visited you </a> </li>
        <li> <a href="#" onclick="selectPage('<?=$system->getDomain()?>/favorited-you'); return false;"> Favorites </a> </li>
      </ul>
      <ul id="skins" class="list-inline" style="display:none;">
        <li> <a href="#" onclick="selectSkin('default.css'); return false;"> Default </a> </li>
        <li> <a href="#" onclick="selectSkin('dark.css'); return false;"> Dark </a> </li>
      </ul>
    </div>
    <div class="frame-container" style="overflow:hidden;">
      <div class="block"></div>
      <iframe src="<?=$system->getDomain()?>/encounters" height="100%" width="100%" scrolling="no" frameborder="0" style="overflow:none;"></iframe>
    </div>
  </div>
</div>