<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Credits
    </h1>
  </section>
  <section class="content">
    <div class="box box-default">
      <div class="box-body" style="display: block;">
        <form action="" method="post">
          <b>Enter the prices for the different credit packages</b>
          <br>
          Currency: <?=$system->setting('currency')?>
          <br>
          <br>
          <div class="form-group">
            <label>500 Credits</label>
            <input type="text" name="credits_price_500" value="<?=$system->setting('credits_price_500')?>" class="form-control">
          </div>
          <div class="form-group">
            <label>1000 Credits</label>
            <input type="text" name="credits_price_1000" value="<?=$system->setting('credits_price_1000')?>" class="form-control">
          </div>   
          <div class="form-group">
            <label>2000 Credits</label>
            <input type="text" name="credits_price_2000" value="<?=$system->setting('credits_price_2000')?>" class="form-control">
          </div> 
          <input type="submit" name="save" class="btn btn-default" value="Save">
        </form>
      </div>
    </div>
  </section>
</div>