<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Dashboard
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3><?=number_format($user_count)?></h3>
            <p>Users</p>
          </div>
          <div class="icon">
            <i class="ion-person-stalker"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
          <div class="inner">
            <h3><?=number_format($online_users_count)?></h3>
            <p>Online Users</p>
          </div>
          <div class="icon">
            <i class="ion-person"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3><?=number_format($photo_count)?></h3>
            <p>Uploaded Photos</p>
          </div>
          <div class="icon">
            <i class="ion-images"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
          <div class="inner">
            <h3>1.0.1</h3>
            <p>Version</p>
          </div>
          <div class="icon">
            <i class="ion-information-circled"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">Online Users (<?=$online_users_count?>)</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body" style="display: block;">
           <?php
           if($online_users_count >= 1) {
             while($online_user = $online_users->fetch_object()) { 
              $profile = new User($online_user->id);
              echo '<a href="'.$system->getDomain().'/user/'.$profile->id.'">';
              echo '<img src="'.$system->getDomain().'/uploads/'.$profile->profile_picture.'" class="img-circle m-5" style="width:45px;height:45px;margin-right:10px;">';
              echo '</a>';
            } 
          } else {
            echo 'No users are online at the moment';
          }
          ?>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Newest Users</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body" style="display: block;">
          <?php
          if($user_count >= 1) {
           while($newest_user = $newest_users->fetch_object()) { 
            $profile = new User($newest_user->id);
            echo '<a href="'.$system->getDomain().'/user/'.$profile->id.'">';
            echo '<img src="'.$system->getDomain().'/uploads/'.$profile->profile_picture.'" class="img-circle m-5" style="width:45px;height:45px;margin-right:10px;">';
            echo '</a>';
          } 
        } else {
          echo 'No users exist at the moment';
        }
        ?>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Get Started</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body" style="display: block;">
        <ul>
          <li> <a href="ads.php"> Configure Ads </a> </li>
          <li> <a href="settings.php"> Configure Payments </a> </li>
          <li> <a href="https://codecanyon.net/item/datoo-complete-dating-script/19713733/support" target="_blank"> Contact Support </a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
</div>