<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/bootstrap3/js/bootstrap.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/admin/js/app.min.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/admin/js/pages/dashboard.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/admin/js/builder.js" type="text/javascript"></script>
</body>
</html>
