<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Admin | <?=$page['name']?></title>
<link rel="icon" type="image/png" href="<?=$system->getDomain()?>/img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="<?=$system->getDomain()?>/img/favicon-16x16.png" sizes="16x16">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="<?=$system->getDomain()?>/assets/bootstrap3/css/bootstrap.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/admin/css/AdminLTE.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/admin/css/skins/skin-black.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/admin/css/builder.css" rel="stylesheet">
<script>
var base = '<?=$system->getDomain()?>';
</script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
<header class="main-header">
	<a href="<?=$system->getDomain()?>/encounters" class="logo">
		<span class="logo-mini">
			<img src="<?=$system->getDomain()?>/img/logo-small.png" class="img-responsive" style="height:44px;width:44px;position:relative;left:2.5px;top:3.5px;">
		</span>
		<span class="logo-lg">
			<img src="<?=$system->getDomain()?>/img/logo.png" class="img-responsive" style="height:33px;width:114px;position:relative;left:40px;top:7.5px;">
		</span>
	</a>
	<nav class="navbar navbar-static-top">
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu">
					<a href="<?=$system->getDomain()?>/encounters">
						<span class="hidden-xs"><i class="fa fa-fw fa-chevron-left"></i> Back to Website</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<aside class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p><?=$my_user->full_name?></p>
				<a href="#">Admin</a>
			</div>
		</div>
		<form action="users.php" method="post" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="query" class="form-control" placeholder="Search by name" value="<?=$query?>">
				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<ul class="sidebar-menu">
			<li class="<?=$menu['dashboard']?>">
				<a href="dashboard.php">
					<i class="fa fa-dashboard"></i> <span>Dashboard</span>
				</a>
			</li>
			<li class="<?=$menu['users']?>">
				<a href="users.php">
					<i class="fa fa-users"></i> <span>Manage Users</span>
				</a>
			</li>
			<li class="treeview <?=$menu['photos']?>">
				<a href="#">
					<i class="fa fa-image"></i>
					<span>Manage Photos</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="uploaded_photos.php"><i class="fa fa-circle-o"></i> Uploaded Photos</a></li>
					<li><a href="photo_verification.php"><i class="fa fa-circle-o"></i> Photo Verification</a></li>
				</ul>
			</li>
			<li class="<?=$menu['pages']?>">
				<a href="pages.php">
					<i class="fa fa-th-large"></i> <span>Manage Pages</span>
				</a>
			</li>
			<li class="<?=$menu['ads']?>">
				<a href="ads.php">
					<i class="fa fa-eye"></i> <span>Advertisements</span>
				</a>
			</li>
			<li class="treeview <?=$menu['reports']?>">
				<a href="#">
					<i class="fa fa-flag"></i>
					<span>Reports</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="photo_reports.php"><i class="fa fa-circle-o"></i> Photo Reports</a></li>
				</ul>
			</li>
			<li class="treeview <?=$menu['payments']?>">
				<a href="#">
					<i class="fa fa-credit-card"></i>
					<span>Payments</span>
				</a>
				<ul class="treeview-menu">
					<li><a href="payments_api.php"><i class="fa fa-circle-o"></i> API(s) </a></li>
					<li><a href="credits.php"><i class="fa fa-circle-o"></i> Credits </a></li>
					<li><a href="superpowers.php"><i class="fa fa-circle-o"></i> Super Powers </a></li>
				</ul>
			</li>
			<li class="<?=$menu['settings']?>">
				<a href="settings.php">
					<i class="fa fa-cog"></i> <span>Settings</span>
				</a>
			</li>
			<li class="<?=$menu['builder']?> special">
				<a href="builder.php">
					<span><img src="<?=$system->getDomain()?>/img/builder.png"></span>
				</a>
			</li>
		</ul>
	</section>
</aside>