<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Manage Pages
  </h1>
</section>
<section class="content">
<a href="add_page.php" class="btn btn-default"> <i class="fa fa-plus"></i>  &nbsp Add Page </a>
<br><br>
<div class="box box-default">
<div class="box-body" style="display: block;">
   <?php if($pages->num_rows >= 1) { ?>
   <table class="table table-responsive table-inverse">
       <thead>
        <th style="text-align:center;"> Title </th>
        <th style="text-align:center;"> Actions </th>
    </thead>
    <tbody>
        <?php while($page = $pages->fetch_object()) { ?>
        <tr>
            <td style="vertical-align:middle;text-align:center;"> <?=$page->page_title?> </td>
            <td style="vertical-align:middle;text-align:center;">
                <a href="<?=$system->getDomain()?>/page/<?=$page->id?>" class="btn btn-default"> <i class="fa fa-eye"></i> </a> 
                <a href="edit_page.php?id=<?=$page->id?>" class="btn btn-default"> <i class="fa fa-pencil"></i> </a> 
                <a href="delete_page.php?id=<?=$page->id?>" class="btn btn-default"> <i class="fa fa-trash"></i> </a>
            </td>
        </tr>
        <? } ?>
    </tbody>
</table>
<? } ?>
</div>
</div>
</section>
</div>