<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Payment API(s)
    </h1>
  </section>
  <section class="content">
    <div class="box box-default">
      <div class="box-body" style="display: block;">
        <form action="" method="post">
          <div class="form-group">
            <label>PayPal Email</label>
            <input type="text" name="paypal_email" value="<?=$system->setting('paypal_email')?>" class="form-control">
          </div>
          <div class="form-group">
            <label>Stripe Publishable Key </label>
            <input type="text" name="stripe_publishable_key" value="<?=$system->setting('stripe_publishable_key')?>" class="form-control">
          </div>   
          <div class="form-group">
            <label>Stripe Secret Key </label>
            <input type="text" name="stripe_secret_key" value="<?=$system->setting('stripe_secret_key')?>" class="form-control">
          </div> 
          <div class="form-group">
            <label>Fortumo Credits Service ID </label>
            <input type="text" name="fortumo_credits_id" value="<?=$system->setting('fortumo_credits_id')?>" class="form-control">
          </div> 
          <div class="form-group">
            <label>Fortumo Credits Secret Key </label>
            <input type="text" name="fortumo_credits_secret" value="<?=$system->setting('fortumo_credits_secret')?>" class="form-control">
          </div> 
          <div class="form-group">
            <label>Fortumo Super Powers Service ID </label>
            <input type="text" name="fortumo_superpowers_id" value="<?=$system->setting('fortumo_superpowers_id')?>" class="form-control">
          </div> 
          <div class="form-group">
            <label>Fortumo Super Powers Secret Key </label>
            <input type="text" name="fortumo_superpowers_secret" value="<?=$system->setting('fortumo_credits_secret')?>" class="form-control">
          </div> 
          <input type="submit" name="save" class="btn btn-default" value="Save">
        </form>
      </div>
    </div>
  </section>
</div>