<div class="content-wrapper">
<section class="content-header">
  <h1>
    Photo Verification
  </h1>
</section>
<section class="content">
  <?php 
  if($photos->num_rows >= 1) { 
    while($photo = $photos->fetch_object()) { 
      $profile = new User($photo->user_id);
      ?>
      <div class="col-lg-3 col-md-5 col-sm-5">
        <div class="box box-default">
          <div class="box-body text-center" style="display: block;">
                <a href="<?=$system->getDomain()?>/uploads/<?=$photo->data?>" target="_blank">
                  <img src="<?=$system->getDomain()?>/uploads/<?=$photo->data?>" class="img-rounded" style="height:150px;width:150px;" data-toggle="tooltip" data-placement="bottom" data-title="Click to view in full size" placeholder="" data-original-title="" title="">
                  <img src="<?=$system->getDomain()?>/img/hand-gesture.jpg" class="img-circle gesture" style="position:absolute;height:45px;width:40px;left:108px;top:120px;">
                </a>
            <div class="clearfix"></div>
            <div style="padding-top:10px;">
              <h4 style="margin-bottom:20px!important;"> Is this person showing the gesture? </h4>
              <a href="photo_verify.php?id=<?=$photo->id?>&action=true" class="btn btn-default btn-lg"> 
                <i class="fa fa-check text-success"></i> 
              </a>
              <a href="photo_verify.php?id=<?=$photo->id?>&action=false" class="btn btn-default btn-lg">
               <i class="fa fa-close text-danger"></i> 
             </a>
           </div>
         </div>
       </div>
     </div>
     <? } ?>
     <? } ?>
   </section>
 </div>