<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Photo Reports
    </h1>
  </section>
  <section class="content">
    <div class="box box-default">
      <div class="box-body" style="display: block;">
        <?php if($reports->num_rows >= 1) { ?>
        <table class="table table-responsive table-inverse">
         <thead>
          <th style="text-align:center;"> Photo </th>
          <th style="text-align:center;"> Reason </th>
          <th style="text-align:center;"> Comment </th>
          <th style="text-align:center;"> Date </th>
          <th style="text-align:center;"> Actions </th>
        </thead>
        <tbody>
          <?php 
          while($report = $reports->fetch_object()) { 
            ?>
            <tr>
              <td style="vertical-align:middle;text-align:center;"> 
               <a href="<?=$system->getDomain()?>/uploads/<?=$report->photo_path?>" target="_blank"> 
                <img src="<?=$system->getDomain()?>/uploads/<?=$report->photo_path?>" class="img-rounded" style="height:80px;width:80px" data-toggle="tooltip" data-placement="bottom" data-title="Click to view in full size" placeholder="" data-original-title="" title=""> 
              </a>
              <td style="vertical-align:middle;text-align:center;"> 
                <?php
                switch ($report->reason) {
                  case 1:
                  echo 'It\'s innapropriate';
                  break;
                  case 2:
                  echo 'It\'s of a celebrity';
                  break;
                  case 3:
                  echo 'Other';
                  break;
                  default:
                  echo 'No';
                  break;
                }
                ?>
              </td>
              <td style="vertical-align:middle;text-align:center;"> 
                <?=$report->comment?>
              </td>
              <td style="vertical-align:middle;text-align:center;"> <?=date("F j, Y",$report->time)?> </td>
              <td style="vertical-align:middle;text-align:center;">
                <a href="<?=$system->getDomain()?>/uploads/<?=$report->photo_path?>" target="_blank" class="btn btn-default"> <i class="fa fa-eye"></i> </a>
                <a href="photo_report.php?id=<?=$report->id?>&action=delete_report" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-title="Dismiss report"> 
                  <i class="fa fa-close text-danger"></i>
                </a>
                <a href="photo_report.php?id=<?=$report->id?>&action=delete_photo" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-title="Delete photo">
                <i class="fa fa-trash text-danger"></i>
                </a>
              </td>
            </tr>
            <? } ?>
          </tbody>
        </table>
        <? } ?>
      </div>
    </div>
  </section>
</div>