<div class="content-wrapper">
  <section class="content-header">
    <h1>
        Settings
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">General</h3>
      </div>
      <div class="box-body" style="display: block;">
        <form action="" method="post">
           <div class="form-group">
            <label>Website Name</label>
            <input type="text" class="form-control" name="website_name" value="<?=$system->settings->website_name?>">
        </div>
        <div class="form-group">
            <label>Website Title</label>
            <input type="text" class="form-control" name="website_title" value="<?=$system->settings->website_title?>">
        </div>
        <div class="form-group">
            <label>Website Description</label>
            <textarea name="website_description" class="form-control"><?=$system->settings->website_description?></textarea>
        </div>
        <div class="form-group">
            <label>Website Keywords</label>
            <textarea name="website_keywords" class="form-control"><?=$system->settings->website_keywords?></textarea>
        </div>
        <div class="form-group">
            <label>Registration</label>
            <select name="can_register" class="form-control">
                <option value="0" <?php if($system->settings->can_register == 0) { echo 'selected'; } ?>> Disabled </option>
                <option value="1" <?php if($system->settings->can_register == 1) { echo 'selected'; } ?>> Enabled </option>
            </select>
        </div>
        <div class="form-group">
            <label>Minimum Age</label>
            <select name="minimum_age" class="form-control">
                <?php for($i=16; $i<=100; $i++) { ?>
                <option value="<?=$i?>" 
                    <?php if($system->settings->minimum_age == $i) { echo 'selected'; } ?>>
                    <?=$i?> 
                </option>
                <? } ?>
            </select>
        </div>
        <input type="submit" name="save_1" class="btn btn-default" value="Save">
    </form>
</div>
</div>
<div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">API(s)</h3>
  </div>
  <div class="box-body" style="display: block;">
    <form action="" method="post">
       <div class="form-group">
        <label>Facebook App ID</label>
        <input type="text" class="form-control" name="fb_app_id" value="<?=$system->settings->fb_app_id?>">
    </div>
    <div class="form-group">
        <label>Google Maps API Key</label>
        <input type="text" class="form-control" name="google_maps_api_key" value="<?=$system->settings->google_maps_api_key?>">
    </div>
    <input type="submit" name="save_2" class="btn btn-default" value="Save">
</form>
</div>
</div>
<div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Email</h3>
  </div>
  <div class="box-body" style="display: block;">
    <form action="" method="post">
       <div class="form-group">
        <label>Email Sender</label>
        <input type="text" class="form-control" name="email_sender" value="<?=$system->settings->email_sender?>">
    </div>
    <div class="form-group">
        <label>SMTP Host</label>
        <input type="text" class="form-control" name="smtp_host" value="<?=$system->settings->smtp_host?>">
    </div>
    <div class="form-group">
        <label>SMTP Username</label>
        <input type="text" class="form-control" name="smtp_username" value="<?=$system->settings->smtp_username?>">
    </div>
    <div class="form-group">
        <label>SMTP Password</label>
        <input type="text" class="form-control" name="smtp_password" value="<?=$system->settings->smtp_password?>">
    </div>
    <div class="form-group">
        <label>SMTP Encryption</label>
        <select name="smpt_encryption" class="form-control">
            <option value="tls" <?php if($system->settings->smtp_encryption == 'tls') { echo 'selected'; } ?>> TLS </option>
            <option value="ssl" <?php if($system->settings->smtp_encryption == 'ssl') { echo 'selected'; } ?>> SSL </option>
        </select>
    </div>
    <div class="form-group">
        <label>SMTP Port</label>
        <input type="text" class="form-control" name="smtp_port" value="<?=$system->settings->smtp_port?>">
    </div>
    <input type="submit" name="save_3" class="btn btn-default" value="Save">
</form>
</div>
</div>
<div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Units of Measurement</h3>
  </div>
  <div class="box-body" style="display: block;">
    <form action="" method="post">
       <div class="form-group">
        <label>Height</label>
        <input type="text" class="form-control" name="unit_height" value="<?=$system->settings->unit_height?>">
    </div>
    <div class="form-group">
        <label>Weight</label>
        <input type="text" class="form-control" name="unit_weight" value="<?=$system->settings->unit_weight?>">
    </div>
    <input type="submit" name="save_4" class="btn btn-default" value="Save">
</form>
</div>
</div>
</section>
</div>