<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Super Powers
    </h1>
  </section>
  <section class="content">
    <div class="box box-default">
      <div class="box-body" style="display: block;">
        <form action="" method="post">
          <b>Enter the prices for the different super power packages</b>
          <br>
          Currency: <?=$system->setting('currency')?>
          <br>
          <br>
          <div class="form-group">
            <label>1 week</label>
            <input type="text" name="superpowers_1_week" value="<?=$system->setting('superpowers_1_week')?>" class="form-control">
          </div>
          <div class="form-group">
            <label>1 month</label>
            <input type="text" name="superpowers_1_month" value="<?=$system->setting('superpowers_1_month')?>" class="form-control">
          </div>   
          <div class="form-group">
            <label>3 months</label>
            <input type="text" name="superpowers_3_months" value="<?=$system->setting('superpowers_3_months')?>" class="form-control">
          </div> 
          <input type="submit" name="save" class="btn btn-default" value="Save">
        </form>
      </div>
    </div>
  </section>
</div>