<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Uploaded Photos
    </h1>
  </section>
  <section class="content">
    <div class="box box-default">
      <div class="box-body" style="display: block;">
        <?php if($photos->num_rows >= 1) { ?>
        <table class="table table-responsive table-inverse">
         <thead>
          <th style="text-align:center;"> Photo </th>
          <th style="text-align:center;"> Uploaded By </th>
          <th style="text-align:center;"> Imported from Instagram </th>
          <th style="text-align:center;"> Date </th>
          <th style="text-align:center;"> Actions </th>
        </thead>
        <tbody>
          <?php 
          while($photo = $photos->fetch_object()) { 
            $profile = new User($photo->user_id);
            ?>
            <tr>
              <td style="vertical-align:middle;text-align:center;"> 
               <a href="<?=$system->getDomain()?>/uploads/<?=$photo->path?>" target="_blank"> 
                <img src="<?=$system->getDomain()?>/uploads/<?=$photo->path?>" class="img-rounded" style="height:80px;width:80px" data-toggle="tooltip" data-placement="bottom" data-title="Click to view in full size" placeholder="" data-original-title="" title=""> 
              </a>
              <td style="vertical-align:middle;text-align:center;"> <?=$profile->full_name?> </td>
              <td style="vertical-align:middle;text-align:center;"> 
                <?php
                switch ($photo->is_instagram) {
                  case 1:
                  echo 'Yes';
                  break;
                  default:
                  echo 'No';
                  break;
                }
                ?>
              </td>
              <td style="vertical-align:middle;text-align:center;"> <?=date("F j, Y",$photo->time)?> </td>
              <td style="vertical-align:middle;text-align:center;">
                <a href="<?=$system->getDomain()?>/uploads/<?=$photo->path?>" target="_blank" class="btn btn-default"> <i class="fa fa-eye"></i> </a>
                <a href="delete_photo.php?id=<?=$photo->id?>&path=<?=$photo->path?>" class="btn btn-default"> <i class="fa fa-trash"></i> </a>
              </td>
            </tr>
            <? } ?>
          </tbody>
        </table>
        <? } ?>
      </div>
    </div>
  </section>
</div>