<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Manage Users
    </h1>
  </section>
  <section class="content">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Quick Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="quick_actions.php?action=2">Set all users as online</a></li>
        <li><a href="quick_actions.php?action=3">Set all fake users as online</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="quick_actions.php?action=1">Delete all fake users</a></li>
        <li><a href="quick_actions.php?action=4">Delete all users without a profile photo</a></li>
      </ul>
    </div> 
    <br>
    <div class="box box-default">
      <div class="box-body" style="display: block;">
       <?php if($users->num_rows >= 1) { ?>
       <table class="table table-bordered">
         <thead>
          <th style="text-align:center;"> Profile Photo </th>
          <th style="text-align:center;"> Full Name </th>
          <th style="text-align:center;"> Email </th>
          <th style="text-align:center;"> Country </th>
          <th style="text-align:center;"> Credits </th>
          <th style="text-align:center;"> Join Date </th>
          <th style="text-align:center;"> Actions </th>
        </thead>
        <tbody>
          <?php 
          while($user = $users->fetch_object()) {
            $profile = new User($user->id);
            ?>
            <tr>
              <td style="vertical-align:middle;width:150px;text-align:center;"> <img src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>" class="img-circle" style="height:45px;width:45px"> </td>
              <td style="vertical-align:middle;text-align:center;"> <?=$profile->full_name?> </td>
              <td style="vertical-align:middle;text-align:center;"> <?=$profile->email?> </td>
              <td style="vertical-align:middle;text-align:center;"> <?=$profile->country?> </td>
              <td style="vertical-align:middle;text-align:center;"> <?=number_format($profile->credits)?> </td>
              <td style="vertical-align:middle;text-align:center;"> <?=date("F j, Y",$profile->registered)?> </td> 
              <td style="vertical-align:middle;text-align:center;">
                <a href="<?=$system->getDomain()?>/user/<?=$profile->id?>" class="btn btn-default"> <i class="fa fa-eye"></i> </a>
                <a href="edit_user.php?id=<?=$profile->id?>" class="btn btn-default"> <i class="fa fa-pencil"></i> </a>
                <a href="delete_user.php?id=<?=$profile->id?>" class="btn btn-default"> <i class="fa fa-trash"></i> </a>
              </td>
            </tr>
            <? } ?>
          </tbody>
        </table>
        <? } ?>
      </div>
    </div>
  </section>
</div>