<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="well well-encounter bg-white overflow-auto mb-0">
<div class="encounter-info pull-left">
  <div class="encounters-name">
    <?php if($profile->isOnline()) { ?>
    <i class="online-status online"></i>
    <? } else { ?>
    <i class="online-status offline"></i>
    <? } ?>
    <a href="#" onclick="getGalleryFull(<?=$profile->id?>,0); toggleGallery();">
      <span class="primary"><?=$profile->full_name?>, <?=$profile->age?></span>
    </a>
    <?php if($profile->isVerified()) { ?>
    <a class="btn btn-info btn-xs btn-fill btn-icon profile-badge btn-tooltip">
      <i class="icon icon-checkmark"></i>
    </a>
    <div class="hidden"> This profile is verified </div>
    <? } ?>
    <?php if($profile->hasSuperPowers()) { ?>
    <div class="superman-svg profile-badge btn-tooltip">
      <a class="btn btn-warning btn-xs btn-icon">
        <object data="<?=$system->getDomain()?>/img/superman-clean.svg" type="image/svg+xml"></object>
      </a>
    </div>
    <div class="hidden"> Super Powered Girl! </div>
    <? } ?>
    <div class="interests">
      <span class="interests-num"><?=$profile->getCommonInterests($profile->id)?></span>
      <span class="interests-text"> <?=$system->translate('Your_Interests')?> </span>
    </div>
  </div>
</div>
<div class="profile-controls pull-right">
  <a href="#" class="btn btn-default btn-icon btn-lg profile-control btn-tooltip btn-cog" onclick="getGalleryFull(<?=$profile->id?>,0); toggleGallery();">
    <i class="icon icon-user"></i>
  </a>
  <div class="hidden"> <?=$system->translate('Profile')?> </div>
</div>
<div class="profile-controls pull-right">
  <a href="<?=$system->getDomain()?>/settings" class="btn btn-default btn-icon btn-lg profile-control btn-tooltip btn-cog">
    <i class="icon icon-cog"></i>
  </a>
  <div class="hidden"> <?=$system->translate('Settings')?> </div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<div id="galleryFull" class="well overflow-auto mb-0 text-center encounter-photo" style="background-color:#2D3238;margin-bottom:0px!important;margin-top:0px!important;padding-top:0px!important;padding-bottom:0px;position:relative!important;overflow:hidden;display:none;">
<ul></ul>
<div class="overlay-control photos">
  <a href="#">
    <i class="icon icon-camera"></i>
    <span class="container">
      <span class="current">1</span>/<span class="total"></span>
    </span>
  </a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<div id="galleryMin" class="encounter-photo" style="background-color:#2D3238;padding:0px;width: 100%;">
<ul class="profile-gallery">
  <li>
    <a href="#" onclick="loader('#add-photos');">
      <div class="gallery-upload">
        <i class="icon icon-camera camera"></i>
        <i class="icon icon-plus plus"></i>
        <?=$system->translate('Add_Photos')?>
      </div>
    </a>
  </li>
  <?php if($media->num_rows >= 1) { ?>
  <?php while($photo = $media->fetch_object()) { ?>
  <li>
    <div class="gallery-item">
      <img src="<?=$system->getDomain()?>/uploads/<?=$photo->path?>" onclick="getGalleryFull(<?=$profile->id?>,this); toggleGallery();">
      <span class="delete btn-tooltip" onclick="deletePhoto(<?=$photo->id?>)">
        <i class="ti-trash"></i>
      </span>
      <div class="hidden"> <?=$system->translate('Delete_Photo')?> </div>
      <?php if($photo->path == $profile->profile_picture) { ?>
      <span class="profile-photo btn-tooltip btn-disabled">
        <i class="icon icon-user"></i>
      </span>
      <div class="hidden"> <?=$system->translate('Your_Profile_Photo')?> </div>
      <? } else { ?>
      <span class="profile-photo btn-tooltip" onclick="setAsProfilePhoto(<?=$photo->id?>)">
        <i class="icon icon-user"></i>
      </span>
      <div class="hidden"> <?=$system->translate('Set_Profile_Photo')?> </div>
      <? } ?>
    </div>
  </li>
  <? } ?>
  <? } ?>
</ul>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<div id="profileArea">
<div class="well bg-white overflow-auto" style="padding-top:0px;padding-right:0px;display: -webkit-flex;padding-bottom:0px;margin-bottom:0px;">
  <div class="col-xs-8">
    <?php if($profile->work || $profile->education) { ?>
    <div id="editable">
      <h4 class="profile-section-heading">
        <?=$system->translate('Work_Education')?>
        <a href="#" class="btn btn-primary btn-sm btn-icon btn-edit" onclick="makeEditable(1); return false;"> <i class="icon icon-pencil2"></i> </a>
      </h4>
      <div id="uneditable-1" onclick="makeEditable(1); return false;">
        <span class="profile-section">
          <?=$profile->unlockText('work_and_education',$profile->work.'<br>'.$profile->education,$profile->id)?>
        </span>
      </div>
      <div id="editable-1" class="ed">
        <span class="profile-section">
          <form action="" method="post">
            <div class="col-xs-12">
              <div class="row">
                <div class="form-group">
                  <div class="col-xs-3 left left-btn">
                    <b> <?=$system->translate('Update_Info')?> </b>
                  </div>
                  <div class="col-xs-3 right">
                    <a href="#" class="btn btn-default btn-fill btn-icon btn-sm" onclick="fbSyncInfo('work_and_education'); return false;">
                      <i class="icon icon-facebook"></i> Facebook
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-xs-3 left">
                    <b> <?=$system->translate('Education')?> </b>
                  </div>
                  <div class="col-xs-8 right">
                    <input type="text" name="education" class="form-control input-sm" value="<?=htmlentities($profile->education)?>" autocomplete="off" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-xs-3 left">
                    <b> <?=$system->translate('Work')?> </b>
                  </div>
                  <div class="col-xs-8 right">
                    <input type="text" name="work" class="form-control input-sm" value="<?=htmlentities($profile->work)?>" autocomplete="off" required>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="actions">
                <a href="#" class="btn btn-default btn-fill btn-sm pull-right" onclick="makeEditable(1); return false;"> <?=$system->translate('Report_5')?> </a>
                <button type="submit" name="save_1" class="btn btn-default btn-fill btn-sm pull-right"> <?=$system->translate('Save')?> </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr>
      <? } ?>
      <h4 class="profile-section-heading">
        <?=$system->translate('Location')?>
        <!-- <a href="#" class="pull-right" onclick="toggleMap(); return false;">
         <span class="active"><?=$system->translate('Hide_Map')?></span>
         <span class="inactive"><?=$system->translate('Show_Map')?></span>
       </a> -->
     </h4>
     <span class="profile-section">
      <?=$profile->city?>, <?=$profile->country?> 
      <div class="map" style="display: block;">
        <span class="info"> <?=$system->translate('Location_Set')?> </span>
        <img style="border-radius: 7px;" src="https://maps.googleapis.com/maps/api/staticmap?autoscale=1&size=559x160&maptype=roadmap&format=png
        &visual_refresh=true&markers=size:mid%7Ccolor:0x255ffc%7Clabel:%7C<?=$profile->latitude?>,<?=$profile->longitude?>&key=<?=$system->settings->google_maps_api_key?>">
      </div>
    </span>
    <hr>
    <div id="editable">
      <h4 class="profile-section-heading">
        <?=$system->translate('Description')?>
        <a href="#" class="btn btn-primary btn-sm btn-icon btn-edit" onclick="makeEditable(2); return false;"> <i class="icon icon-pencil2"></i> </a>
      </h4>
      <div id="uneditable-2" onclick="makeEditable(2); return false;">
        <span class="profile-section">
          <?=$profile->convertHereTo()?>
        </span>
      </div>
      <div id="editable-2" class="ed">
        <span class="profile-section">
          <form action="" method="post">
            <div class="col-xs-12">
              <div class="form-group">
                <div class="col-xs-4">
                  <div class="radio radio-primary checkbox-padding pull-left">
                    <input type="radio" name="here_to" id="radio1" value="1" <? if($profile->here_to == 1) { echo 'checked'; } ?>>
                    <label for="radio1">
                      <?=$system->translate('Here_Friends')?>
                    </label>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="radio radio-primary checkbox-padding pull-left">
                    <input type="radio" name="here_to" id="radio2" value="2" <? if($profile->here_to == 2) { echo 'checked'; } ?>>
                    <label for="radio2">
                      <?=$system->translate('Here_Chat')?>
                    </label>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="radio radio-primary checkbox-padding pull-left">
                    <input type="radio" name="here_to" id="radio3" value="3" <? if($profile->here_to == 3) { echo 'checked'; } ?>>
                    <label for="radio3">
                      <?=$system->translate('Here_Date')?>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-xs-2 pull-right">
                <div class="actions">
                  <button type="submit" name="save_2" class="btn btn-default btn-fill btn-sm pull-right"> <?=$system->translate('Save')?> </button>
                </div>
              </div>
            </div>
          </form>
        </span>
      </div>
    </div>
    <hr>
    <?php if($interests->num_rows >= 1) { ?>
      <h4 class="profile-section-heading"><?=$interests->num_rows?> Interests</h4>
      <span class="profile-section">
        <? while($interest = $interests->fetch_object()) { ?>
        <div class="interest-item"><?=htmlentities($interest->name)?></div>
        <? } ?>
      </span>
      <hr>
      <? } ?>
      <div id="editable">
        <h4 class="profile-section-heading">
          <?=$system->translate('Personal_Info')?>
          <a href="#" class="btn btn-primary btn-sm btn-icon btn-edit" onclick="makeEditable(3); return false;"> <i class="icon icon-pencil2"></i> </a>
        </h4>
        <div id="uneditable-3" onclick="makeEditable(3); return false;">
          <p class="profile-section"> <?=htmlentities($profile->bio)?> </p>
          <table class="table table-responsive profile-section" style="max-width:600px;">
            <tr>
              <td align="left">
                <b><?=$system->translate('Gender')?></b>
              </td>
              <td> <?=$helper->emptyText('<span class="underline">Add info</span>',htmlentities($profile->gender))?> </td>
            </tr>
            <tr>
              <td align="left">
                <b><?=$system->translate('Relationship')?></b>
              </td>
              <td> <?=$helper->emptyText('<span class="underline">Add info</span>',htmlentities($profile->relationship))?> </td>
            </tr>
            <tr>
              <td align="left">
                <b><?=$system->translate('Sexuality')?></b>
              </td>
              <td> <?=$helper->emptyText('<span class="underline">Add info</span>',htmlentities($profile->sexuality))?> </td>
            </tr>
            <tr>
              <td align="left">
                <b><?=$system->translate('Height')?></b>
              </td>
              <td> <?=$helper->emptyText('<span class="underline">Add info</span>',htmlentities($profile->height))?> </td>
            </tr>
            <tr>
              <td align="left">
                <b><?=$system->translate('Weight')?></b>
              </td>
              <td> <?=$helper->emptyText('<span class="underline">Add info</span>',htmlentities($profile->weight))?> </td>
            </tr>
          </table>
          <hr>
        </div>
        <div id="editable-3" class="ed">
          <span class="profile-section">
            <form action="" method="post">
              <div class="col-xs-12">
                <div class="row">
                  <div class="form-group">
                    <div class="col-xs-3 left">
                      <b> <?=$system->translate('About_Me')?> </b>
                    </div>
                    <div class="col-xs-8 right">
                      <textarea name="bio" class="form-control" rows="4" required><?=htmlentities($profile->bio)?></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-xs-3 left">
                      <b> <?=$system->translate('Relationship')?> </b>
                    </div>
                    <div class="col-xs-8 right">
                      <select name="relationship" class="form-control chosen" required>
                        <option value="0">&nbsp</option>
                        <option value="Single" <?php if($profile->relationship == 'Single') { echo 'selected'; } ?>> <?=$system->translate('Single')?> </option>
                        <option value="Taken" <?php if($profile->relationship == 'Taken') { echo 'selected'; } ?>>  <?=$system->translate('Taken')?> </option>
                        <option value="Open" <?php if($profile->relationship == 'Open') { echo 'selected'; } ?>> <?=$system->translate('Open')?> </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-xs-3 left">
                      <b> <?=$system->translate('Sexuality')?> </b>
                    </div>
                    <div class="col-xs-8 right">
                      <select name="sexuality" class="form-control chosen" required>
                        <option value="0">&nbsp</option>
                        <option value="Straight" <?php if($profile->sexuality == 'Straight') { echo 'selected'; } ?>> <?=$system->translate('Straight')?> </option>
                        <option value="Gay" <?php if($profile->sexuality == 'Gay') { echo 'selected'; } ?>> <?=$system->translate('Gay')?> </option>
                        <option value="Lesbian" <?php if($profile->sexuality == 'Lesbian') { echo 'selected'; } ?>> <?=$system->translate('Lesbian')?> </option>
                        <option value="Bisexual" <?php if($profile->sexuality == 'Bisexual') { echo 'selected'; } ?>> <?=$system->translate('Bisexual')?> </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-xs-3 left">
                      <b> <?=$system->translate('Gender')?> </b>
                    </div>
                    <div class="col-xs-8 right">
                      <select name="gender" class="form-control chosen" required>
                        <option value="0">&nbsp</option>
                        <option value="Male" <?php if($profile->gender == 'Male') { echo 'selected'; } ?>> <?=$system->translate('Male')?> </option>
                        <option value="Female" <?php if($profile->gender == 'Female') { echo 'selected'; } ?>> <?=$system->translate('Female')?> </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-xs-3 left">
                      <b> <?=$system->translate('Height')?> </b>
                    </div>
                    <div class="col-xs-8 right">
                      <div class="chosen-wrap">
                        <select name="height" class="form-control chosen" required>
                          <option value="0">&nbsp</option>
                          <?
                          $imperial = array('one' => 4, 'two' => 6);
                          $metric = 138;
                          while($imperial['one'] < 7) {
                            $imperial['two'] = $imperial['two']+1;
                            if($imperial['two'] == 11) {
                              $imperial['one'] = $imperial['one']+1;
                              $imperial['two'] = 0;
                            }
                            $inches = ($imperial['one'] * 12) + $imperial['two'];
                            $metric = (int) round($inches / 0.393701);
                            $value = $imperial['one']."'".$imperial['two']." (".$metric."cm)";
                            if(substr($profile->height,0,3) === $imperial['one']."'".$imperial['two']) {
                              ?>
                              <option value="<?=$value?>" selected> <?=$value?> </option>
                              <? } else { ?>
                              <option value="<?=$value?>"> <?=$value?> </option>
                              <? } ?>
                              <? } ?>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group">
                        <div class="col-xs-3 left">
                          <b> <?=$system->translate('Weight')?> </b>
                        </div>
                        <div class="col-xs-8 right">
                          <div class="chosen-wrap">
                            <select name="weight" class="form-control chosen" required>
                              <option value="0">&nbsp</option>
                              <?
                              $imperial = 86;
                              $metric = 138;
                              while($imperial < 331) {
                                $imperial = $imperial+1;
                                $metric = round($imperial/2.2);
                                $value = $imperial." lbs (".$metric."kg)";
                                if(trim(substr($profile->weight,0,3)) === trim($imperial)) {
                                  ?>
                                  <option value="<?=$value?>" selected> <?=$value?> </option>
                                  <? } else { ?>
                                  <option value="<?=$value?>"> <?=$value?> </option>
                                  <? } ?>
                                  <? } ?>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="actions">
                          <a href="#" class="btn btn-default btn-fill btn-sm pull-right" onclick="makeEditable(3); return false;"> <?=$system->translate('Report_5')?> </a>
                          <button type="submit" name="save_3" class="btn btn-default btn-fill btn-sm pull-right"> <?=$system->translate('Save')?> </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <h4 class="profile-section-heading"><?=$system->translate('Languages')?></h4>
                <span class="profile-section"> <?=ucfirst($_SESSION['language'])?> <?=$profile->languages?> </span>
                <br><br>
              </div>
              <div class="col-xs-4 profile-aside-flex" style="background-color:#ffffff;border-left:1px solid rgba(0,0,0,.15);-webkit-flex: 1;">
                <div class="profile-aside">
                  <h4 class="profile-section-heading"><?=$system->translate('Score')?></h4>
                  <div class="score-container">
                    <div class="score-chart">
                      <span class="<?=$score['class']?>">
                        <?=$score['display_value']?>
                      </span>
                    </div>
                    <input type="hidden" class="score-percentage" value="<?=$score['percentage']?>">
                    <div class="score-info"><b><?=$score['likes']?></b> out of <b><?=$score['total']?></b> <br> people liked her! </div>
                  </div>
                  <?php if($owned_gifts->num_rows >= 1) { ?>
                  <div class="clearfix"></div>
                  <hr>
                  <h4 class="profile-section-heading"><?=$system->translate('Gifts')?></h4>
                  <div class="profile-gifts">
                    <?php
                    while($owned_gift = $owned_gifts->fetch_object()) {
                      $id = $owned_gift->user1;
                      $sender = new User($id);
                      include('layout/profile/single_gift.phtml');
                    } 
                    ?>
                  </div>
                  <? } ?>
                <div class="clearfix"></div>
                <hr>
                <h4 class="profile-section-heading"><?=$system->translate('Verifications')?></h4>
                <span class="profile-section">
                  <div class="profile-verifications">
                    <?php
                    while($verification = $verifications->fetch_object()) {
                      include('layout/profile/single_verification.phtml');
                    }
                    ?>
                  </div>
                  <a href="#" class="btn btn-default btn-fill btn-sm btn-block" onclick="loader('#verify'); return false;"> 
                    <?=$system->translate('Get_Verified')?>
                  </a>
                </span>
                <?php if($owned_awards->num_rows >= 1) { ?>
                <div class="clearfix"></div>
                <hr>
                <h4 class="profile-section-heading"><?=$system->translate('Awards')?></h4>
                <span class="profile-section">
                  <div class="profile-awards">
                    <?php
                    while($owned_award = $owned_awards->fetch_object()) {
                      $id = $owned_award->award_id;
                      $award = $profile->getAward($id);
                      include('layout/profile/single_award.phtml');
                    } 
                    ?>
                  </div>
                </span>
                <? } ?>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <footer>
             <?=$widget->inviteFriends()?>
             <?=$widget->footerPages()?>
           </footer>
           <div class="text-center">
            <?=$system->setting('ad_2')?>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
<div class="modal fade" id="add-photos" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-body text-center">
    <div class="modal-heading">
      <h2> <?=$system->translate('Add_Photos')?> </h2>
    </div>
    <div class="modal-inner text-center">
      <div id="myDropzone" class="dropzone">
        <div class="dz-message" data-dz-message>
          <span>
            <button class="btn btn-primary btn-fill" style="border-color: #ffffff;background: linear-gradient(90deg, #ff5c72, #a485f2);"> <i class="icon icon-arrow-up2" style="color: #f46283;"></i> <?=$system->translate('Upload_Photos_Computer')?> </button> <br>
            <small class="text-muted"><?=$system->translate('Drag_Photos')?></small>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="modal fade" id="unlock-education" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<form action="" method="post">
  <div class="modal-content">
    <div class="modal-body text-center">
      <div class="modal-heading">
        <h2> <?=$system->translate('Update_Work_Education')?> </h2>
        <i class="ti-close close" data-dismiss="modal" aria-label="Close"></i>
        <img src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>" class="img-circle no-padding">
        <p><?=sprintf($system->translate('Update_FB_Info'),$profile->full_name)?> </span>
        </div>
        <div class="modal-inner">
          <a href="#" class="btn btn-primary btn-fill btn-lg btn-icon btn-wd" onclick="fbSyncInfo('work_and_education'); return false;">
           <i class="icon icon-facebook"></i><?=$system->translate('Update_Now')?>
         </a>
       </div>
     </div>
   </div>
 </form>
</div>
</div>
<div class="modal fade" id="verify" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-body text-center">
    <div class="bg-blue"></div>
    <img src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>" class="avatar img-circle">
    <div class="verify-icon"> <i class="icon icon-checkmark"></i> </div>
    <p class="primary"> <?=$system->translate('Verify_Profile')?> </p>
    <a href="#" class="btn btn-info btn-fill btn-icon btn-wd" data-toggle="modal" data-target="#take-photo">
     <i class="icon icon-image"></i> <?=$system->translate('Verify_By_1')?>
   </a>
   <p class="secondary"><?=$system->translate('Verify_Options')?></p>
   <div class="verifications">
    <div class="item facebook <?php if($profile->hasVerification('facebook')) { echo 'verified'; } ?>" onclick="fbVerify(); return false;">
      <i class="icon icon-facebook" style="background-color: #2473f4;"></i>
      <p class="name"> Facebook </p>
      <p class="status"> 
       <?php if($profile->hasVerification('facebook')) { ?>
       Verified 
       <? } else { ?>
       Verify
       <? } ?> 
     </p>
   </div>
 </div>
 <small class="text-muted"> <?$system->translate('Use_Info_Verify')?> </small>
</div>
</div>
</div>
</div>
<div class="modal fade" id="take-photo" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body text-center">
<i class="ti-close close" data-dismiss="modal" aria-label="Close"></i>
<form id="take-photo-form" action="<?=$system->getDomain()?>/ajax/uploadPhotoVerification.php" enctype="multipart/form-data" method="post">
  <img src="<?=$system->getDomain()?>/img/hand-gesture.jpg" class="hand-gesture">
  <h3> <?=$system->translate('Copy_Gesture')?> </h3>
  <p> 
    <?=$system->translate('Copy_Gesture_1')?>
  </p>
  <a href="#" class="btn btn-info btn-fill btn-wd btn-lg" onclick="$('#image-browse').click(); return false;">
   <?=$system->translate('Upload_Photo')?> 
 </a>
 <div class="clearfix"></div>
 <small class="text-muted"> <?=$system->translate('Upload_Photo_1')?> </small>
 <input type="file" id="image-browse" name="image_data" style="display:none;">
</form>
</div>
</div>
</div>
</div>
<div class="modal fade" id="single-award" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body text-center"></div>
</div>
</div>
</div>
<div class="modal fade" id="single-gift" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body text-center"></div>
</div>
</div>
</div>
<input type="hidden" id="gift_id">