<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="well well-encounter bg-white overflow-auto mb-0">
<div class="encounter-controls pull-left">
  <div id="heart" onclick="likeProfile(<?=$profile->id?>,false)" class="pull-left">
    <?php if($my_user->canLike($profile->id)) { ?>
    <button class="btn btn-circle btn-danger btn-lg">
      <i class="icon icon-heart"></i>
    </button>
    <? } else { ?>
    <button class="btn btn-circle btn-danger btn-lg" disabled>
      <i class="icon icon-heart"></i>
    </button>
    <? } ?>
  </div>
  <div id="times" onclick="dislikeProfile(<?=$profile->id?>,false)" class="pull-left">
    <?php if($my_user->canDislike($profile->id)) { ?>
    <button class="btn btn-circle btn-primary btn-lg">
      <i class="icon icon-cross"></i>
    </button>
    <? } else { ?>
    <button class="btn btn-circle btn-primary btn-lg" disabled>
      <i class="icon icon-cross"></i>
    </button>
    <? } ?>
  </div>
</div>
<div class="encounter-info pull-left">
  <div class="encounters-name">
    <?php if($profile->isOnline()) { ?>
    <i class="online-status online"></i>
    <? } else { ?>
    <i class="online-status offline"></i>
    <? } ?>
    <a href="#" onclick="getGalleryFull(<?=$profile->id?>,0); toggleGallery();">
      <span class="primary"><?=$profile->full_name?>, <?=$profile->age?></span>
    </a>
    <?php if($profile->isVerified()) { ?>
    <a class="btn btn-info btn-xs btn-fill btn-icon profile-badge btn-tooltip">
      <i class="icon icon-checkmark"></i>
    </a>
    <div class="hidden"> This profile is verified </div>
    <? } ?>
    <?php if($profile->hasSuperPowers()) { ?>
    <div class="superman-svg profile-badge btn-tooltip">
      <a class="btn btn-warning btn-xs btn-icon">
        <object data="<?=$system->getDomain()?>/img/superman-clean.svg" type="image/svg+xml"></object>
      </a>
    </div>
    <div class="hidden"> Super Powered Girl! </div>
    <? } ?>
    <div class="interests">
      <span class="interests-num"><?=$my_user->getCommonInterests($profile->id)?></span>
      <span class="interests-text"><?=$system->translate('Interests_Common')?></span>
    </div>
  </div>
</div>
<div class="profile-controls pull-right">
  <a href="#" class="btn btn-default btn-icon btn-lg profile-control pull-left btn-cog" onclick="initChat(<?=$profile->id?>); return false;">
    <i class="icon icon-bubble"></i>
    <span> <?=$system->translate('Chat_Now')?></span>
  </a>
  <div id="favorite" onclick="favoriteProfile(<?=$profile->id?>);" class="pull-left">
    <?php if($my_user->canFavorite($profile->id)) { ?>
    <button class="btn btn-default btn-icon btn-lg btn-tooltip profile-control btn-cog" onclick="favoriteProfile('.$profile_id.');">
      <i class="icon icon-star-full"></i>
    </button>
    <div class="hidden"> Add to favorites </div>
    <? } else { ?>
    <button class="btn btn-warning btn-fill btn-icon btn-lg btn-tooltip profile-control">
      <i class="icon icon-star-full"></i>
    </button>
    <div class="hidden"> Remove from favorites </div>
    <? } ?>
  </div>
  <a href="#" class="btn btn-default btn-icon btn-lg profile-control btn-cog" onclick="loader('#send-gift'); return false;">
    <i class="icon icon-gift"></i>
  </a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<div id="galleryFull" class="well overflow-auto mb-0 text-center encounter-photo" style="background-color:#2D3238;margin-bottom:0px!important;margin-top:0px!important;padding-top:0px!important;padding-bottom:0px;position:relative!important;overflow:hidden;display:none;">
<ul></ul>
<div class="overlay-control photos">
  <a href="#">
    <i class="icon icon-camera"></i>
    <span class="container">
      <span class="current">1</span>/<span class="total"></span>
    </span>
  </a>
</div>
<div class="overlay-control flag btn-tooltip" onclick="reportPhoto()">
  <a href="#"><i class="icon icon-flag"></i></a>
</div>
<div class="hidden"> <?=$system->translate('Report')?></div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<div id="galleryMin" class="encounter-photo" style="background-color:#2D3238;padding:0px;width: 100%;">
<?php if($media->num_rows >= 1) { ?>
<ul class="profile-gallery">
  <?php while($photo = $media->fetch_object()) { ?>
  <li>
    <div class="gallery-item">
      <img src="<?=$system->getDomain()?>/uploads/<?=$photo->path?>" onclick="getGalleryFull(<?=$profile->id?>,this); toggleGallery();">
    </div>
  </li>
  <? } ?>
</ul>
<? } ?>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<div id="profileArea">
<div class="well bg-white overflow-auto" style="padding-top:0px;padding-right:0px;display: -webkit-flex;padding-bottom:0px;margin-bottom:0px;">
  <div class="col-xs-8">
    <?php if($profile->work && $profile->education) { ?>
    <h4 class="profile-section-heading">Work & Education</h4>
    <span class="profile-section">
      <?=$profile->unlockText('work_and_education',$profile->work.'<br>'.$profile->education,$profile->id)?>
    </span>
    <hr>
    <?php } elseif(!$profile->work && $profile->education) { ?>
    <h4 class="profile-section-heading">Work</h4>
    <span class="profile-section">
      <?=$profile->unlockText('work_and_education',$profile->work,$profile->id)?>
    </span>
    <hr>
    <?php } elseif($profile->work && !$profile->education) { ?>
    <h4 class="profile-section-heading">Education</h4>
    <span class="profile-section">
      <?=$profile->unlockText('work_and_education',$profile->education,$profile->id)?>
    </span>
    <hr>
    <? } ?>
    <h4 class="profile-section-heading"><?=$system->translate('Location')?></h4>
    <span class="profile-section">
      <?=$profile->city?>, <?=$profile->country?> 
      (<?=$distance?>)
      <div class="map" style="display: block;">
        <span class="info"> <?=$system->translate('Location_Set')?> </span>
        <img style="border-radius: 7px;" src="https://maps.googleapis.com/maps/api/staticmap?autoscale=1&size=559x160&maptype=roadmap&format=png
        &visual_refresh=true&markers=size:mid%7Ccolor:0x255ffc%7Clabel:%7C<?=$profile->latitude?>,<?=$profile->longitude?>&key=<?=$system->settings->google_maps_api_key?>">
      </div>
    </span>
    <hr>
    <h4 class="profile-section-heading"><?=$system->translate('Description')?></h4>
    <span class="profile-section">
      <?=$profile->convertHereTo()?>
    </span>
    <hr>
    <?php if($interests->num_rows >= 1) { ?>
    <h4 class="profile-section-heading"><?=$interests->num_rows?> Interests</h4>
    <span class="profile-section">
      <?php while($interest = $interests->fetch_object()) { ?>
      <div class="interest-item"><?=htmlentities($interest->name)?></div>
      <? } ?>
    </span>
    <hr>
    <? } ?>
    <h4 class="profile-section-heading"><?=$system->translate('Personal_Info')?></h4>
    <p class="profile-section"> <?=htmlentities($profile->bio)?> </p>
    <table class="table table-responsive profile-section" style="max-width:600px;">
      <tr>
        <td align="left">
          <b><?=$system->translate('Gender')?></b>
        </td>
        <td> <?=$helper->emptyText('<span>No info</span>',htmlentities($profile->gender))?> </td>
      </tr>
      <tr>
        <td align="left">
          <b>Relationship</b>
        </td>
        <td> <?=$helper->emptyText('<span>No info</span>',htmlentities($profile->relationship))?> </td>
      </tr>
      <tr>
        <td align="left">
          <b>Sexuality</b>
        </td>
        <td> <?=$helper->emptyText('<span>No info</span>',htmlentities($profile->sexuality))?> </td>
      </tr>
      <tr>
        <td align="left">
          <b>Height</b>
        </td>
        <td> <?=$helper->emptyText('<span>No info</span>',htmlentities($profile->height))?> </td>
      </tr>
      <tr>
        <td align="left">
          <b><?=$system->translate('Weight')?></b>
        </td>
        <td> <?=$helper->emptyText('<span>No info</span>',htmlentities($profile->weight))?> </td>
      </tr>
    </table>
    <hr>
    <h4 class="profile-section-heading"><?=$system->translate('Languages')?></h4>
    <span class="profile-section"> <?=htmlentities($profile->languages)?> </span>
    <br><br>
  </div>
  <div class="col-xs-4 profile-aside-flex" style="background-color:#ffffff;border-left:1px solid rgba(0,0,0,.15);-webkit-flex: 1;">
    <div class="profile-aside">
      <h4 class="profile-section-heading"><?=$system->translate('Score')?></h4>
      <div class="score-container">
        <div class="score-chart">
          <span class="<?=$score['class']?>">
            <?=$score['display_value']?>
          </span>
        </div>
        <input type="hidden" class="score-percentage" value="<?=$score['percentage']?>">
        <div class="score-info"><b><?=$score['likes']?></b> out of <b><?=$score['total']?></b> <br> people liked her! </div>
      </div>
      <div class="clearfix"></div>
      <hr>
      <h4 class="profile-section-heading"><?=$system->translate('Gifts')?></h4>
      <div class="profile-gifts">
        <div class="gift-promo">
         <img src="<?=$system->getDomain()?>/img/gifts/5.png" class="img-responsive gift-image-small">
         <div class="icon"><i class="icon icon-plus"></i></div>
         <a href="#" onclick="loader('#send-gift'); return false;">
          <p  style="color: #2b8cfc;">Grab her attention with <br> a gift</p>
        </a>
      </div>
      <?php
      while($owned_gift = $owned_gifts->fetch_object()) {
        $id = $owned_gift->user1;
        $sender = new User($id);
        include('layout/profile/single_gift.phtml');
      }
      ?>
    </div>
    <div class="clearfix"></div>
    <hr>
    <h4 class="profile-section-heading"><?=$system->translate('Verifications')?></h4>
    <span class="profile-section">
      <div class="profile-verifications">
        <?php
        while($verification = $verifications->fetch_object()) {
          include('layout/profile/single_verification.phtml');
        }
        ?>
      </div>
      <a href="#" class="btn btn-default btn-fill btn-sm btn-block" onclick="loader('#verify'); return false;"> 
        <?=$system->translate('Get_Verified')?> 
      </a>
    </span>
    <?php if($owned_awards->num_rows >= 1) { ?>
    <div class="clearfix"></div>
    <hr>
    <h4 class="profile-section-heading"><?=$system->translate('Awards')?></h4>
    <span class="profile-section">
      <div class="profile-awards">
        <?php
        while($owned_award = $owned_awards->fetch_object()) {
          $id = $owned_award->award_id;
          $award = $profile->getAward($id);
          include('layout/profile/single_award.phtml');
        } 
        ?>
      </div>
    </span>
    <? } ?>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
 <footer>
   <?=$widget->inviteFriends()?>
   <?=$widget->footerPages()?>
 </footer>
 <div class="text-center">
  <?=$system->setting('ad_2')?>
 </div>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="unlock-education" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<form action="" method="post">
<div class="modal-content">
<div class="modal-body text-center">
<div class="modal-heading">
  <h2><?=$system->translate('Update_Work_Education')?></h2>
  <i class="ti-close close" data-dismiss="modal" aria-label="Close"></i>
  <img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="img-circle no-padding">
  <p><?=sprintf($system->translate('Want_To_Know'),$profile->full_name)?></span>
  </div>
  <div class="modal-inner text-center">
    <a href="#" class="btn btn-primary btn-fill btn-lg btn-icon btn-wd" onclick="fbSyncInfo('work_and_education'); return false;">
     <i class="icon icon-facebook"></i><?=$system->translate('Update_Now')?>
   </a>
 </div>
</div>
</div>
</form>
</div>
</div>
<div class="modal fade" id="send-gift" tabindex="-2" role="dialog">
<div class="modal-dialog" role="document">
<form action="<?=$system->getDomain()?>/requests/send_gift.php" method="post">
<div class="modal-content">
<div class="modal-header">
<i class="ti-close close" data-dismiss="modal" aria-label="Close"></i>
<h4 class="modal-title"><?=$system->translate('Send_Gift')?></h4>
</div>
<div class="modal-body overflow-auto">
<div class="pull-left" style="margin-bottom:10px;font-weight:600;"><?=$system->translate('Regular')?></div>
<div class="pull-right" style="margin-bottom:10px;font-weight:600;"> 
  <small class="text-muted"> <?=sprintf($system->translate('Service_Cost'),$system->settings->gift_price)?> </small> 
</div>
<div class="clearfix"></div>
<div class="gift-selection">
  <img src="<?=$system->getDomain()?>/img/gifts/1.png" id="gift1" class="gift-image img-responsive pull-left" onclick="selectGift(1)">
  <img src="<?=$system->getDomain()?>/img/gifts/2.png" id="gift2" class="gift-image img-responsive pull-left" onclick="selectGift(2)">
  <img src="<?=$system->getDomain()?>/img/gifts/3.png" id="gift3" class="gift-image img-responsive pull-left" onclick="selectGift(3)">
  <img src="<?=$system->getDomain()?>/img/gifts/4.png" id="gift4" class="gift-image img-responsive pull-left" onclick="selectGift(4)">
  <img src="<?=$system->getDomain()?>/img/gifts/5.png" id="gift5" class="gift-image img-responsive pull-left" onclick="selectGift(5)">
  <img src="<?=$system->getDomain()?>/img/gifts/6.png" id="gift6" class="gift-image img-responsive pull-left" onclick="selectGift(6)">
  <img src="<?=$system->getDomain()?>/img/gifts/7.png" id="gift7" class="gift-image img-responsive pull-left" onclick="selectGift(7)">
  <img src="<?=$system->getDomain()?>/img/gifts/8.png" id="gift8" class="gift-image img-responsive pull-left" onclick="selectGift(8)">
  <img src="<?=$system->getDomain()?>/img/gifts/9.png" id="gift9" class="gift-image img-responsive pull-left" onclick="selectGift(9)">
  <img src="<?=$system->getDomain()?>/img/gifts/10.png" id="gift10" class="gift-image img-responsive pull-left" onclick="selectGift(10)">
  <img src="<?=$system->getDomain()?>/img/gifts/11.png" id="gift11" class="gift-image img-responsive pull-left" onclick="selectGift(11)">
  <img src="<?=$system->getDomain()?>/img/gifts/12.png" id="gift12" class="gift-image img-responsive pull-left" onclick="selectGift(12)">
  <img src="<?=$system->getDomain()?>/img/gifts/13.png" id="gift13" class="gift-image img-responsive pull-left" onclick="selectGift(13)">
  <img src="<?=$system->getDomain()?>/img/gifts/14.png" id="gift14" class="gift-image img-responsive pull-left" onclick="selectGift(14)">
  <img src="<?=$system->getDomain()?>/img/gifts/15.png" id="gift15" class="gift-image img-responsive pull-left" onclick="selectGift(15)">
  <img src="<?=$system->getDomain()?>/img/gifts/16.png" id="gift16" class="gift-image img-responsive pull-left" onclick="selectGift(16)">
  <img src="<?=$system->getDomain()?>/img/gifts/17.png" id="gift17" class="gift-image img-responsive pull-left" onclick="selectGift(17)">
  <img src="<?=$system->getDomain()?>/img/gifts/18.png" id="gift18" class="gift-image img-responsive pull-left" onclick="selectGift(18)">
  <img src="<?=$system->getDomain()?>/img/gifts/19.png" id="gift19" class="gift-image img-responsive pull-left" onclick="selectGift(19)">
  <img src="<?=$system->getDomain()?>/img/gifts/20.png" id="gift20" class="gift-image img-responsive pull-left" onclick="selectGift(20)">
  <img src="<?=$system->getDomain()?>/img/gifts/21.png" id="gift21" class="gift-image img-responsive pull-left" onclick="selectGift(21)">
  <img src="<?=$system->getDomain()?>/img/gifts/22.png" id="gift22" class="gift-image img-responsive pull-left" onclick="selectGift(22)">
  <img src="<?=$system->getDomain()?>/img/gifts/23.png" id="gift23" class="gift-image img-responsive pull-left" onclick="selectGift(23)">
  <img src="<?=$system->getDomain()?>/img/gifts/24.png" id="gift24" class="gift-image img-responsive pull-left" onclick="selectGift(24)">
  <img src="<?=$system->getDomain()?>/img/gifts/25.png" id="gift25" class="gift-image img-responsive pull-left" onclick="selectGift(25)">
  <img src="<?=$system->getDomain()?>/img/gifts/26.png" id="gift26" class="gift-image img-responsive pull-left" onclick="selectGift(26)">
</div>
<div class="form-group">
  <input type="text" name="message" placeholder="Type your message here" class="form-control input-animation" id="input-animation">
</div>
<div class="btn-container" >
  <button type="submit" name="send_gift" class="btn btn-primary btn-fill btn-wd" style="border-color: #19c8ea;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #0079fc, #1fd9e6) repeat scroll 0 0; border: 5px double #eee;"><?=$system->translate('Continue')?></button>
</div>
</div>
</div>
<input type="hidden" name="giftValue" id="giftValue">
<input type="hidden" name="profile_id" value="<?=$profile->id?>">
</form>
</div>
</div>
</div>
<div class="modal fade" id="verify" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body text-center">
<div class="bg-blue"></div>
<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="avatar img-circle">
<div class="verify-icon"> <i class="icon icon-checkmark"></i> </div>
<p class="primary"><?=$system->translate('Verify_Profile')?></p>
<a href="#" class="btn btn-info btn-fill btn-icon btn-wd" data-toggle="modal" data-target="#take-photo">
<i class="icon icon-image"></i><?=$system->translate('Verify_By_1')?>
</a>
<p class="secondary"><?=$system->translate('Verify_Options')?></p>
<div class="verifications">
<div class="item facebook <?php if($profile->hasVerification('facebook')) { echo 'verified'; } ?>" onclick="fbVerify(); return false;">
<i class="icon icon-facebook" style="background-color: #2473f4;"></i>
<p class="name">Facebook</p>
<p class="status"> 
 <?php if($profile->hasVerification('facebook')) { ?>
 Verified 
 <? } else { ?>
 Verify
 <? } ?> 
</p>
</div>
</div>
<small class="text-muted"><?=$system->translate('Use_Info_Verify')?></small>
</div>
</div>
</div>
</div>
<div class="modal fade" id="take-photo" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body text-center">
<i class="ti-close close" data-dismiss="modal" aria-label="Close"></i>
<form id="take-photo-form" action="<?=$system->getDomain()?>/ajax/uploadPhotoVerification.php" enctype="multipart/form-data" method="post">
<img src="<?=$system->getDomain()?>/img/hand-gesture.jpg" class="hand-gesture">
<h3><?=$system->translate('Copy_Gesture')?></h3>
<p><?=$system->translate('Copy_Gesture_1')?>
</p>
<a href="#" class="btn btn-info btn-fill btn-wd btn-lg" onclick="$('#image-browse').click(); return false;">
 <?=$system->translate('Upload_Photo')?> 
</a>
<div class="clearfix"></div>
<small class="text-muted"><?=$system->translate('Upload_Photo_1')?></small>
<input type="file" id="image-browse" name="image_data" style="display:none;">
</form>
</div>
</div>
</div>
</div>
<div class="modal fade" id="report-photo" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<form action="<?=$system->getDomain()?>/report_photo.php" method="post">
<div class="modal-content">
<div class="modal-body">
<h3><?=$system->translate('Report_Wrong')?></h3>
<div class="form-group">
  <div class="radio radio-primary checkbox-padding">
    <input type="radio" name="report_reason" id="radio1" value="1" onclick="toggleReportComment(this)" checked>
    <label for="radio1">
     <?=$system->translate('Report_1')?>
   </label>
 </div>
 <div class="radio radio-primary checkbox-padding">
  <input type="radio" name="report_reason" id="radio2" value="2" onclick="toggleReportComment(this)">
  <label for="radio2">
   <?=$system->translate('Report_2')?>
 </label>
</div>
<div class="radio radio-primary checkbox-padding">
<input type="radio" name="report_reason" id="radio3" value="3" onclick="toggleReportComment(this)">
<label for="radio3">
 <?=$system->translate('Report_3')?>
</label>
</div>
<div id="report-comment" style="display:none;">
<textarea class="form-control" name="report_comment" rows="2" placeholder="Your comments (required)"></textarea>
</div>
</div>
<div class="text-center">
<button type="submit" name="report" class="btn btn-primary btn-fill btn-sm" style="background-color: #b61d9e;border-color: #c71f90;"> 
<?=$system->translate('Report_4')?>
</button>
<a class="btn btn-default btn-fill btn-sm" data-dismiss="modal"> 
<?=$system->translate('Report_5')?>
</a> 
</div>
</div>
<input id="reported-photo" type="hidden" name="reported_photo">
</div>
</form>
</div>
</div>
<div class="modal fade" id="single-award" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body text-center"></div>
</div>
</div>
</div>
<div class="modal fade" id="single-gift" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body text-center"></div>
</div>
</div>
</div>
<input type="hidden" id="gift_id">
<input type="hidden" id="receiver_id" value="<?=$profile->id?>">