<?php if($verification->type == 'facebook') { ?>
<div class="item facebook">
	<i class="icon icon-facebook pull-left"></i>
	<p class="primary"> <?=$verification->data?> <?=$system->translate('Friends')?> </p>
	<p class="secondary text-muted"><?=$system->translate('Verified')?></p>
</div>
<?php } elseif($verification->type == 'photo') { ?>
<div class="item photo">
	<i class="icon icon-image pull-left"></i>
	<p class="primary"> <?=$system->translate('Photo')?> </p>
	<p class="secondary text-muted"><?=$system->translate('Verified')?></p>
</div>
<? } ?>