<div onclick="showSingleAward(<?=$award->id?>,<?=$owned_award->user_id?>,<?=$owned_award->time?>);">
	<img src="<?=$system->getDomain()?>/img/awards/<?=$award->award_path?>" class="no-padding award-small btn-tooltip pull-left">
	<div class="hidden"><?=$award->award_description?></div>
</div>