<div class="profile-gift" onclick="showSingleGift(<?=$owned_gift->id?>,<?=$sender->id?>)">
	<img src="<?=$system->getDomain()?>/img/gifts/<?=$owned_gift->path?>" class="img-responsive gift-image-small btn-tooltip pull-left">
	<div class="hidden">
		<div class="gift-tooltip">
			<img src="<?=$system->getDomain()?>/uploads/<?=$sender->profile_picture?>" class="img-circle no-padding gift-tooltip-image">
			<div class="gift-tooltip-title"><?=$sender->full_name?></div>
			<div class="gift-tooltip-body"><?=$owned_gift->message?></div>
		</div>
	</div>
</div>