<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="credits">
<div class="heading">
<div class="info">
<i class="icon icon-radio-checked"></i><?=$system->translate('Credits_Balance')?>:
</div>
<div class="counters">
<?php
$chars = str_split($my_user->credits);
foreach($chars as $char){
	?>
	<div class="counter-container pull-left">
		<div class="counter">
			<div class="counter-up"></div>
			<div class="counter-down"></div>
			<div class="number"><?=$char?></div>
		</div>
	</div>
	<?php } ?>
</div>
</div>
<div class="page-inner">
<div class="text-center">
	<a style="border-color: #19c8ea;background: rgba(0, 0, 0, 0) linear-gradient(to right, #0079fc, #1fd9e6) repeat scroll 0 0; border: 5px double #eee;" href="#" class="btn btn-primary btn-fill btn-wd main-btn" onclick="loader('#buy-modal'); return false;"><?=$system->translate('Top_Up')?></a>
	<h2><?=sprintf($system->translate('Meet_With'),$gender_interest,$system->settings->website_name)?></h2>
	<div class="padding-inner">
		<div class="col-xs-4">
			<div class="rise-up">
				<img src="<?=$system->getDomain()?>/img/credits/rise-up.png" class="background">
				<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="avatar">
			</div>
			<a href="#" class="btn btn-success btn-fill btn-sm btn-wd <?=$is_promoted['people']?>" onclick="creditAction(1)">
				<?=$system->translate('Rise_In_Nearby')?>
			</a>
			<p class="desc-1">
				<?=$system->translate('Rise_In_People')?>
			</p>
		</div>
		<div class="col-xs-3">
			<div class="increase-encounters">
				<img src="<?=$system->getDomain()?>/img/credits/increase-encounters.png" class="background">
				<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="avatar">
			</div>
			<a href="#" class="btn btn-emerald btn-fill btn-sm btn-wd <?=$is_promoted['encounters']?>" onclick="creditAction(2)">
				<?=$system->translate('Add_Shows_Encounters')?>
			</a>
			<p class="desc-2">
				<?=sprintf($system->translate('Promote_Encounters'),$gender_interest)?>
			</p>
		</div>
		<div class="col-xs-3">
			<div class="get-featured">
				<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="avatar">
				<img src="<?=$system->getDomain()?>/img/credits/get-featured.png" class="background">
				<img src="<?=$system->getDomain()?>/img/credits/crown.png" class="icon">
			</div>
			<a href="#" class="btn btn-primary btn-fill btn-sm btn-wd <?=$is_promoted['spotlight']?>" onclick="creditAction(3)">
				<?=$system->translate('Get_Featured')?>
			</a>
			<p class="desc-3">
				<?=sprintf($system->translate('Promote_Spotlight'),$gender_interest)?>
			</p>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<footer>
<?=$widget->footerPages()?>
</footer>
</div>
</div>
</div>
</div>
<div class="modal fade" id="buy-modal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-body">
<div class="modal-heading">
<h2> Refill your <?=$system->setting('website_name')?> credits and meet more people </h2>
</div>
<div class="modal-inner">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 payment-gateways pull-left">
<?php if(!empty($system->settings->stripe_secret_key) || !empty($system->settings->stripe_publishable_key)) { ?>
<div class="gateway active" onclick="changeGateway('stripe',this);">
	<i class="ti-credit-card"></i>
	Credit card
</div>
<? } ?>
<?php if(!empty($system->settings->paypal_email)) { ?>
<div class="gateway" onclick="changeGateway('paypal',this);">
	<i class="icon icon-paypal"></i>
	Paypal
</div>
<? } ?>
<?php if(!empty($system->settings->fortumo_credits_id)) { ?>
<div class="gateway" onclick="changeGateway('fortumo',this);">
	<i class="icon icon-mobile"></i>
	Pay by mobile
</div>
<? } ?>
</div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin:0 auto;float:none;">
	<b class="title"> <br> Refill now </b>
	<p class="description"> The more credits you buy, the cheaper they are: </p>
	<div class="col-lg-8 col-md-8 amount">
		<div class="radio radio-primary checkbox-padding">
			<input type="radio" name="radio" id="radio1" value="500" onchange="changeAmount(this)">
			<label for="radio1">
				500 credits - <?=$system->settings->credits_price_500?> <?=strtolower($system->settings->currency)?>
			</label>
		</div>
		<div class="radio radio-primary checkbox-padding">
			<input type="radio" name="radio" id="radio2" value="1000" checked onchange="changeAmount(this)">
			<label for="radio2">
				1000 credits - <?=$system->settings->credits_price_1000?> <?=strtolower($system->settings->currency)?>
			</label>
		</div>
		<div class="radio radio-primary checkbox-padding">
			<input type="radio" name="radio" id="radio3" value="2000" onchange="changeAmount(this)">
			<label for="radio3">
				2000 credits - <?=$system->settings->credits_price_2000?> <?=strtolower($system->settings->currency)?>
			</label>
		</div>
	</div>
</div>
<div id="stripe" class="gateway-process">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin:0 auto;float:none;">
		<script src="https://js.stripe.com/v3/"></script>
		<form action="<?=$system->getDomain()?>/payment/stripe.php" method="post" id="payment-form">
			<div class="form-row">
				<div id="card-element">
					<!-- a Stripe Element will be inserted here. -->
				</div>
				<div id="card-errors text-danger"></div>
			</div>
			<br>
			<button class="btn btn-success btn-fill btn-wd">Pay by card</button>
			<input type="hidden" name="credits" value="1000">
			<input type="hidden" name="type" value="credits">
		</form>
	</div>
</div>
<div id="paypal" class="gateway-process" style="display:none;">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin:0 auto;float:none;">
		<form action="<?=$system->getDomain()?>/payment/paypal/process.php" method="post">
			<button type="submit" class="btn btn-success btn-fill btn-wd">Pay with PayPal</button>
			<input type="hidden" name="credits" value="1000">
			<input type="hidden" name="type" value="credits">
		</form>
	</div>
</div>
<div id="fortumo" class="gateway-process" style="display:none;height:550px;">
	<iframe id="fortumo-embed" 
	src="http://pay.fortumo.com/mobile_payments/<?=$system->setting('fortumo_credits_id')?>?cuid=<?=$my_user->id?>" 
	frameBorder="0"></iframe>
</div>
</div> 
</div>
</div>
</div>
</div>
</div>