<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="encounter">
<?php
if($encounters->num_rows >= 1) {
$encounter = $encounters->fetch_object();
$encounter = new User($encounter->id);
$media = $encounter->getPhotos();
$score = $encounter->getScore();
$my_user->markEncounter($encounter->id);
?>
<div class="row">
<div class="col-xs-8">
<div class="well well-encounter bg-white overflow-auto mb-0">
	<div class="encounter-controls pull-left">
		<div id="heart" onclick="likeProfile(<?=$encounter->id?>,true)" class="pull-left">
			<?php if($my_user->canLike($encounter->id)) { ?>
			<button class="btn btn-circle btn-danger btn-lg">
				<i class="icon icon-heart"></i>
			</button>
			<? } else { ?>
			<button class="btn btn-circle btn-danger btn-lg" disabled>
				<i class="icon icon-heart"></i>
			</button>
			<? } ?>
		</div>
		<div id="times" onclick="dislikeProfile(<?=$encounter->id?>,true)" class="pull-left">
			<?php if($my_user->canDislike($encounter->id)) { ?>
			<button class="btn btn-circle btn-primary btn-primary-dislike btn-lg">
				<i class="icon icon-cross"></i>
			</button>
			<? } else { ?>
			<button class="btn btn-circle btn-primary btn-lg" disabled>
				<i class="icon icon-cross"></i>
			</button>
			<? } ?>
		</div>
	</div>
	<div class="encounter-info pull-left">
		<div class="encounters-name">
			<?php if($encounter->isOnline()) { echo '<i class="online-status online"></i>'; } else { echo '<i class="online-status offline"></i>'; } ?>
			<a href="<?=$system->getDomain()?>/user/<?=$encounter->id?>">
				<span class="primary"><?=$encounter->full_name?>, <?=$encounter->age?></span>
			</a>
			<?php if($encounter->isVerified()) { ?>
			<a class="btn btn-info btn-xs btn-fill btn-icon profile-badge btn-tooltip">
				<i class="icon icon-checkmark"></i>
			</a>
			<div class="hidden"> This profile is verified </div>
			<? } ?>
			<?php if($encounter->hasSuperPowers()) { ?>
			<div class="superman-svg profile-badge btn-tooltip">
				<a class="btn btn-warning btn-xs btn-icon">
					<object data=<?php echo $system->getDomain()."/img/superman-clean.svg" ?> type="image/svg+xml"></object>
				</a>
			</div>
			<div class="hidden"> Super Powered Girl! </div>
			<? } ?>
			<div class="interests">
				<span class="interests-num"><?=$my_user->getCommonInterests($encounter->id)?></span>
				<span class="interests-text">interests <br> in common</span>
			</div>
		</div>
	</div>
	<br>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8 pull-left">
<div class="well overflow-auto mb-0 text-center encounter-photo" style="background-color:#2D3238;margin-bottom:0px!important;margin-top:0px!important;padding-top:0px!important;position:relative!important;overflow:hidden;padding-bottom:0px;">
	<div id="encounterGallery">
	<ul>
		<?php
		if($media->num_rows >= 1) {
			while($photo = $media->fetch_object()) {
				$full_path = $system->getDomain().'/uploads/'.$photo->path;
				echo '
				<li data-thumb="'.$full_path.'" data-src="'.$full_path.'" data-path="'.$photo->path.'">
				<img src="'.$full_path.'">
				</li>
				';
			}
		} else {
			$full_path = $system->getDomain().'/uploads/'.$encounter->profile_picture;
			echo '
			<li data-thumb="'.$full_path.'" data-src="'.$full_path.'" data-path="'.$encounter->profile_picture.'">
			<img src="'.$full_path.'">
			</li>
			';
		}
		?>
	</ul>
	</div>
	<div class="overlay-control photos">
		<a href="#">
			<i class="icon icon-camera"></i>
			<span class="container">
			<span class="current"></span>/<span class="total"></span>
			</span>
		</a>
	</div>
	<div class="overlay-control flag btn-tooltip" onclick="reportPhoto(); return false;">
		<a href="#"><i class="icon icon-flag"></i></a>
	</div>
	<div class="hidden"><?=$system->translate('Report')?></div>
</div>
</div>
</div>
<?php } else { ?>
<div class="row">
<div class="col-xs-8 pull-left">
<div class="well well-encounter bg-white overflow-auto mb-0">
<div class="no-results text-center">
<img src="<?=$system->getDomain()?>/img/user-minus.png">
<h4> No more encounters to show. </h4>
<p> Check back a little later. </p>
</div>
</div>
</div>
</div>
<? } ?>
</div>
<div class="row">
	<div class="col-xs-8">
		<footer>
			<?=$widget->inviteFriends()?>
			<?=$widget->footerPages()?>
		</footer>
	</div>
</div>
</div>
</div>
<div class="modal fade" id="report-photo" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<form action="<?=$system->getDomain()?>/requests/report_photo.php" method="post">
<div class="modal-content">
<div class="modal-body">
<h3><?=$system->translate('Report_Wrong')?></h3>
<div class="form-group">
	<div class="radio radio-primary checkbox-padding">
		<input type="radio" name="report_reason" id="radio1" value="1" onclick="toggleReportComment(this)" checked>
		<label for="radio1">
			<?=$system->translate('Report_1')?>
		</label>
	</div>
	<div class="radio radio-primary checkbox-padding">
		<input type="radio" name="report_reason" id="radio2" value="2" onclick="toggleReportComment(this)">
		<label for="radio2">
			<?=$system->translate('Report_2')?>
		</label>
	</div>
	<div class="radio radio-primary checkbox-padding">
		<input type="radio" name="report_reason" id="radio3" value="3" onclick="toggleReportComment(this)">
		<label for="radio3">
			<?=$system->translate('Report_3')?>
		</label>
	</div>
	<div id="report-comment" style="display:none;">
	<textarea class="form-control" name="report_comment" rows="2" placeholder="Your comments (required)"></textarea>
	</div>
</div>
<div class="text-center">
<button type="submit" name="report" class="btn btn-primary btn-fill btn-sm" style="background-color: #b61d9e;border-color: #c71f90;"> 
	<?=$system->translate('Report_4')?>
 </button>
 <a class="btn btn-default btn-fill btn-sm" data-dismiss="modal"> 
	<?=$system->translate('Report_5')?>
 </a> 
</div>
</div>
<input id="reported-photo" type="hidden" name="reported_photo">
</div>
</form>
</div>
</div>