<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="<?=$system->getDomain()?>/assets/bootstrap3/js/bootstrap.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/lightslider.min.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/bxslider.min.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/circle-progress.min.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/autocomplete.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/emoji.min.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/jquery.qtip.min.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/dropzone.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="<?=$system->getDomain()?>/assets/js/pixelate.min.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/app.js" type="text/javascript"></script>
<script src="<?=$system->getDomain()?>/assets/js/mobile.js" type="text/javascript"></script>
<?php if($do['page']['name'] == 'Credits' || $do['page']['name'] == 'Super Powers') { ?>
<script src="https://assets.fortumo.com/fmp/fortumopay.js" type="text/javascript"></script>
<script>
// Create a Stripe client
var stripe = Stripe('pk_test_GgYzMGsz0evDsovUuvS4ZNZj');

// Create an instance of Elements
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '24px',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});


function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

// Handle form submission
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
});
</script>
<? } ?>
<?php if($do['page']['name'] == 'People') { ?>
<script>
$('#distance-range').slider({
 range:true,
 min: 0,
 max: 1000,
 values: [<?=$filter->distance_range?>],
 slide: function (event, ui) {
    var values = ui.values + ' ';
    $('#distance_range_val').val(values);
    var split = values.split(',');
    $('#distance-info').html(split[0]+' - '+split[1]+' km');
  }
});
$('#distance_range_val').val('<?=$filter->distance_range?>');
$('#age-range').slider({
 range:true,
 min: 0,
 max: 100,
 values: [<?=$filter->age_range?>],
 slide: function (event, ui) {
    var values = ui.values + ' ';
    $('#age_range_val').val(values);
    var split = values.split(',');
    $('#age-info').html(split[0]+' - '+split[1]+' years');
  }
});
$('#age_range_val').val('<?=$filter->age_range?>');
</script>
<? } ?>
</body>
</html>