<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><?=$do['page']['name']?></title>
<link rel="icon" type="image/png" href="<?=$system->getDomain()?>/img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="<?=$system->getDomain()?>/img/favicon-16x16.png" sizes="16x16">
<link href="<?=$system->getDomain()?>/assets/bootstrap3/css/bootstrap.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/bxslider.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/lightslider.min.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/autocomplete.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/jquery.mCustomScrollbar.min.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/animate.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/jquery.qtip.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/dropzone.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/theme.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/<?=$system->settings->skin?>" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/plugins.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/fonts/icomoon/styles.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/fonts/themify/styles.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/fonts/linea/styles.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/simple-scrollbar.css" rel="stylesheet">
<link href="<?=$system->getDomain()?>/assets/css/main.min.css" rel="stylesheet">

<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script>
var base = '<?=$system->getDomain()?>';
</script>
<script src="<?=$system->getDomain()?>/assets/js/simple-scrollbar.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<script>
window.fbAsyncInit = function() {
FB.init({
  appId      : '<?=$system->setting('fb_app_id')?>',
  xfbml      : true,
  version    : 'v2.8'
});
FB.AppEvents.logPageView();
};
(function(d, s, id){
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div id="loader" style="display:none;">
<img class="loader" src="<?=$system->getDomain()?>/img/loader-w-md.svg">
<div class="loader-backdrop"></div>
</div>
<div id="wrapper">
<div id="sidebar-wrapper" onmouseover="maximizeNav();" onmouseleave="minimizeNav();"  ss-container>
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <div class="logo-big">
        <a href="<?=$system->getDomain()?>/encounters">
          <img src="<?=$system->getDomain()?>/img/logo-color.png" class="img-responsive">
        </a>
      </div>
      <div class="logo-small">
       <a href="<?=$system->getDomain()?>/encounters">
        <img src="<?=$system->getDomain()?>/img/logo-small.png" class="img-responsive">
      </a>
    </div>
  </li>
  <div class="user-area">
    <a href="<?=$system->getDomain()?>/user/<?=$my_user->id?>">
      <img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="img-circle no-padding pull-left">
    </a>
    <div class="name pull-left"><?=$my_user->full_name?></div>
    <div class="logout pull-right">
      <a href="<?=$system->getDomain()?>/logout.php">
        <i class="linea linea-basic-upload btn-tooltip"></i>
        <div class="hidden"><?=$system->translate('Logout')?></div>
      </a>
    </div>
    <br>
    <div class="popularity pull-left" style="color: #d072b5;font-weight: bold;">
      <span class=""><?=$system->translate('Popularity_1')?>: <i class="fas fa-battery-quarter"></i> </span> 
    </div>
    <div class="clearfix"></div>
    <a style="border-color: #ffffff;background: linear-gradient(90deg, #ff5c72, #a485f2);border: 5px double #eee;" href="<?=$system->getDomain()?>/popularity" class="btn btn-primary btn-fill btn-block btn-xs"><?=$system->translate('Increase_Your_Popularity')?></a>
    <div class="stats">
      <a href="<?=$system->getDomain()?>/credits" class="link-black">
        <div class="coin-svg">
         <!--  <object data="<?=$system->getDomain()?>/img/coin.svg" type="image/svg+xml"></object> -->
         <i class="fab fa-bitcoin"></i>
        </div>
        <span> <?=$my_user->credits?> </span>
      </a>
      <a href="<?=$system->getDomain()?>/superpowers" class="link-black">
        <div class="superman-svg">
          <object data="<?=$system->getDomain()?>/img/superman-clean.svg" type="image/svg+xml"></object>
        </div>
        <span>
          <?php
          switch($my_user->hasSuperPowers()) {
            case true:
            echo $system->translate('On');
            break;
            case false:
            echo $system->translate('Off');
            break;
          }
          ?>
        </span>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
  <li class="<?=$do['menu']['encounters']?>">
    <a href="<?=$system->getDomain()?>/encounters">
      <i class="far fa-clone"></i>
      <span class="label-header"><?=$system->translate('Encounters')?></span>
    </a>
  </li>
  <li class="<?=$do['menu']['people']?>">
    <a href="<?=$system->getDomain()?>/people">
      <i class="fas fa-user-circle"></i>
      <span><?=$system->translate('People')?></span>
    </a>
  </li>
  <li>
    <a href="#" onclick="initChat(0); return false;">
      <i class="far fa-comment"></i>
      <span><?=$system->translate('Messages')?></span>
      <?=$my_user->NotificationCount('messages')?>
    </a>
  </li>
  <li class="<?=$do['menu']['likes']?>">
    <a href="<?=$system->getDomain()?>/liked-you">
      <i class="far fa-heart"></i>
      <span><?=$system->translate('Profile_Likes')?></span>
      <?=$my_user->NotificationCount('profile_likes')?>
    </a>
  </li>
  <li class="<?=$do['menu']['visitors']?>">
    <a href="<?=$system->getDomain()?>/visited-you">
      <i class="far fa-hand-peace"></i>
      <span><?=$system->translate('Profile_Visitors')?></span>
      <?=$my_user->NotificationCount('profile_views')?>
    </a>
  </li>
  <li class="<?=$do['menu']['favorites']?>" style="margin-bottom: 0.9em;">
    <a href="<?=$system->getDomain()?>/favorited-you">
      <i class="far fa-star"></i>
      <span><?=$system->translate('Favorites')?></span>
      <span><?=$my_user->NotificationCount('profile_favorites')?>
      </a>
    </li>
    <?php if($auth->isAdmin()) { ?>
    <li class="last" style="margin-bottom: 0.9em;margin-left: 0.6em;">
      <a href="<?=$system->getDomain()?>/admin">
        <i class="linea linea-basic-settings"></i>
        <span>Admin</span>
      </a>
    </li>
    <? } ?>
    <div class="spotlight-help">
      <p> <?=$system->translate('Add_Me')?> </p>
    </div>
    <div class="spotlight"></div>
  </ul>
</div>