<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="page-inner">
<h3 class="padding-inner">
<span class="page-title">
	<?=$system->translate('Profile_Likes')?>
</span>
</h3>
<div class="padding-inner">
<ul class="nav nav-tabs">
	<li class="active">
		<a href="<?=$system->getDomain()?>/liked-you">
			<?=$system->translate('Liked_You')?>
		</a>
	</li>
	<li>
		<a href="<?=$system->getDomain()?>/matches">
			<?=$system->translate('Matched')?>
		</a>
	</li>
</ul>
<?php 
if($likes->num_rows >= 1) { 
while($like = $likes->fetch_object()) {
$profile = new User($like->viewer_id);
if($my_user->hasSuperPowers()) {
?>
<!-- <div class="card card-user">
	<div class="content">
		<a href="<?=$system->getDomain()?>/user/<?=$profile->id?>">
			<img class="avatar" src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>">
		</a>
		<p class="name"><?=$profile->full_name?>, <?=$profile->age?></p>
		<p class="location text-muted"><?=$helper->timeAgo($like->time)?></p>
		<?php if(!$my_user->checkIfSeen('profile_likes',$like->id)) { ?>
		<span class="new-item"><?=$system->translate('New')?></span>
		<? $my_user->markAsSeen('profile_likes',$like->id); ?>
		<? } ?>
	</div>
</div> -->
<div class="card card-user">
	<div class="ui-block">
		<div class="friend-item">
			<div class="friend-header-thumb-my-like">
			</div>
			<div class="friend-item-content">
				<div class="friend-avatar">
					<div class="author-thumb">
						<a href="<?=$system->getDomain()?>/user/<?=$profile->id?>">
							<img src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>">
						</a>
					</div>
					<div class="author-content">
						<p class="name"><?=$profile->full_name?>, <?=$profile->age?></p>
						<p class="location text-muted"><?=$helper->timeAgo($like->time)?></p>
						<?php if(!$my_user->checkIfSeen('profile_likes',$like->id)) { ?>
						<span class="new-item"><?=$system->translate('New')?></span>
						<? $my_user->markAsSeen('profile_likes',$like->id); ?>
						<? } ?>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<? } else { ?>
<!-- <div class="card card-user">
	<div class="content">
		<a href="<?=$system->getDomain()?>/superpowers">
			<img class="avatar pixelate" src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>" data-pixelate data-value="0.2" data-reveal="false">
		</a>
		<p class="location text-muted"><?=$helper->timeAgo($like->time)?></p>
		<?php if(!$my_user->checkIfSeen('profile_likes',$like->id)) { ?>
		<span class="new-item"><?=$system->translate('New')?></span>
		<? $my_user->markAsSeen('profile_Likes',$like->id); ?>
		<? } ?>
	</div>
</div> -->
<div class="card card-user">
	<div class="">
		<div class="friend-item">
			<div class="friend-header-thumb-my-like">
			</div>
			<div class="friend-item-content">
				<div class="friend-avatar">
					<div class="author-thumb">
						<a href="<?=$system->getDomain()?>/superpowers">
							<img class="pixelate" src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>" data-pixelate data-value="0.2" data-reveal="false">
						</a>
					</div>
					<div class="author-content">
						<p class="location text-muted"><?=$helper->timeAgo($like->time)?></p>
						<?php if(!$my_user->checkIfSeen('profile_likes',$like->id)) { ?>
						<span class="new-item"><?=$system->translate('New')?></span>
						<? $my_user->markAsSeen('profile_Likes',$like->id); ?>
						<? } ?>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<? 
} 
} 
} else { 
?>
<div class="no-results no-results-sm text-center">
<p> You have not been liked by anyone. </p>
</div>
<? } ?>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<footer>
   <?=$widget->inviteFriends()?>
   <?=$widget->footerPages()?>
</footer>
</div>
</div>
</div>
</div>