<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="page-inner">
<h3 class="padding-inner">
<span class="page-title">
	<?=$system->translate('Profile_Likes')?>
</span>
</h3>
<div class="padding-inner">
<ul class="nav nav-tabs">
	<li>
		<a href="<?=$system->getDomain()?>/liked-you">
			<?=$system->translate('Liked_You')?>
		</a>
	</li>
	<li class="active">
		<a href="<?=$system->getDomain()?>/matched">
			<?=$system->translate('Matched')?>
		</a>
	</li>
</ul>
<?php 
if($matched->num_rows >= 1) { 
while($match = $matched->fetch_object()) { 
$profile = new User($match->viewer_id);
if($profile->id != $my_user->id) {
?>
<!-- <div class="card card-user">
	<div class="content">
		<a href="<?=$system->getDomain()?>/user/<?=$profile->id?>">
			<img class="avatar" src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>">
		</a>
		<p class="name"><?=$profile->full_name?>, <?=$profile->age?></p>
		<p class="location text-muted"><?=$helper->timeAgo($match->time)?></p>
	</div>
</div> -->
<div class="card card-user">
	<div class="">
		<div class="friend-item">
			<div class="friend-header-thumb-my-like">
			</div>
			<div class="friend-item-content">
				<div class="friend-avatar">
					<div class="author-thumb">
						<a href="<?=$system->getDomain()?>/user/<?=$profile->id?>">
							<img class="" src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>">
						</a>
					</div>
					<div class="author-content">
						<p class="name"><?=$profile->full_name?>, <?=$profile->age?></p>
						<p class="location text-muted"><?=$helper->timeAgo($match->time)?></p>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<? } ?>
<? } ?>
<? } else { ?>
<div class="no-results no-results-sm text-center">
<p> You have not matched with anyone. </p>
</div>
<? } ?>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<footer>
   <?=$widget->inviteFriends()?>
   <?=$widget->footerPages()?>
</footer>
</div>
</div>
</div>
</div>