<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="page-inner">
<h3 class="padding-inner">
<span class="page-title">
	<?=$system->translate('Title_Favs')?>
</span>
</h3>
<div class="padding-inner">
<ul class="nav nav-tabs">
	<li>
		<a href="<?=$system->getDomain()?>/favorited-you">
			<?=$system->translate('Favorited')?>
		</a>
	</li>
	<li class="active">
		<a href="<?=$system->getDomain()?>/my-favorites">
			<?=$system->translate('Your_Favorites')?>
		</a>
	</li>
</ul>
<?php 
if($favorites->num_rows >= 1) { 
while($favorite = $favorites->fetch_object()) { 
$profile = new User($favorite->profile_id); 
if($profile->full_name != null) { 
?>
<!-- <div class="card card-user">
	<div class="content">
		<a href="<?=$system->getDomain()?>/user/<?=$profile->id?>">
			<img class="avatar" src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>">
		</a>
		<p class="name"><?=$profile->full_name?>, <?=$profile->age?></p>
		<p class="location text-muted"><?=$helper->timeAgo($favorite->time)?></p>
	</div>
</div> -->
<div class="card card-user">
	<div class="ui-block">
		<div class="friend-item">
			<div class="friend-header-thumb-my-favorites">
			</div>
			<div class="friend-item-content">
				<div class="friend-avatar">
					<div class="author-thumb">
						<a href="<?=$system->getDomain()?>/user/<?=$profile->id?>">
							<img class="wh-img-ct" src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>">
						</a>
					</div>
					<div class="author-content">
						<p class="name"><?=$profile->full_name ?>, <?=$profile->age?></p>
						<p class="location text-muted"><?=$helper->timeAgo($favorite->time)?></p>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<? } ?>
<? } ?>
<? } else { ?>
<div class="no-results no-results-sm text-center">
<p> You have not favorited anyone. </p>
</div>
<? } ?>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<footer>
   <?=$widget->inviteFriends()?>
   <?=$widget->footerPages()?>
</footer>
</div>
</div>
</div>
</div>