<div id="page-content-wrapper">
    <div class="container-fluid container-locked">
        <div class="row">
            <div class="col-xs-8">
                <div class="page-inner">
                    <h3 class="padding-inner">
                        <span class="page-title"> <?= $system->translate('People') ?> </span>
                        <a href="#" class="btn btn-default filter-btn btn-icon pull-right btn-cog" onclick="toggleFilter(); return false;"> <i class="icon icon-equalizer"></i> </a>
                    </h3>
                    <div class="clearfix"></div>
                    <div class="filter-area" style="display:none;">
                        <form action="" method="post" role="form">
                            <div class="col-xs-12">
                                <div class="col-xs-4 pull-left filter-border-right">
                                    <div class="form-group">
                                        <label class="title"><?= $system->translate('Here_To') ?></label>
                                        <div class="radio radio-primary checkbox-padding">
                                            <input type="radio" name="here_to[]" id="radio1" value="1" <? if($filter->here_to == 1) { echo 'checked'; } ?>>
                                                   <label for="radio1">
                                                       <?= $system->translate('Here_Friends') ?>
                                            </label>
                                        </div>
                                        <div class="radio radio-primary checkbox-padding">
                                            <input type="radio" name="here_to[]" id="radio2" value="2" <? if($filter->here_to == 2) { echo 'checked'; } ?>>
                                                   <label for="radio2">
                                                       <?= $system->translate('Here_Chat') ?>
                                            </label>
                                        </div>
                                        <div class="radio radio-primary checkbox-padding">
                                            <input type="radio" name="here_to[]" id="radio3" value="3" <? if($filter->here_to == 3) { echo 'checked'; } ?>>
                                                   <label for="radio3">
                                                       <?= $system->translate('Here_Date') ?>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 pull-left"> 
                                    <div class="form-group">
                                        <label class="title"><?= $system->translate('Show') ?></label>
                                        <div class="clearfix"></div>
                                        <div class="col-xs-4 no-padding">
                                            <div class="checkbox checkbox-circle checkbox-primary checkbox-sm">
                                                <input name="sexual_preference[]" type="checkbox" id="checkbox4" value="male" 
                                                       <? if($filter->sexual_preference == 'Male' || $filter->sexual_preference == 'All') { echo 'checked'; } ?>>
                                                       <label for="checkbox4">
                                                           <?= $system->translate('Boys') ?>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 no-padding">
                                            <div class="checkbox checkbox-circle checkbox-primary checkbox-sm">
                                                <input name="sexual_preference[]" type="checkbox" id="checkbox5" value="female"
                                                       <? if($filter->sexual_preference == 'Female' || $filter->sexual_preference == 'All') { echo 'checked'; } ?>>>
                                                       <label for="checkbox5">
                                                           <?= $system->translate('Girls') ?>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <label class="title slider">
                                            <?= $system->translate('Age') ?> 
                                            (<span id="age-info"><?= $filter->split_age_range[0] . ' - ' . $filter->split_age_range[1] . ' years' ?></span>)
                                        </label>
                                        <div class="clearfix"></div>
                                        <div id="age-range" class="slider-primary"></div>
                                        <input type="hidden" id="age_range_val" name="age_range">
                                        <br>
                                    </div>
                                </div>
                                <div class="col-xs-4 pull-left filter-border-left">
                                    <div class="form-group">
                                        <label class="title"><?= $system->translate('Where') ?></label>
                                        <div class="clearfix"></div>
                                        <input type="text" name="location" value="<?= $filter->city ?>, <?= $filter->country ?>" class="location-autocomplete form-control" autocomplete="off" required>
                                        <label class="title slider">
                                            <?= $system->translate('Distance') ?> 
                                            (<span id="distance-info"><?= $filter->split_distance_range[0] . ' - ' . $filter->split_distance_range[1] . ' km' ?></span>)
                                        </label>
                                        <div class="clearfix"></div>
                                        <div id="distance-range" class="slider-primary"></div>
                                        <input type="hidden" id="distance_range_val" name="distance_range">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div style="margin:0 auto;float:none;text-align:center;margin-top:10px;">
                                    <button type="submit" name="filter" class="btn btn-primary btn-fill btn-wd btn-sm" style="border-color: #ffffff;font-weight:700;border: 5px double #eee;background: linear-gradient(90deg, #ff5c72, #a485f2);"> Update results </button>
                                    <button type="submit" class="btn btn-default btn-fill btn-sm" style="font-weight:700;padding-top:5px;padding-bottom:5px;padding-left:14px;padding-right:14px"> Cancel </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="padding-inner">
                        <?php
                        if ($people->num_rows >= 1) {
                            while ($profile = $people->fetch_object()) {
                                $profile = new User($profile->id);
                                $location = $profile->getDistance($my_user);
                                $photos = $profile->getPhotos();
                                if ($profile->full_name != null) {
                                    ?>
                                    <!-- <div class="card card-user">
                                            <div class="content">
                                                    <a href="<?= $system->getDomain() ?>/user/<?= $profile->id ?>">
                                                            <img class="avatar" src="<?= $system->getDomain() ?>/uploads/<?= $profile->profile_picture ?>">
                                                    </a>
                                                    <p class="name">
                                    <?= $profile->full_name ?>, <?= $profile->age ?>
                                                            <? if($profile->isOnline()) { ?>
                                                <i class="online-status online"></i>
                                                <? } else { ?>
                                                <i class="online-status offline"></i>
                                                <? } ?>
                                                    </p>
                                                    <div class="photos"> <i class="icon icon-camera"></i> <?= $photos->num_rows ?> </div>
                                                    <p class="location text-muted"> <?= $location ?> </p>
                                            </div>
                                    </div> -->
                                    <div class="card card-user">
                                        <div class="ui-block">
                                            <!-- Friend Item -->
                                            <div class="friend-item">
                                                <div class="friend-header-thumb">
                                                </div>
                                                <div class="friend-item-content">
                                                    <div class="friend-avatar">
                                                        <div class="author-thumb">
                                                            <a href="<?= $system->getDomain() ?>/user/<?= $profile->id ?>">
                                                                <img class="wh-img-ct"src="<?= $system->getDomain() ?>/uploads/<?= $profile->profile_picture ?>">
                                                            </a>
                                                        </div>
                                                        <div class="author-content">
                                                            <p class="name">
                                                                <?= $profile->full_name ?>, <?= $profile->age ?>
                                                                <? if($profile->isOnline()) { ?>
                                                                <i class="online-status online"></i>
                                                                <? } else { ?>
                                                                <i class="online-status offline"></i>
                                                                <? } ?>
                                                            </p>
                                                            <div class="photos"> <i class="icon icon-camera"></i> <?= $photos->num_rows ?> </div>
                                                            <p class="location text-muted"> <?= $location ?> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>	
                                        </div>
                                    </div>
                                    <? } ?>
                                    <? } ?>
                                    <? } else { ?>
                                    <div class="no-results text-center">
                                        <img src="<?= $system->getDomain() ?>/img/user-minus.png">
                                        <h4> There were no people found by your search criteria. </h4>
                                        <p> Check back a little later. </p>
                                    </div>
                                    <? } ?>
                                    <div class="col-xs-12" style="text-align: center;">
                                        <ul class="pagination pagination-primary pagination-md">
                                            <?php
                                            if (($last_page >= $p) && $last_page > 1) {
                                                for ($i = 1; $i <= $last_page; $i++) {
                                                    if ($i == $p) {
                                                        echo '<li class="active"> <a href="' . $system->getDomain() . '/people/' . $i . '"> ' . $i . ' </a> </li>';
                                                    } else {
                                                        echo '<li> <a href="' . $system->getDomain() . '/people/' . $i . '"> ' . $i . ' </a> </li>';
                                                    }
                                                }
                                            }
                                            ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <footer>
                                <?= $widget->inviteFriends() ?>
                                <?= $widget->footerPages() ?>
                </footer>
            </div>
        </div>
    </div>
</div>