<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="page-inner">
<div class="popularity">
<div class="header">&nbsp</div>
<div class="padding-inner">
	<div class="heading">
		<h2 style="font-size: 1.8em;"> Your popularity: <span class="text-danger">Very low</h2>
		<p>Want to get seen by more people? Here's how…</p>
		<div class="section">
			<div class="col-xs-5 pull-left">
				<div class="rise-up">
					<img src="<?=$system->getDomain()?>/img/popularity/rise-up.png" class="background">
					<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="avatar">
				</div>
			</div>
			<div class="col-xs-7 pull-left">
				<div class="description">
					<h3 style="color: #29CF29;"><?=$system->translate('Rise_In_Nearby')?></h3>
					<p?> <?=sprintf($system->translate('You_Are_Number'),$my_rank)?></p>
					<a href="<?=$system->getDomain()?>/credits" class="btn btn-success btn-fill btn-wd"><?=$system->translate('Rise_Number')?></a>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="col-xs-5 pull-right">
				<div class="increase-encounters">
					<img src="<?=$system->getDomain()?>/img/popularity/increase-encounters.png" class="background">
					<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="avatar">
				</div>
			</div>
			<div class="col-xs-7 pull-right">
				<div class="description">
					<h3 style="color: #00CAA8;"><?=$system->translate('Add_Shows_Encounters')?></h3>
					<p><?=sprintf($system->translate('Be_Shown'),$gender_interest)?>
						<a href="<?=$system->getDomain()?>/credits" class="btn btn-emerald btn-fill btn-wd"><?=$system->translate('Extra_Shows')?></a>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="col-xs-5 pull-left">
					<div class="get-featured">
						<img src="<?=$system->getDomain()?>/img/popularity/get-featured.png" class="background">
						<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="avatar">
					</div>
				</div>
				<div class="col-xs-7 pull-left">
					<div class="description">
						<h3 style="color: #cc208e;"><?=$system->translate('Get_Featured')?></h3>
						<p><?=sprintf($system->translate('Promote_Photo'),$my_user->full_name,$gender_interest,$my_user->city)?></p>
						<a style="background-color: #b61d9e;border-color: #b61d9e; border: 5px double #eee;" href="<?=$system->getDomain()?>/credits" class="btn btn-primary btn-fill btn-wd"> Get featured </a>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="col-xs-5 pull-right">
					<div class="become-vip">
						<img src="<?=$system->getDomain()?>/img/popularity/become-vip.png" class="background">
						<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="avatar">
					</div>
				</div>
				<div class="col-xs-7 pull-right">
					<div class="description">
						<h3 style="color: #fec309;"><?=$system->translate('Get_Powers')?></h3>
						<p><?=$system->translate('Increase_Popularity')?></p>
						<a href="<?=$system->getDomain()?>/superpowers" class="btn btn-warning btn-fill btn-wd"><?=$system->translate('Get_Powers')?></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<footer>
<ul class="list-inline">
   <?=$widget->footerPages()?>
</ul>
</footer>
</div>
</div>
</div>
</div>