<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="page-inner settings">
<div class="row">
<div class="col-xs-9">
<div id="editable">
<h3 class="heading">
	<?=$system->translate('Basic_Info')?>
	<a href="#" class="btn btn-primary btn-sm btn-icon btn-edit" onclick="makeEditable(1); return false;"> <i class="icon icon-pencil2"></i> </a>
</h3>
<div class="col-xs-12">
<div id="uneditable-1" onclick="makeEditable(1); return false;">
<hr>
<table class="table table-responsive">
	<tr>
		<td align="left" class="first">
			<b><?=$system->translate('Name')?></b>
		</td>
		<td> <?=$my_user->full_name?> </td>
	</tr>
	<tr>
		<td align="left" class="first">
			<b><?=$system->translate('Birth_Date')?></b>
		</td>
		<td> <?=date('j F Y',$my_user->birthday)?> </td>
	</tr>
	<tr>
		<td align="left" class="first">
			<b><?=$system->translate('Gender')?></b>
		</td>
		<td> <?=$my_user->gender?> </td>
	</tr>
</table>
</div>
<div id="editable-1" style="display:none;" class="ed">
<form action="" method="post">
	<div class="row">
		<div class="form-group">
			<div class="col-xs-2 left">
				<b> <?=$system->translate('Name')?> </b>
			</div>
			<div class="col-xs-4 right">
				<input type="text" name="name" class="form-control input-sm" value="<?=htmlentities($my_user->full_name)?>" autocomplete="off" required>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-xs-2 left">
				<b> <?=$system->translate('Birth_Date')?> </b>
			</div>
			<div class="col-xs-6 right">
				<div class="form-group birthday">
					<div class="selection">
					<select name="birth_day" class="form-control chosen">
						<option value=""><?=$system->translate('day')?></option>
						<?php for ($i = 1; $i <= 31; $i++) { ?>
						<option value="<?=$i?>" <? if($birth_day == $i) { echo 'selected'; } ?>>
							<?=$i?>
						</option>
						<? } ?>
					</select>
					<select name="birth_month" class="form-control chosen">
						<option value=""><?=$system->translate('month')?></option>
						<option value="1" <? if($birth_month == 'January') { echo 'selected'; } ?>>
							<?=$system->translate('January')?>
						</option>
						<option value="2" <? if($birth_month == 'February') { echo 'selected'; } ?>>
							<?=$system->translate('February')?>
						</option>
						<option value="3" <? if($birth_month == 'March') { echo 'selected'; } ?>>
							<?=$system->translate('March')?>
						</option>
						<option value="4" <? if($birth_month == 'April') { echo 'selected'; } ?>>
							<?=$system->translate('April')?>
						</option>
						<option value="5" <? if($birth_month == 'May') { echo 'selected'; } ?>>
							<?=$system->translate('May')?>
						</option>
						<option value="6" <? if($birth_month == 'June') { echo 'selected'; } ?>>
							<?=$system->translate('June')?>
						</option>
						<option value="7" <? if($birth_month == 'July') { echo 'selected'; } ?>>
							<?=$system->translate('July')?>
						</option>
						<option value="8" <? if($birth_month == 'August') { echo 'selected'; } ?>>
							<?=$system->translate('August')?>
						</option>
						<option value="9" <? if($birth_month == 'September') { echo 'selected'; } ?>>
							<?=$system->translate('September')?>
						</option>
						<option value="10" <? if($birth_month == 'Octomber') { echo 'selected'; } ?>>
							<?=$system->translate('October')?>
						</option>
						<option value="11" <? if($birth_month == 'November') { echo 'selected'; } ?>>
							<?=$system->translate('November')?>
						</option>
						<option value="12" <? if($birth_month == 'December') { echo 'selected'; }?>>
							<?=$system->translate('December')?>
						</option>
					</select>
					<select name="birth_year" class="form-control chosen">
						<option value=""><?=$system->translate('Year')?></option>
						<?php for ($i = 1920; $i <= 2017; $i++) { ?>
						<option value="<?=$i?>" <? if($birth_year == $i) { echo 'selected'; } ?>>
							<?=$i?>
						</option>
						<? } ?>
					</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-xs-2 left">
				<b> <?=$system->translate('Gender')?> </b>
			</div>
			<div class="col-xs-4 right">
				<select name="gender" class="form-control chosen" required>
					<option value=""><?=$system->translate('Gender')?></option>
					<option value="Male" <? if($gender == 'Male') { echo 'selected'; }?>> 
						<?=$system->translate('Male')?> 
					</option>
					<option value="Female" <? if($gender == 'Female') { echo 'selected'; }?>>
					 <?=$system->translate('Female')?> 
					</option>
				</select>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="actions pull-left">
		<button type="submit" name="save_1" class="btn btn-primary btn-fill btn-sm" style="background-color: #b61d9e;border-color: #c71f90;"> 
			<?=$system->translate('Save')?>
		</button>
		<a href="#" class="btn btn-default btn-fill btn-sm" onclick="makeEditable(1); return false;"> 
			<?=$system->translate('Report_5')?>
		</a>
	</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-9">
<div id="editable">
<h3 class="heading">
<?=$system->translate('Your_Account')?>
<a href="#" class="btn btn-primary btn-sm btn-icon btn-edit" onclick="makeEditable(2); return false;"> <i class="icon icon-pencil2"></i> </a>
</h3>
<div class="col-xs-12">
<div id="uneditable-2" onclick="makeEditable(2); return false;">
<hr>
<table class="table table-responsive">
<tr>
	<td align="left" class="first">
		<b><?=$system->translate('Email')?></b>
	</td>
	<td> <?=$my_user->email?> </td>
</tr>
<tr>
	<td align="left" class="first">
		<b><?=$system->translate('Password')?></b>
	</td>
	<td> ****** </td>
</tr>
<tr>
	<td align="left" class="first">
		<b><?=$system->translate('Language')?></b>
	</td>
	<td> <?=ucfirst($_SESSION['language'])?> </td>
</tr>
</table>
</div>
<div id="editable-2" style="display:none;" class="ed">
<form action="" method="post">
<div class="row">
	<div class="form-group">
		<div class="col-xs-2 left">
			<b> <?=$system->translate('Email')?> </b>
		</div>
		<div class="col-xs-4 right">
			<input type="email" name="email" class="form-control input-sm" value="<?=htmlentities($my_user->email)?>" autocomplete="off" required>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group">
		<div class="col-xs-2 left">
			<b> <?=$system->translate('New_Password')?> </b>
		</div>
		<div class="col-xs-4 right">
			<input type="password" name="new_password" class="form-control input-sm" autocomplete="off">
		</div>
	</div>
</div>
<?php if(!empty($my_user->email)) { ?>
<div class="row">
	<div class="form-group">
		<div class="col-xs-2 left">
			<b> Current Password </b>
		</div>
		<div class="col-xs-4 right">
			<input type="password" name="current_password" class="form-control input-sm" autocomplete="off" required>
		</div>
	</div>
</div>
<? } ?>
<div class="row">
	<div class="form-group">
		<div class="col-xs-2 left">
			<b> <?=$system->translate('Language')?> </b>
		</div>
		<div class="col-xs-4 right">
			<select name="language" class="form-control chosen" required>
				<?php foreach($languages as $language) { ?>
				<?php if(file_exists('languages/'.$language.'/language.php')) { ?>
				<?php if(isset($_SESSION['language']) && $_SESSION['language'] == $language) { ?>
				<option value="<?=$language?>" selected><?=ucfirst($language)?></option>
				<? } else { ?>
				<option value="<?=$language?>"><?=ucfirst($language)?></option>
				<? } ?>
				<? } ?>
				<? } ?>
			</select>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="actions pull-left">
	<button type="submit" name="save_2" class="btn btn-primary btn-fill btn-sm" style="background-color: #b61d9e;border-color: #c71f90;"> 
		<?=$system->translate('Save')?>
	</button>
	<a href="#" class="btn btn-default btn-fill btn-sm" onclick="makeEditable(2); return false;"> 
		<?=$system->translate('Report_5')?>
	</a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>