<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="superpowers">
<div class="heading">
<div class="user">
<img src="<?=$system->getDomain()?>/uploads/<?=$my_user->profile_picture?>" class="img-circle no-padding">
</div>
</div>
<div class="page-inner">
<div class="text-center">
	<h2><?=$system->translate('Activate_Superpowers')?> </h2>
	<a href="#" class="btn btn-primary btn-fill btn-wd main-btn" onclick="loader('#buy-modal'); return false;" style="border: 5px double #eee;"> 
		<?=$system->translate('Activate_Now')?>
	</a>
	<div class="padding-inner">
		<div class="col-xs-4">
			<div class="see-likes">
				<img src="<?=$system->getDomain()?>/img/superpowers/see-likes.png" class="background">
				<img src="<?=$system->getDomain()?>/uploads/<?=$random_photo[1]?>" class="avatar">
			</div> 
			<p class="desc-1">
				<?=sprintf($system->translate('Access_Genders'),$gender_interest)?>
			</p>
		</div>
		<div class="col-xs-3">
			<div class="popular-chat">
				<img src="<?=$system->getDomain()?>/img/superpowers/popular-chat.png" class="background">
				<img src="<?=$system->getDomain()?>/uploads/<?=$random_photo[2]?>" class="avatar">
			</div>
			<p class="desc-2">
				<?=$system->translate('First_To_Chat')?>
			</p>
		</div>
		<div class="col-xs-3">
			<div class="get-featured">
				<img src="<?=$system->getDomain()?>/uploads/<?=$random_photo[3]?>" class="avatar">
				<img src="<?=$system->getDomain()?>/img/credits/get-featured.png" class="background">
				<img src="<?=$system->getDomain()?>/img/superpowers/star.png" class="icon">
			</div>
			<p class="desc-3">
				<?=$system->translate('Find_Who')?>
			</p>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<footer>
   <?=$widget->footerPages()?>
</footer>
</div>
</div>
</div>
</div>
<div class="modal fade" id="buy-modal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-body">
<div class="modal-heading">
<h2> Activate your Super Powers today </h2>
</div>
<div class="modal-inner">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 payment-gateways pull-left">
<?php if(!empty($system->settings->stripe_secret_key) || !empty($system->settings->stripe_publishable_key)) { ?>
<div class="gateway active" onclick="changeGateway('stripe',this);">
	<i class="ti-credit-card"></i>
	Credit card
</div>
<? } ?>
<?php if(!empty($system->settings->paypal_email)) { ?>
<div class="gateway" onclick="changeGateway('paypal',this);">
	<i class="icon icon-paypal"></i>
	Paypal
</div>
<? } ?>
<?php if(!empty($system->settings->fortumo_superpowers_id)) { ?>
<div class="gateway" onclick="changeGateway('fortumo',this);">
	<i class="icon icon-mobile"></i>
	Pay by mobile
</div>
<? } ?>
</div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin:0 auto;float:none;">
	<b class="title"> <br> Choose the package that suits you best </b>
	<div class="col-lg-8 col-md-8 amount">
		<div class="radio radio-primary checkbox-padding">
			<input type="radio" name="radio" id="radio1" value="1" onchange="changeDuration(this)">
			<label for="radio1">
				1 week - <?=$system->settings->superpowers_1_week?> <?=strtolower($system->settings->currency)?>
			</label>
		</div>
		<div class="radio radio-primary checkbox-padding">
			<input type="radio" name="radio" id="radio2" value="2" checked onchange="changeDuration(this)">
			<label for="radio2">
				1 month - <?=$system->settings->superpowers_1_month?> <?=strtolower($system->settings->currency)?>
			</label>
		</div>
		<div class="radio radio-primary checkbox-padding">
			<input type="radio" name="radio" id="radio3" value="3" onchange="changeDuration(this)">
			<label for="radio3">
				3 months - <?=$system->settings->superpowers_3_months?> <?=strtolower($system->settings->currency)?>
			</label>
		</div>
	</div>
</div>
<div id="stripe" class="gateway-process">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin:0 auto;float:none;">
		<script src="https://js.stripe.com/v3/"></script>
		<form action="<?=$system->getDomain()?>/payment/stripe.php" method="post" id="payment-form">
			<div class="form-row">
				<div id="card-element">
					<!-- a Stripe Element will be inserted here. -->
				</div>
				<div id="card-errors text-danger"></div>
			</div>
			<br>
			<button class="btn btn-success btn-fill btn-wd">Pay by card</button>
			<input type="hidden" name="duration" value="2">
			<input type="hidden" name="type" value="superpowers">
		</form>
	</div>
</div>
<div id="paypal" class="gateway-process" style="display:none;">
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center" style="margin:0 auto;float:none;">
		<form action="<?=$system->getDomain()?>/payment/paypal/process.php" method="post">
			<button type="submit" class="btn btn-success btn-fill btn-wd">Pay with PayPal</button>
			<input type="hidden" name="duration" value="2">
			<input type="hidden" name="type" value="superpowers">
		</form>
	</div>
</div>
<div id="fortumo" class="gateway-process" style="display:none;height:550px;">
	<iframe id="fortumo-embed" 
	src="http://pay.fortumo.com/mobile_payments/<?=$system->setting('fortumo_superpowers_id')?>?cuid=<?=$my_user->id?>" 
	frameBorder="0"></iframe>
</div>
</div> 
</div>
</div>
</div>
</div>
</div>