<div id="page-content-wrapper">
<div class="container-fluid container-locked">
<div class="row">
<div class="col-xs-8">
<div class="page-inner">
<h3 class="padding-inner">
<span class="page-title">
	<?=$system->translate('Profile_Visitors')?>
</span>
</h3>
<div class="padding-inner">
<?php 
if($visitors->num_rows >= 1) { 
while($visitor = $visitors->fetch_object()) { 
$profile = new User($visitor->viewer_id);
?>
<!-- <div class="card card-user">
<div class="content">
	<a href="<?=$system->getDomain()?>/user/<?=$profile->id?>">
		<img class="avatar" src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>">
	</a>
	<p class="name"><?=$profile->full_name?>, <?=$profile->age?></p>
	<p class="location text-muted"><?=$helper->timeAgo($visitor->time)?></p>
	<?php if(!$my_user->checkIfSeen('profile_views',$visitor->id)) { ?>
	<span class="new-item">New</span>
	<?php $my_user->markAsSeen('profile_views',$visitor->id); ?>
	<? } ?>
</div>
</div> -->
<div class="card card-user">
	<div class="ui-block">
		<div class="friend-item">
			<div class="friend-header-thumb">
			</div>
			<div class="friend-item-content">
				<div class="friend-avatar">
					<div class="author-thumb">
						<a href="<?=$system->getDomain()?>/user/<?=$profile->id?>">
							<img class="wh-img-ct" src="<?=$system->getDomain()?>/uploads/<?=$profile->profile_picture?>">
						</a>
					</div>
					<div class="author-content">
						<p class="name"><?=$profile->full_name?>, <?=$profile->age?></p>
						<p class="location text-muted"><?=$helper->timeAgo($visitor->time)?></p>
						<?php if(!$my_user->checkIfSeen('profile_views',$visitor->id)) { ?>
						<span class="new-item">New</span>
						<?php $my_user->markAsSeen('profile_views',$visitor->id); ?>
						<? } ?>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<? } ?>
<? } else { ?>
<div class="no-results no-results-sm text-center">
<p> You have not been visited by anyone. </p>
</div>
<? } ?>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-8">
<footer>
   <?=$widget->inviteFriends()?>
   <?=$widget->footerPages()?>
</footer>
</div>
</div>
</div>
</div>