html {
  overflow-x: hidden !important;
  overflow-y: scroll;
}
body {
  padding-left: 18%;
  background-color: #2A2A2A;
}
body img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#wrapper {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: inherit;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #2A2A2A;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 350px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -350px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 35px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255,0.8);
  font-weight: 700;
  vertical-align: middle;
  font-size: 0.85em;
  height: 30px;
}
.sidebar-nav li.active a {
  color: #2B65F8;
}
.sidebar-nav li.active a i {
  color: #2B65F8;
}
.sidebar-nav li a i {
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  bottom: -1px;
  color: rgba(255, 255, 255,0.5);
  font-size: 1.05em;
  margin-right: 10px;
}
.sidebar-nav li a i.xl {
  font-size: 1.3em;
  margin-right: 7.7px;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #2B65F8;
}
.sidebar-nav li a:hover i {
  color: #2B65F8;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav .notifications {
  background-color: #F02139;
  color: #FFF;
  border-radius: 11px;
  height: 22px;
  width: 22px;
  display: block;
  float: right;
  position: relative;
  top: 5.9px;
  right: 10px;
  -webkit-animation-duration: 3s;
}
.sidebar-nav .notifications p.one-digit {
  position: relative;
  right: 19px;
  top: 1px;
  font-size: 0.9em;
  font-weight: 700;
}
.sidebar-nav .notifications p.two-digit {
  position: relative;
  right: 22px;
  top: 1px;
  font-size: 0.9em;
  font-weight: 700;
}
.sidebar-nav .user-area {
  position: relative;
  left: 17px;
  overflow: hidden;
  border-bottom: 1px solid #1A1A1A;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
.sidebar-nav .user-area img {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.sidebar-nav .user-area .stats img {
  height: 18px;
  width: 18px;
}
.sidebar-nav .user-area .stats a span {
  position: relative;
  top: 1px;
}
.sidebar-nav .user-area .name {
  vertical-align: middle;
  line-height: 28px;
  position: relative;
  left: 8px;
  font-size: 0.9em;
  font-weight: 700;
}
.sidebar-nav .user-area:hover .logout {
  display: block;
}
.sidebar-nav .user-area .logout {
  display: none;
}
.sidebar-nav .user-area .logout a i {
  color: #FFF;
  line-height: 35px;
  vertical-align: middle;
}
.sidebar-nav .user-area .popularity {
  vertical-align: middle;
  top: 18px;
  position: absolute;
  right: 84px;
  font-size: 0.8em;
  font-weight: 400;
}
.sidebar-nav .user-area .popularity i {
  font-size: 1.3em;
  position: relative;
  top: 5px;
}
.sidebar-nav .user-area .btn {
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.8em;
}
.sidebar-nav > .sidebar-brand {
  font-size: 18px;
  line-height: 60px;
  border-bottom: 1px solid #1A1A1A;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.sidebar-brand {
  position: relative;
  left: 20px;
}
.sidebar-brand img {
  height: 33px;
  width: 114px;
  margin: 0 auto;
}
.sidebar-nav .user-area {
  width: 210px;
  color: #FFF;
}
.sidebar-nav .user-area .stats {
  margin-top: 7px;
}
.sidebar-nav .user-area .stats span i {
  margin-right: 5px;
  font-size: 1em;
}
.sidebar-nav .user-area .stats span i.ti-crown {
  color: #F3BB45;
}
.sidebar-nav .user-area .stats span {
  margin-right: 10px;
  font-size: 0.9em;
}
.sidebar-nav .spotlight {
  margin: 0 auto;
  float:none;
  position: relative;
  left: 15px;
}
.sidebar-nav .spotlight-help {
  border-top: 1px solid #1A1A1A;
  padding-top: 10px;
  margin-top: 5px;
  position: relative;
  left: 16px;
  margin-bottom: 5px;
  font-size: 0.95em;
}
.sidebar-nav .spotlight-help:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: -7px;
  width: 0;
  height: 0;
  border-top: solid 7px #3A3A3A;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}
.sidebar-nav .spotlight-help p {
  font-size: 0.8em;
  border-radius: 13px;
  padding: 5px 11px;
  background: #3A3A3A;
  position: relative;
  right: 15px;
  color: #FFF;
}
.sidebar-nav .spotlight .spotlight-user {
  position: relative;
  float: left;
  display: inline-block;
}
.sidebar-nav .spotlight .spotlight-user img, .sidebar-nav .spotlight .spotlight-user .image-add {
  height: 55px;
  width: 55px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  padding:0px;
  margin: 7px;
}
.sidebar-nav .spotlight .spotlight-user .online-status {
  z-index: 2;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  position: absolute;
  right: 5px;
  top: 45px;
  border: 2px solid #EEE;
}
.sidebar-nav .spotlight .box {
  cursor: pointer;
  height: 55px;
  position: relative;
  overflow: hidden;
  width: 55px;
  display: inline-block;
  float: left;
  margin: 7px;
}
.sidebar-nav .spotlight .box img {
  position: absolute;
  left: 0;
  height: 55px;
  width: 55px;
}
.sidebar-nav .spotlight .box .overbox {
  background-color: #666159;
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  z-index: 100;
  width: 55px;
  height: 55px;
  text-align:center;
  border-radius: 50%;
  line-height: 55px;
  opacity: 0.7;
  -webkit-animation-name: spotlight; 
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: spotlight;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.sidebar-nav .spotlight .box .title {
  font-size: 1.1em;
  opacity: 0.95;
  padding-top: 3px;
}
@-webkit-keyframes spotlight {
  0%  {background-color: #FEC309;}
  50%  {background-color: #2B8CFC;}
  100% {background-color: #29CF29;}
}
@keyframes spotlight {
  0%  {background-color: #FEC309;}
  50%  {background-color: #2B8CFC;}
  100% {background-color: #29CF29;}
}
#wrapper {
  padding-left: 250px;
}
#wrapper.toggled {
  padding-left: 0;
}
#sidebar-wrapper {
  width: 250px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 0;
}
#page-content-wrapper {
  padding: 0px;
  position: relative;
}
#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0;
}
.logo-small {
  display: none;
}
@media(max-width:1700px) {
  body {
    padding-left: 15% !important;
  }
}
@media(max-width:1400px) {
  body {
    padding-left: 10% !important;
  }
}
@media(max-width:1300px) {
  body {
    padding-left: 0px !important;
  }
}
@media(max-width:1150px) {
  #wrapper {
    padding-left: 55px;
  }
  #sidebar-wrapper {
    width: 60px;
    margin-left: -50px;
    overflow: hidden;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
  }
  .sidebar-brand {
    left: 0px;
  }
  .logo-small {
    display: block;
    margin-left: 3.5px;
  }
  .logo-small img {
    height: 44px;
    width: 44px;
  }
  .logo-big {
    display: none;
  }
  .sidebar-nav {
    width: 60px;
    padding-left: 4px;
  }
  .sidebar-nav li a span {
    display: none;
  }
  .sidebar-nav li a {
    position: relative;
  }
  .sidebar-nav li a i {
    font-size: 20px;
  }
  .sidebar-nav li a i.xl {
    font-size: 23px;
  }
  .sidebar-nav .user-area {
    display: none;
  }
  .spotlight-help {
    display: none;
  }
  .spotlight-user {
    position: relative;
    right: 4px;
  }
  .spotlight-user img {
    height: 40px !important;
    width: 40px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 10px;
  }
  .spotlight-user .online-status {
    top: 35px !important;
    right: 0px !important;
  }
  span.notifications {
    position: absolute !important;
    top: 0px !important;
    right: 5px !important;
  }
  #sidebar-wrapper:hover {
    width: 250px !important;
    margin-left: -250px !important;
    overflow: visible !important;
  }
  #sidebar-wrapper:hover .sidebar-brand {
    left: 20px !important;
  }
  #sidebar-wrapper:hover .logo-small {
    display: none !important;
  }
  #sidebar-wrapper:hover .logo-big {
    display: block !important;
  }
  #sidebar-wrapper:hover .sidebar-nav {
    width: 250px !important;
    padding-left: 20px !important;
  }
  #sidebar-wrapper:hover .sidebar-nav li a span {
    display: inline !important;
  }
  #sidebar-wrapper:hover .sidebar-nav li a i {
    font-size: 0.9em !important;
    color: inherit !important;
  }
  #sidebar-wrapper:hover .user-area {
    display: block !important;
  }
  #sidebar-wrapper:hover .spotlight-help {
    display: block !important;
  }
  #sidebar-wrapper:hover .spotlight-user {
    margin: 7px;
  }
  #sidebar-wrapper:hover .spotlight-user img {
    height: 55px !important;
    width: 55px !important;
    margin: 0px;
  }
  .sidebar-nav .spotlight .box {
    cursor: pointer;
    height: 40px;
    position: relative;
    overflow: hidden;
    width: 40px;
    display: inline-block;
    margin: 7px;
    position: relative;
    right: 11px;
  }
  .sidebar-nav .spotlight .box img {
    position: absolute;
    left: 0;
    height: 40px;
    width: 40px;
  }
  .sidebar-nav .spotlight .box .overbox {
    background-color: #666159;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    z-index: 100;
    width: 40px;
    height: 40px;
    text-align:center;
    border-radius: 50%;
    line-height: 40px;
    opacity: 0.7;
    -webkit-animation-name: spotlight; 
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: spotlight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .sidebar-nav .spotlight .box .title {
    font-size: 1.1em;
    opacity: 0.95;
    padding-top: 3px;
  }
  #sidebar-wrapper:hover .spotlight .box {
    cursor: pointer;
    height: 55px;
    position: relative;
    overflow: hidden;
    width: 55px;
    display: inline-block;
    margin: 7px;
    position: relative;
    right: 11px;
  }
  #sidebar-wrapper:hover .spotlight .box img {
    position: absolute;
    left: 0;
    height: 55px;
    width: 55px;
  }
  #sidebar-wrapper:hover .spotlight .box .overbox {
    background-color: #666159;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    z-index: 100;
    width: 55px;
    height: 55px;
    text-align:center;
    border-radius: 50%;
    line-height: 55px;
    opacity: 0.7;
    -webkit-animation-name: spotlight; 
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: spotlight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  #sidebar-wrapper:hover .spotlight .box .title {
    font-size: 1.1em;
    opacity: 0.95;
    padding-top: 3px;
  }
}
#encounter_gift_container {
  position: relative;
  display: inline-block;
  text-align: center;
}
.encounter_gift_button {
  position:absolute;
  bottom: -5px;
  right: 0px;
  width: 100px;
  height: 30px;
  padding-top: 5px !important;
  padding-left: 5px !important;
}
.encounter-controls {
  position: relative;
  top: 10px;
}
.encounter-info {
  position: relative;
  top: 5px;
  left: 7px;
  height: 98px;
}
.encounters-name {
  display:inline;
  font-size: 1.4em !important;
  padding-right:7px;
  font-weight: 700;
  position: relative;
  top: 6px;
  color: #FFF;
}
.encounters-name a {
  color: #FFF;
}
.encounters-name span, .encounters-name a span {
 margin-left: 5px;
}
.encounters-name .interests {
  display: block;
}
.encounters-name .interests-num {
 display: inline-block;
 font-size: 1.3em;
 position: relative;
 top: 0px;
 left: 20px;
 font-weight: 500;
}
.encounters-name .interests-text {
 font-size: 0.5em;
 font-weight: 400;
 display: inline-block;
 position: relative;
 left: 15px;
 top: 3px;
}
.encounters-name .primary:hover {
  color: #2B65F8;
}
.encounter-info .btn-icon {
  vertical-align: text-bottom !important;
}
.encounter-info .text-muted {
  padding-top:3px;
  font-weight:400;
}
.well-encounter {
  padding-bottom: 4px;
  border-bottom: 1px solid #EEE;
  padding-top: 10px;
  overflow: hidden !important;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.profile-info {
  position: relative;
  top: 23px;
  left: 7px;
}
.profile-info .btn-icon {
  vertical-align: text-bottom !important;
}
.profile-section {
  font-size: 14px;
  color: #FFF;
}
.profile-controls {
  position: relative;
  top: 20px;
}
.profile-control {
  margin-right: 5px;
}
.profile-control i {
  font-size: 16px;
}
.profile-control span {
  font-size: 15.5px;
  font-weight: 700;
  margin-left: 5px;
}
.profile-badge {
  display: inline-block;
  position: relative;
  bottom: 3px;
}
.profile-badge i {
  position: relative;
  top: 1px;
}
.profile-image-delete {
  color: #FFF;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  z-index: 0;
}
.profile-section-heading {
  font-weight: 700;
  margin-bottom: 10px;
}
.gift-selection {
  height:200px;
  overflow:auto;
  margin-bottom: 30px;
}
.gift-image {
  height: 65px;
  width: 65px;
  margin: 4px;
  border-radius: 6px;
  border: 2px solid #FFF;
}
.gift-image:hover {
  border: 2px solid #2B65F8 !important;
}
.gift-image-small {
  height: 67px;
  width: 67px;
  margin: 5px;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding: 7px;
  background-color: #FFF;
  border: 1px solid #E6E6E6 !important;

}
.gift-image-small:hover {
  padding: 6px;
  border: 2px solid #2B65F8 !important;
}
.interest-item {
  background-color: #F2F2F2;
  cursor: pointer;
  margin: 5px 3px 5px 0;
  position: relative;
  padding: 0.4em 0.9em;
  border-radius: 10px;
  color: #4D4D4D;
  font-weight: 500;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  padding: 7px 15px 8px 12px;
  font-weight: 700;
}
.interest-item i {
  margin-right: 3px;
  position: relative;
  top: 1px;
}
.bg-white {
  background: #3A3A3A;
  border: none;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.bg-grey {
  background: rgba(242, 242, 242, 0.4);
  border: none;
  border-radius: 0px;
}
.bg-grey .panel-heading {
  background: rgba(242, 242, 242, 0.4);
}

.bg-grey .panel-heading .panel-title {
  font-weight: 700;
}
.overflow-auto {
  overflow:auto;
}
.m-5 {
  margin: 5px !important;
}
.mr-15 {
  margin-right: 15px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-30 {
  margin-left: 30px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-0 {
  margin-bottom: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-0 {
  margin-top: 0px !important;
}
.col-centered {
  margin: 0 auto;
  float:none;
}
.well {
  border-radius: 0px;
}
.no-padding {
  padding: 0px;
}
.lh20 {
  line-height: 25px !important;
}
.caption {
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #000;
  background: -moz-linear-gradient(bottom, #000 10%, rgba(0, 0, 0, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(bottom, #000 10%, rgba(0, 0, 0, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to top, #000 10%, rgba(0, 0, 0, 0) 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  background: #FFF !important;
}
.caption h4 {
  color: #FFF;
  margin-bottom: 0px;
  position: relative;
}
.caption h4 a {
  color: #FFF;
}
.modal-important {
  background-color: #252422;
  color: #FFF;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.modal-important .close {
  color: #FFF !important;
}
.page-title {
  font-weight: 700;
  font-size: 0.9em;
  color: #FFF;
}
.chat-modal {
  border-top-left-radius: 14px !important;
  border-top-right-radius: 14px !important;
}
.chat-left {
  width: 32%;
  border-right: 1px solid #eee;
  height:650px;
}
.chat-sidebar-top {
  padding-bottom: 0px;
  height: 70px;
  border-bottom: 1px solid #eee;
}
.chat-sidebar-top input:focus {
  background-color: #F2F2F2;
}
.chat-sidebar-user {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 10px;
  border: none !important;
  color: #666157 !important;
  height: 70px;
  transition: all 0.2s ease;
}
.chat-sidebar-user .img-circle {
  padding: 0px;
}
.chat-sidebar-user.active {
  background-color: #4D4D4D !important;
  color: #FFF !important;
}
.chat-sidebar-user:hover {
  background-color: #F7F7F6;
}
.chat-sidebar-thumb {
  width: 45px;
  height: 45px;
  display: inline;
}
.chat-sidebar-username {
  display: inline;
  padding-left: 7px;
  position: relative;
  bottom: 12px;
  font-weight: 600
}
.chat-sidebar-usermsg {
  font-weight: 400;
  font-size: 0.9em;
  position:relative;
  left: 57px;
  bottom:32px;
  color: #BFBFBF;
}
.online-status {
  display: inline-block;
  z-index: 2;
  box-sizing: content-box;
  width: 8px;
  height: 8px;
  margin-left: 5px;
  border-radius: 100%;
  vertical-align: middle;
}
.online {
  background-color: #47D282;
}
.offline {
  background-color: #BFBFBF;
}
.chat-sidebar-favorite i {
  font-size: 14px;
}
.chat-sidebar-favorite i:hover {
  color: #F3BB45;
}
.chat-area {
  width: 68%;
}
.chat-top-right {
  border-bottom: 1px solid #EEE;
  padding-bottom: 20px;
  height: 70px;
}
.chat-receiver-name {
  font-size: 20px;
  display: inline;
  padding-right: 7px;
  position: relative;
  top: 3px;
}
.chat-receiver-info {
  position: relative;
  top: 25px;
  left: 20px;
}
.chat-receiver-actions a {
  position: relative;
  bottom: 3px;
  right: 33px;
}
.chat-bottom {
  position: relative;
  bottom: 6px;
  left: 5px;
  border-top: 1px solid #EEE;
  padding-top: 15px;
  height: 80px;
}
.chat-addons a {
  color: #666157 !important;
  position: relative;
  padding-right: 6px;
  top: 10px;
  left: 35px;
  outline: none;
}
.chat-addons a i {
  font-size: 19px;
}
.chat-input {
  position: relative;
  bottom: 23px;
  left: 70px;
}
.chat-input input {
  width: 76.9%;
  height: 32px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 20px !important;
  background-color: #FFF !important;
  border: 1px solid #666157 !important;
}
.chat-input a {
  position: relative;
  bottom: 32px;
}
.chat-content-wrap {
  padding: 15px;
  padding-right: 5px;
  height: 580px;
  overflow-y: hidden;
}
.chat-content {
  height:auto;
}
.chat-message {
  margin-bottom: 0px;
}
.chat-content-thumb {
  display: inline;
  height: 27px;
  width: 27px;
  margin-right:10px;
  position: relative;
  top: 6px;
}
.chat-content-username {
  font-size:  0.75em;
  line-height:  25px;
  font-weight: 500;
}
.chat-content-text {
  font-size:  0.85em;
  position: relative;
  bottom: 18px;
  margin: 0px;
  font-weight: 400;
}
.chat-placeholder {
  margin: 0 auto;
  display: block;
  text-align: center;
  float: none;
  position: relative;
  top: 70px;
  height: 500px;
}
.chat-placeholder h4 {
  font-weight: 300;
}
.chat-placeholder h4 span {
  font-weight: 500;
}
.chat-placeholder .photo-count {
  position: relative;
  bottom: 40px;
  left: 195px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid #FFF;
  background-color: #4D4D4D;
  color: #fff;
  line-height: 53px;
}
.chat-placeholder .photo-count small {
  position: relative;
  display: block;
  bottom: 39px;
  font-size: 10px;
}
.chat-placeholder-image {
  height: 220px;
  width: 220px;
  border-radius: 50%;
}
.chat-promo {
  background-color: #F7F7F7;
  border-radius: 10px !important;
  height: 70px;
  width: 100%;
  position: relative;
  bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.chat-promo img {
  float: left;
  height: 50px;
  width: 50px;
  position: relative;
  top: 10px;
}
.emoji-menu {
  position: absolute;
  bottom: 82px;
  width: 613px;
}
.emoji-top {
  height: 40px;
  border: 1px solid #EEE;
  padding-top: 6px;
  padding-bottom: 10px;
  background-color: #FFF;
}
.emoji-top-link:first-child {
  padding-left:12px;
}
.emoji-top-link{
  padding-right: 13px;
  cursor: pointer;
  border-right: 1px solid #EEE;
}
.emoji-top-img {
  padding-right: 8px;
  padding-left: 9px;
  cursor: pointer;
  border-right: 1px solid #EEE;
}
.emoji-top-img img {
  height: 26px;
  width: 26px;
  margin-bottom: 8px;
}
.emoji-content-wrap {
  height: 150px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 0px;
  background-color: #FFF;
}
.emoji-content {
  height: auto;
  width:  100%;
  overflow: hidden;
  padding-top: 5px;
}
.chat-message-send {
  position: relative;
  top: -1px;
  left: 3px;
  padding-right: 15px !important;
  padding-left: 17px !important;
  padding-right: 17px !important;
}
.chat-message-send img {
  height: 15px;
  width: 15px;
  margin-bottom: 3.5px;
}
.emoji-content .emoticon {
  display:inline;
}
.emoji-content .emoticon img {
  height: 22px;
  width: 22px;
  margin: 5px !important;
}
.sticker {
  height: 70px;
  width: 70px;
  padding: 8px;
  border-radius: 10px;
}
.sticker-disabled {
  height: 70px;
  width: 70px;
  padding: 8px;
  border-radius: 10px;
}
.sticker:hover {
  background: #EEE;
  transition: all 0.2s ease;
}
.sticker-chat {
  height: 80px;
  width: 80px;
  padding-top:10px;
}
.emoji-top-link.active, .emoji-top-img.active {
  border-bottom: 3px solid #2B65F8;
  padding-bottom: 6.6px;
  color: #2B65F8;
}
.darkClass {
  background-color: white;
  filter:alpha(opacity=50);
  opacity: 0.5;
  -moz-opacity:0.50;
  z-index: 20;
  height: 100%;
  width: 95%;
  background-repeat:no-repeat;
  background-position:center;
  position:relative;
  top: 0px;
  left: 0px;
}
.sticker-unlock-area {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 0px;
}
.sticker-unlock-area a {
  display: inline;
  float:left;
  margin-right: 10px;
}
.sticker-unlock-name {
  font-size: 1em;
  position: relative;
  margin-left: 115px;
}
.sticker-disclaimer {
  font-size: 0.7em;
  font-weight: 300;
  position: relative;
  bottom: 10px;
  margin-left: 115px;
}
.sticker-unlock-name span {
  font-weight: 300;
}
.gift-menu {
  position: absolute;
  bottom: 66px;
  width: 613px;
}
.gift-content-wrap {
  overflow: auto;
  height: 150px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
  background-color: #FFF;
  border-top: 1px solid #EEE;
}
.gift-content {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.chat-gift-image {
  height: 70px;
  width: 70px;
  padding: 8px;
  border-radius: 10px;
}
.chat-gift-image:hover {
  background: #EEE;
  transition: all 0.2s ease;
}
.chat-gift-selected {
  margin: 0 auto;
  float: none;
  text-align: center;
  display: block;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 0px;
}
.close span {
  font-size: 40px;
  font-weight: 300;
  position: relative;
  left: 0px;
  bottom: 8px;
}
.gift-send-btn {
  margin-top: 20px;
  margin-bottom: 10px;
}
.send-gift-diclaimer {
  font-size: 14px;
}
.send-gift-success i {
  font-size: 70px;
  color: #2ECC71;
}
.send-gift-success p, .send-gift-error p {
  font-size: 14px;
  padding-top: 10px;
}
.send-gift-error i {
  font-size: 70px;
  color: #EB5E28;
}
.chat-content-text .emojione {
  height: 18px;
  width: 18px;
}
.text-light {
  font-weight: 300;
}
.well-round {
  border-radius: 5px !important;
}
.page-inner {
  padding-top: 0px !important;
  padding-left: 0px !important;
  background-color: #3A3A3A;
  overflow: auto;
  overflow-x: hidden !important;
  min-height: 700px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.card-user {
  border: 1px solid #2A2A2A;
  box-shadow: none;
  width: 180px;
  height: 235px;
  margin: 12px;
  display: inline-block;
  color: #FFF;
}
.card-user .content {
  padding: 0px;
  overflow: auto;
}
.pagination {
  margin-top: 10px;
}
.pagination li a {
  font-weight: 700;
}
.pagination li.active a {
  background-color: #2B65F8;
  border-color: #2B65F8;
}
.pagination li:not(.active) a {
  border-color: #F2F2F2 !important;
  color: #4D4D4D;
}
.pagination li:not(.active) a:hover {
  border-color: #2B65F8 !important;
  background-color: #FFF;
  color: #2B65F8;
}
.card-user .avatar {
  border-radius: 0px;
  width: 180px;
  height: 170px;
  margin-bottom: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card-user .name {
  margin-top: 0px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0px;
}
.card-user .location {
  margin-top: 1px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 1em;
}
.card-user .photos {
  position: absolute;
  bottom: 78px;
  left: 8px;
  z-index: 10;
  color: #FFF;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.7em;
}
.card-user .photos i {
  display: inline;
  color: #FFF;
}
.card-user .online-status {
  position: relative;
  bottom: 1px;
  right: 1px;
}
h3 span.page-title {
  margin-left: 15px;
  font-size: 0.8em;
}
.padding-inner {
  padding-left: 20px !important;
}
.filter-area {
  background-color: #4A4A4A;
  padding: 20px;
  box-shadow: 1px 0px 1px rgba(0,0,0,.3);
  overflow: hidden;
  color: #FFF;
}
.filter-btn {
  color: rgba(77, 77, 77,1);
  border-color: rgba(77, 77, 77,0.2);
  border-width: 1px;
  margin-right: 15px;
  margin-top: 2px;
}
.filter-btn i {
  position: relative;
  top: 2px;
}
.filter-border-right {
  border-right: 1px solid #3A3A3A;
}
.filter-border-left {
  border-left: 1px solid #3A3A3A;
  padding-bottom: 23px;
}
.filter-area .slider-primary {
  position: relative;
  top: 14px;
}
.encounter-control {
  color: #FFF;
  font-size: 2.5em;
}
.encounter-control:hover {
  opacity: 1;
}
.lSPager {
  margin-top: 13px !important;
}
.lSPager > li.active a {
  background-color: #2B65F8 !important;
}
.invite-friends {
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 0 auto;
  float: none;
  text-align: center;
  padding-bottom: 0px;
  width: 870px;
}
.invite-friends .user {
  margin: 5px;
  display: inline-block;
}
.invite-friends img {
  height: 50px;
  width: 50px;
}
.invite-friends p {
  font-size: 0.9em;
  font-weight: 700;
  color: #FFF;
}
.invite-friends .btn {
  position: relative;
  left: 40px;
  bottom: 4px;
  font-weight: 700;
}
.invite-friends canvas {
  border-radius: 6px;
  height: 50px;
  width: 50px;
}
.invite-friends i.help {
  color: #BFBFBF;
  font-size: 1.1em;
  position: absolute;
  top: 22px;
  margin-left: 5px;
}
.invite-friends i.help:hover {
  color: #2B65F8;
}
.invite-friends .action {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: #BFBFBF;
  position: relative;
  top: 5px;
  right: 310px;
  border-radius: 6px;
  cursor: pointer;
}
.invite-friends .action img {
  color: #FFF;
  position: relative;
  top: 9.5px;
  height: 32px;
  width: 32px;
  right: 0px;
}
.invite-friends hr {
  border-color: rgba(0,0,0,0.1);
  margin-bottom: 10px;
  margin-top: 10px;
}
.encounter-controls .btn {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 1.8em;
  margin-right: 5px;
  border-width: 2px;
}
.encounter-controls .btn-danger i {
  position: relative;
  top: 4px;
  bottom: 2px;
  left: 3px;
}
.encounter-controls .btn-primary i {
  position: relative;
  top: 4px;
  bottom: 2px;
  left: 3px;
}
.primary {
  margin-right: 7px;
}
.encounter-controls .btn:hover {
  transform: scale(1.08);
}
.encounter-controls .btn-danger:hover i, .encounter-controls .btn-danger:active i {
  color: #FFF;
  opacity: 1;
}
.encounter-controls .btn-danger:disabled:hover i {
  color: #EA2B31;
  opacity: 1;
}
.encounter-controls .btn-primary:disabled:hover i {
  color: #2B65F8;
  opacity: 1;
}
.encounter-controls .btn-primary:hover i, .encounter-controls .primary:active i {
  color: #FFF;
  opacity: 1;
}
span.show-text {
  cursor: pointer;
  color: #999;
  border-bottom: 1px dotted rgba(77, 77, 77, 0.3);
}
span.show-text:hover {
  color: #2B65F8;
  border-color: #2B65F8;
}
span.full-text {
  display: none;
}
.modal-backdrop {
  opacity:0.6 !important;
}
.new-item {
  background: #F02139;
  padding: 7px 9px 6px;
  border-radius: 11px;
  min-width: 22px;
  font-weight: 700;
  color: #FFF;
  position:absolute;
  bottom: 200px;
  right: 10px;
  z-index: 10;
  font-size: 0.7em;
}
.qtip {
  background-color: rgba(0,0,0,0.8);
  border-color: rgba(0,0,0,0.8);
  color: #FFF;
  font-size: 0.75em;
  padding: 2px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
}
.gift-tooltip {
  width: 200px;
}
.gift-tooltip-image {
  height: 40px;
  width: 40px;
  float: left;
  margin-bottom: 5px;
}
.gift-tooltip-title {
  display: block;
  font-size: 1.1em;
  position: relative;
  top: 2px;
  left: 7px;
  text-decoration: underline;
}
.gift-tooltip-body {
  display: block;
  position: relative;
  top: 5px;
  left: 7px;
  font-size: 1.1em;
}
.profile-section table tr, table td {
  border-color: #F2F2F2 !important;
}
.form-group .title {
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0px;
}
.popularity .header {
  background-size: cover;
  background-image: url('../../img/popularity-header.png');
  height: 100px;
}
.popularity .heading {
  text-align: center;
}
.popularity .heading h2 {
  font-size: 1.25em;
  font-weight: 700;
}
.popularity .section {
  padding-top: 50px;
  padding-left: 20px;
  overflow: none;
  border-bottom: 1px solid #F2F2F2;
}
.popularity .section .description {
  text-align: left;
  padding-left: 14%;
}
.popularity .section h3 {
  font-size: 1.5em;
  font-weight: 400;
}
.popularity .section p {
  font-size: 0.9em;
}
.popularity .section .btn {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.1em;
}
.popularity .section:nth-of-type(1) {
  height: 300px;
}
.popularity .rise-up {
  position: relative;
  width: 200px;
}
.popularity .section .rise-up .avatar {
  height: 160px;
  width: 177px;
  position: absolute;
  left: 78px;
  bottom: 63px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.popularity .section:nth-of-type(2) {
  height: 350px;
}
.popularity .section:nth-of-type(2) .description {
  position: relative;
  top: 40px;
}
.popularity .increase-encounters {
  position: relative;
  width: 200px;
}
.popularity .section .increase-encounters .avatar {
  height: 205px;
  width: 221px;
  position: absolute;
  left: 40px;
  top: 67px;
  clip: rect(0px, 221px, 170px, 0px)
}
.popularity .section:nth-of-type(3) {
  height: 330px;
}
.popularity .section:nth-of-type(3) .description {
  position: relative;
  top: 30px;
}
.popularity .section .get-featured .avatar {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 165px;
  top: 20px;
  border-radius: 50%;
  border: 2px solid #2B65F8;
}
.popularity .section:nth-of-type(4) {
  height: 330px;
}
.popularity .section:nth-of-type(4) .description {
  position: relative;
  top: 30px;
}
.popularity .section .become-vip .avatar {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 150px;
  top: 70px;
  border-radius: 50%;
}
.btn-emerald {
  color: #00CAA8;
  border-color: #00CAA8;
}
.btn-emerald.btn-fill {
  background-color: #00CAA8;
  border-color: #00CAA8;
}
.btn-emerald:hover, .btn-emerald:active {
  background-color: #00B697 !important;
  border-color: #00B697 !important;
}
.btn-default {
  border: 1px solid rgba(26, 26, 26,0.2);
  color: #FFF;
}
.btn-default.btn-fill {
  background-color: #FFF !important;
  color: #4D4D4D !important;
  font-weight: 700;
}
.btn-default.btn-fill:hover {
  background-color: #FFF;
  border: 1px solid #2B65F8;
  color: #2B65F8 !important;
}
.btn-default.main-btn {
  padding-top: 9px;
  padding-bottom: 9px;
}
.btn-default:hover {
  border-color: #2B65F8;
  color: #2B65F8;
  background-color: transparent;
}
.btn-default:hover i {
  color: #2B65F8;
  opacity: 1;
}
.btn-default:active {
  border-color: #2B65F8;
  color: #2B65F8;
  background-color: transparent;
}
.btn-default:focus {
  border-color: #2B65F8;
  color: #2B65F8;
  background-color: transparent;
}
.btn-default:active i {
  color: #2B65F8;
  opacity: 1;
}
.btn-default:focus i {
  color: #2B65F8;
  opacity: 1;
}
.play-history .item img {
  height: 45px;
  width: 45px;
}
.ui-slider-horizontal {
  height: 6px;
}
.ui-slider-handle {
  height: 13px !important;
  width: 13px !important;
}
.play-history .item.active img {
  border: 2px solid #2B65F8;
}
a.link-black {
  color: #FFF !important;
}
.credits .heading {
  background-color: #F69426;
  height: 60px;
  position: relative;
}
.credits .heading:after {
  content: '.';
  visibility: hidden;
}
.credits .heading .info {
  position: relative;
  color: #FFF;
  margin: 0 auto;
  text-align: center;
  float: none;
  font-weight: 700;
  font-size: 0.9em;
  padding-top: 7px;
}
.credits .heading .info i {
  font-size: 0.9em;
  position: relative;
  top: 1px;
  padding-right: 5px;
}
.credits .heading .counters { 
  position: absolute;
  margin: 0 auto;
  text-align: center;
  float: none;
  overflow: hidden;
  background-color: #F69426;
  height: 65px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  padding-left: 7px;
  padding-right: 7px;
}
.credits .heading .counter-container {
  position: relative;
  padding: 2px;
}
.credits .heading .counter {
  position: relative;
  bottom: 0px;
  position: inline-block;
}
.credits .heading .counter .counter-up {
  background: #FFF;
  height: 28px;
  width: 35px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #D9D9D9;
}
.credits .heading .counter .counter-down {
  background: #FFF;
  height: 28px;
  width: 35px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 3px solid #D9D9D9;
}
.credits .heading .counter .number {
  position: relative;
  bottom: 49px;
  font-size: 2em;
  font-weight: 700;
}
.credits .page-inner {
  padding-top: 70px !important;
  overflow: hidden;
}
.credits .page-inner .btn:nth-child(1) {
  font-weight: 700;
  font-size: 1.1em;
  padding-left: 30px;
  padding-right: 30px;
}
.credits .page-inner .btn {
  font-weight: 700;
}
.credits .page-inner h2 {
  font-size: 1.2em;
  margin-top: 20px;
}
.credits .padding-inner {
  padding-top: 40px;
  position: relative;
  left: 54.5%;
  transform: translate(-50%, 0);
}
.credits .rise-up .avatar {
  height: 170px;
  width: 177px;
  position: absolute;
  left: 78px;
  bottom: 63px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.credits .page-inner .btn-success:not(.main-btn) {
 position: relative;
 left: 33px;
 top: 13px;
}
.credits .increase-encounters .avatar {
  height: 170px;
  width: 180px;
  position: absolute;
  left: 34px;
  top: 40px;
  clip: rect(20px, 165px, 170px, 0px);
  -webkit-clip: rect(20px, 165px, 170px, 0px);
}
.credits .page-inner .btn-emerald:not(.main-btn) {
  position: relative;
  left: 25px;
  top: 13px;
}
.credits .rise-up, .credits .increase-encounters, .credits .get-featured {
  position: relative;
  width: 200px;
}
.credits .increase-encounters {
  padding-left: 20px;
}
.credits .get-featured {
  padding-left: 40px;
}
.credits .get-featured .avatar {
  height: 210px;
  width: 230px;
  position: absolute;
  left: 20px;
  top: -14px;
  clip: rect(20px, 165px, 210px, 30px);
  -webkit-clip: rect(20px, 165px, 170px, 0px);
}
.credits .get-featured .icon {
  position: relative;
  bottom: 22px;
  left: 2px;
}
.credits .page-inner .btn-primary:not(.main-btn) {
 position: relative;
 left: 25px;
 top: -10px;
}
.credits .page-inner .desc-1 {
 font-size: 0.9em;
 position: relative;
 top: 27.5px;
 left: 35px;
}
.credits .page-inner .desc-2 {
  font-size: 0.9em;
  position: relative;
  top: 27.5px;
  left: 25px;
}
.credits .page-inner .desc-3 {
  font-size: 0.9em;
  position: relative;
  top: 5px;
  left: 25px;
}
.superpowers .heading {
  background-color: #F69426;
  height: 60px;
  position: relative;
}
.superpowers .heading:after {
  content: '.';
  visibility: hidden;
}
.superpowers .heading .user {
  margin: 0 auto;
  float: none;
  text-align: center;
  position: relative;
  top: 15px;
}
.superpowers .heading .user img {
  height: 80px;
  width: 80px;
  padding: 3px;
}
.superpowers .page-inner {
  padding-top: 60px !important;
  overflow: hidden;
}
.superpowers .page-inner .btn {
  font-weight: 700;
}
.superpowers .page-inner h2 {
  font-size: 1.3em;
  margin-top: 0px;
}
.superpowers .padding-inner {
  padding-top: 40px;
  position: relative;
  left: 54.5%;
  transform: translate(-50%, 0);
}
.superpowers .main-btn {
  margin-right: 5px;
}
.superpowers .see-likes .avatar {
  height: 170px;
  width: 183px;
  position: absolute;
  left: 74px;
  bottom: -4px;
}
.superpowers .popular-chat .avatar {
  height: 165px;
  width: 180px;
  position: absolute;
  left: 30px;
  top: 0px;
  clip: rect(0px, 180px, 178px, 0px);
  -webkit-clip: rect(20px, 180px, 178px, 0px);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.superpowers .see-likes, .superpowers .popular-chat, .superpowers .get-featured {
  position: relative;
  width: 200px;
}
.superpowers .popular-chat {
  padding-left: 20px;
}
.superpowers .get-featured {
  padding-left: 40px;
}
.superpowers .get-featured .avatar {
  height: 210px;
  width: 230px;
  position: absolute;
  left: 20px;
  top: -14px;
  clip: rect(20px, 165px, 210px, 30px);
  -webkit-clip: rect(20px, 165px, 170px, 0px);
}
.superpowers .get-featured .icon {
  position: relative;
  bottom: 22px;
  left: 2px;
}
.superpowers .page-inner .desc-1 {
  position: absolute;
  bottom: -85px;
  left: 90px !important;
  font-size: 1.05em;
}
.superpowers .page-inner .desc-2 {
  position: absolute;
  bottom: -85px;
  left: 45px !important;
  font-size: 1.05em;
}
.superpowers .page-inner .desc-3 {
  position: absolute;
  bottom: -65px;
  left: 45px !important;
  font-size: 1.05em;
}
.container-locked {
  width: 1400px;
}
.nav-tabs {
  margin-bottom: 15px;
  border-bottom: 1px solid #1A1A1A;
}
.nav-tabs li.active a {
  color: #FFF;
  font-size: 0.85em;
  background: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid #2B65F8;
}
.nav-tabs li.active a:hover {
  color: #2B65F8;
  border-bottom: 3px solid #2B65F8;
  font-size: 0.85em;
}
.nav-tabs li.active a:before {
 content: none;
 border: none;
}
.nav-tabs li.active a:after {
 content: none;
 border: none;
}
.nav-tabs li a {
  font-size: 0.85em;
  color: #FFF;
  background: transparent !important;
  border: 0px;
  font-weight: 700;
}
.nav-tabs li a:hover {
  color: #2B65F8;
}
.superman-svg {
  display: inline;
  position: relative;
  top: 8px;
}
.superman-svg object {
  point-event: none !important;
}
.coin-svg {
  display: inline;
  position: relative;
  top: 6px;
}
.profile-badge.superman-svg {
  top: -1.6px;
}
.profile-badge.superman-svg object {
  height: 15px;
  width: 15px;
  position: relative;
  top: 3px;
}
.btn {
  border-width: 1px;
}
.btn-icon.btn-info:hover {
  background-color: #1BA0E3;
  border-color: #1BA0E3;
}
.btn-icon.btn-warning:hover {
  background-color: transparent;
}
.btn-icon.btn-warning:hover i {
  color: #FEC309;
}
.award-small {
  height: 60px;
  width: 60px;
  margin: 4px;
}
.score-container {
  position: relative;
}
.score-chart {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 0px;
  display: inline;
}
.score-info {
  display: inline;
  position: absolute;
  bottom: 22px;
  margin-left: 5px;
  font-size: 0.9em;
}
.score-chart span {
  font-size: 1.4em;
  font-weight: 700;
}
.score-chart span.two-digit {
  position: absolute;
  top: 20px;
  left: 30px;
}
.score-chart span.three-digit {
  position: absolute;
  top: 20px;
  left: 24px;
}
.gallery-item {
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: relative;
}
.gallery-upload {
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 150px;
  width: 150px;
  color: #FFF;
  text-align: center;
  padding-top: 50px;
  background-color: #1F72F2;
  font-weight: 700;
  font-size: 0.85em;
}
.gallery-upload:hover {
  background-color: #1C68D9;
}
.gallery-upload i.camera {
  display: block;
  font-size: 2em;
  padding-bottom: 10px;
}
.gallery-upload i.plus {
  display: inline;
  position: absolute;
  bottom: 70px;
  left: 82px;
  font-size: 0.4em;
  border: 2px solid #1F72F2;
  border-radius: 50%;
  color: #1F72F2;
  background-color: #FFF;
  padding: 2px;
}
.gallery-item {
  position: relative;
  cursor: pointer;
}
.gallery-item img {
  height: 150px;
  width: 150px;
  filter: none;
}
.gallery-item img:hover {
  filter: none;
  filter: brightness(87%);
}
.gallery-item .delete {
  display: block;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  display: none;
}
.gallery-item:hover .delete {
  display: block;
}
.gallery-item .delete i {
  font-size: 1em;
  opacity: 0.7;
  color: #FFF;
  position: relative;
  top: 4px;
  left: 7.4px;
}
.gallery-item .delete:hover {
  background: rgba(0,0,0,0.7);
}
.gallery-item .delete:hover i {
  opacity: 1;
}
.gallery-item .profile-photo {
  display: block;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 45px;
  height: 30px;
  width: 30px;
  display: none;
}
.gallery-item:hover .profile-photo {
  display: block;
}
.gallery-item .profile-photo i {
  font-size: 1em;
  opacity: 0.7;
  color: #FFF;
  position: relative;
  top: 4px;
  left: 7.4px;
}
.gallery-item .profile-photo:hover {
  background: rgba(0,0,0,0.7);
}
.gallery-item .profile-photo:hover i {
  opacity: 1;
}
.btn[disabled]:hover {
  transform: scale(1) !important;
}
.overlay-control {
  background-color: rgba(0,0,0,0.4);
  z-index: 10;
  cursor: pointer;
}
.overlay-control:hover {
  background-color: rgba(0,0,0,1);
}
.overlay-control.flag {
  position: absolute;
  bottom: 25px;
  right: 30px;
  border-radius: 50%;
  padding: 7px;
  height: 30px;
  width: 30px;
}
.overlay-control.photos {
  position: absolute;
  bottom: 25px;
  left: 30px;
  padding: 10px;
  border-radius: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1em;
  height: 30px;
  width: 65px;
  color: #FFF;
}
.overlay-control.photos a i {
  position: relative;
  bottom: 0.75px;
  right: 12px;
  font-size: 0.95em;
}
.overlay-control.photos a span.container {
 position: relative;
 bottom: 45.5px;
 left: 10px;
 font-weight: 700;
}
.overlay-control.photos a {
  color: rgba(255,255,255,1);
}
.overlay-control a {
  font-size: 0.9em;
  color: rgba(255,255,255,0.7);
}
.overlay-control:hover a {
  color: rgba(255,255,255,1);
}
.overlay-control a i {
  position: relative;
  bottom: 2px;
}
.gift-promo {
  position: relative;
}
.gift-promo .gift-image-small:hover {
  border-color: #E6E6E6 !important;
  border-width: 1px !important;
  padding: 7px;
}
.gift-promo .icon {
  background-color: #2B8CFC;
  color: #FFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 0px;
  left: 50px;
  position: absolute;
}
.gift-promo .icon i {
  position: relative;
  left: 5.5px;
  bottom: 0.8px;
  font-size: 0.6em;
}
.gift-promo p {
  position: absolute;
  left: 85px;
  top: 11px;
  font-size: 0.9em;
  font-weight: 700;
}
.gift-promo a {
  color: #FFF;
  cursor: pointer;
}
.gift-promo a:hover {
  color: #2B65F8;
}
.profile-verifications {
  overflow: hidden;
}
.profile-verifications .item {
  display: block;
}
.profile-verifications .item i {
  background-color: #1A1A1A;
  color: #FFF;
  padding: 7px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  border-radius: 50%;
  font-size: 1.1em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.profile-verifications .item.facebook i {
  background-color: #3464D4;
}
.profile-verifications .item.photo i {
  background-color: #1EB2FC;
}
.profile-verifications .item .primary {
  font-weight: 700;
  font-size: 1em;
  position: relative;
  left: 9px;
  display: inline;
}
.profile-verifications .item .secondary {
  font-size: 0.9em;
  position: relative;
  left: 9px;
}
.modal-open {
 overflow: auto; 
}
#loader {
  height: 100%;
  width: 100%;
}
#loader .loader {
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 1301;
}
#loader .backdrop {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 1300;
  height: 100%;
  width: 100%;
  left: 0px;
}
.filter-area .title.slider {
  margin-top: 17px !important;
}
.form-control:hover, .form-control:focus {
  border-color: #2B65F8;
}
input.form-control {
  vertical-align: middle;
  display: inline-block;
  margin: 5px 0;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 24px;
  width: 100%;
  height: 44px;
  padding: 11px 20px;
  background: #fff;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  transition: border-color .2s;
  height: 32px;
  font-size: 0.8em;
  font-weight: 400 !important;
}
textarea.form-control {
  vertical-align: middle;
  display: inline-block;
  margin: 5px 0;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 24px;
  width: 100%;
  padding: 11px 20px;
  background: #fff;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  transition: border-color .2s;
  font-size: 0.9em;
  padding-top: 7px;
}
.well {
  border-bottom: 0px;
}
#editable:hover .btn-edit {
  display: inline-block;
}
.profile-section-heading {
  position: relative;
  color: #FFF;
}
.btn-edit {
  border-width: 2px;
  display: none;
  position: absolute;
  bottom: -3.5px;
  margin-left: 8px;
}
.btn-edit i {
  position: relative;
  top: 1.2px;
}
.btn-edit:hover,.btn-edit:active,.btn-edit:focus {
  background: transparent !important;
}
.btn-edit:hover i,.btn-edit:active i,.btn-edit:focus i {
  color: #2B65F8 !important;
  opacity: 1 !important;
}
.ed {
  margin-left: -35px;
  margin-right: -15px;
  width: auto;
  display:none; 
  background-color: #4A4A4A;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
  box-shadow: 1px 0px 1px rgba(0,0,0,.3);
  margin-top: 20px;
  padding-left: 20px !important;
  overflow: hidden;
  position: relative;
  color: #FFF;
}
.ed .btn {
  font-weight: 700;
  padding-left: 9px;
  padding-right: 9px;
}
#editable-1 .btn i {
  position: relative;
  top: 1px;
  right: 4px;
  background-color: #3464D4;
  color: #FFF;
  padding: 4px;
  padding-left: 4.95px;
  padding-right: 4.95px;
  border-radius: 50%;
  font-size: 0.8em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#editable-1 .left {
  padding-top: 22px;
  font-size: 1.05em;
}
#editable-1 .right {
  padding-top: 12.5px;
}
#editable-1 .left.left-btn {
  position: relative;
  bottom: 10px;
}
#editable-1 .right .btn-icon {
  position: relative;
  bottom: 5px;
}
.form-control.input-sm {
  height: 34px;
  font-size: 1em;
  padding-left: 15px;
}
.ed .actions {
  margin-top: 10px;
}
.ed .actions .btn {
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
#editable-2 .profile-section {
  font-size: 1em;
}
#editable-2 .actions {
  margin-top: 0px;
  position: relative;
  bottom: 3px;
}
.profile-section .map {
  margin-top: 0px;
  border-radius: 3px;
  position: relative;
  display: none;
}
.profile-section .map .info {
  font-weight: 700;
  background-color: rgba(0,0,0,0.65);
  padding: 8px;
  position: relative;
  left: 180px;
  top: 37px;
  color: #FFF;
  font-size: 0.85em;
  border-radius: 3px;
}
.profile-section .map .info:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-top: solid 5px rgba(0,0,0,0.65);
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}
#editable-3 .left {
  position: relative;
  padding-top: 14px;
  font-size: 1.05em;
}
#editable-3 .right {
  position: relative;
  padding: 4px;
}
#editable-3 textarea.form-control {
  border-radius: 15px;
  padding-left: 15px;
  font-size: 1em;
}
.profile-section-heading a:not(.btn) {
  border-bottom: 1px dotted rgba(77, 77, 77, 0.3);
  cursor: pointer;
  color: #999;
  transition: color .2s,border-color .2s;
  font-size: 0.65em;
  font-weight: 400;
}
.profile-section-heading .active {
  display: none;
}
.encounter {
  min-width: 900px;
  padding-top: 0px !important;
  padding-left: 0px !important;
}
table.profile-section {
  max-width: 370px !important;
}
table.profile-section tbody tr td {
  border: 0px;
}
.profile-aside {
  padding-left: 15px;
  padding-bottom: 100px;
}
.chat-input input {
  height: 30px !important;
  width: 75%;
  border-color: #2B65F8 !important;
  font-size: 0.3em;
}
input::-webkit-input-placeholder {
 font-size: 0.85em;
 color: #bfbfbf;
 padding-bottom: 2px;
}
input:-moz-placeholder { /* Firefox 18- */
  font-size: 0.85em;
  color: #bfbfbf;
  padding-bottom: 2px;
}
input::-moz-placeholder {  /* Firefox 19+ */
  font-size: 0.85em;
  color: #bfbfbf;
  padding-bottom: 2px;
}
.chat-close {
  position: absolute;
  right: -15px;
  top: -9px;
  background-color: #FFF;
  border-radius: 50%;
  padding: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 30px;
  z-index: 2000 !important;
  border: 3px solid #171717;
  cursor: pointer;
}
.chat-close i {
  color: #4D4D4D;
  font-size: 0.55em;
  padding-left: 5px;
  position: relative;
  bottom: 1px;
}
.chat-receiver-name .online-status {
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}
.chat-content .date {
  text-align: center;
  font-size: 0.7em;
}
.chat-content .date:first-child {
  margin-top: 7px;
}
.chat-content-text .emoji,.chat-sidebar-usermsg .emoji {
  height: 16px;
  width: 16px;
}
.chat-sidebar-top input.input-sm {
  height: 30px;
  width: 80%;
  background-color: #FFF !important;
  position: relative;
  top: 15px;
  left: 30px;
}
.sticker-unlock-area .btn-primary {
  margin-top: 3px;
}
.btn {
  font-weight: 700;
}
footer {
  padding: 20px 20px;
  padding-bottom: 10px;
  background-color: #4A4A4A;
  position: relative;
  border-top: 1px solid #1A1A1A;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
}
footer ul li {
  position: relative;
}
footer ul li a {
  color: #FFF;
  font-size: 0.8em;
}
footer ul li a.has-dot:before {
  content: '\b7';
  position: absolute;
  right: -4px;
  top: 3px;
  font-weight: 700;
  color: #bfbfbf;
}
footer ul li a:hover {
  color: #2B65F8;
}
footer hr {
  color: rgba(0,0,0,0.1);
}
table.profile-section .underline {
  border-bottom: 1px solid rgba(77, 77, 77, 0.3);
}
#uneditable-1, #uneditable-2, #uneditable-3 {
  cursor: pointer;
}
/* Single Award */
#single-award .modal-content, #single-gift .modal-content {
  width: 400px;
  margin: 0 auto;
  float: none;
  border-radius: 15px;
}
#single-award .modal-body, #single-gift .modal-body {
  border-radius: 15px;
  position: relative;
}
#single-award .modal-body {
  padding: 0px;
}
#single-award .modal-body .bg-blue {
  height: 170px;
  background-color: #2B65F8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#single-award .modal-body img {
  position: relative;
  top: -100px;
}
#single-award .modal-body h3 {
  position: relative;
  top: -70px;
  font-size: 1.7em;
}
#single-award .modal-body p {
  position: relative;
  top: -73px;
  font-size: 1.1em;
}
#single-award .modal-body .btn, #single-gift .modal-body .btn {
  font-weight: 700;
  font-size: 1.1em;
  padding-top: 11px;
  padding-bottom: 11px;
}
#single-award .modal-body .btn {
  position: relative;
  top: -50px;
}
#single-gift .modal-body h3 {
  font-size: 1.2em;
}
/* Verify Profile */
#verify .modal-content {
  border-radius: 15px;
}
#verify .modal-body {
  padding: 0px;
  border-radius: 15px;
  position: relative;
}
#verify .modal-body .loader {
  left: 20px;
  display: none;
  top: 10px;
}
#verify .modal-body .bg-blue {
  height: 150px;
  background-color: #2B65F8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#verify .modal-body .avatar {
  height: 180px;
  width: 180px;
  padding: 3px;
  position: relative;
  top: -90px;
}
#verify .modal-body .verify-icon {
  background-color: #1EB2FC;
  color: #FFF;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  top: 220px;
  left: 284px;
  border: 3px solid #FFF;
}
#verify .modal-body .verify-icon i {
  position: relative;
  top: 5px;
  font-size: 0.8em;
  left: 0.5px;
}
#verify .modal-body .primary {
  position: relative;
  top: -70px;
}
#verify .modal-body .btn-info {
  position: relative;
  top: -60px;
  font-weight: 700;
  font-size: 1.1em;
}
#verify .modal-body .btn-info i {
  background-color: #FFF;
  color: #1EB2FC;
  padding: 6px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  right: 5px;
}
#verify .modal-body .secondary {
  position: relative;
  top: -40px;
}
#verify .modal-body .verifications {
  position: relative;
  top: -20px;
  margin: 0 auto;
  float: none;
  text-align:center;
  width: 300px;
}
#verify .modal-body .verifications .item i {
  background-color: #BFBFBF;
  color: #FFF;
  padding: 15px;
  border-radius: 50%;
  font-size: 2em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#verify .modal-body .verifications .item {
  width: 100px;
}
#verify .modal-body .verifications .item .name {
  position: relative;
  top: 14px;
  font-weight: 700;
  font-size: 0.9em;
  color: #999;
}
#verify .modal-body .verifications .item .status {
  font-size: 0.85em;
  color: #999;
}
#verify .modal-body .verifications .item.facebook.verified i {
  background-color: #3464D4;
}
#verify .modal-body .verifications .item.facebook:hover i {
  background-color: #3464D4;
}
#verify .modal-body .verifications .item:hover p.name, #verify .modal-body .verifications .item.verified p.name {
  color: #4D4D4D;
}
#verify .modal-body small {
  position: relative;
  top: -20px;
  font-size: 0.85em;
  color: #999;
}
/* Take Photo (Photo Verification) */
#take-photo .modal-body {
  padding-bottom: 25px;
}
#take-photo .modal-body h3 {
  font-size: 1.4em;
}
#take-photo .modal-body p {
  padding-left: 40px;
  padding-right: 40px;
}
#take-photo .modal-body .btn-info {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.1em;
}
#take-photo .modal-body small {
  position: relative;
}
#take-photo .modal-body .close {
  font-size: 0.9em;
  position: relative;
  right: -30px;
}
#take-photo .modal-body .btn-primary {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
#single-gift .modal-body h3 img {
  height: 30px;
  width: 30px;
  position: relative;
  top: 4px;
}
#single-gift .modal-body h3 a {
  color: #2B65F8;
  padding-bottom: 2px;
}
#single-gift .modal-body h3 a:hover {
  border-bottom: 1px solid #2B65F8;
}
#single-gift .modal-body .note {
  border: 1px solid #E6E6E6;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.1em;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
#single-gift .modal-body .btn {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Report Photo */
#report-photo .modal-content {
  width: 400px;
  margin: 0 auto;
  float: none;
  border-radius: 15px;
}
#report-photo .modal-body h3 {
  font-weight: 400;
  text-align: center;
  font-size: 1.2em;
}
#report-photo .modal-body .btn {
  font-weight: 700;
  padding-left: 13px;
  padding-right: 13px;
}
/* Send Gift */
#send-gift .modal-header {
  background-color: #2B65F8;
  color: #FFF;
  text-align: left;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 68px;
}
#send-gift .modal-content {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  overflow: hidden;
}
#send-gift .modal-header .close {
  color: #FFF;
  opacity: 1;
  font-size: 0.9em;
  position: absolute;
  top: 25px;
  right: 25px;
}
#send-gift .modal-body {
  overflow: hidden;
}
#send-gift .modal-body .btn-container {
  position: relative;
  top:  10px;
  padding-bottom: 20px !important;
}
#send-gift .modal-body .btn-primary {
 margin: 0 auto;
 float: none;
 text-align: center;
 font-weight: 700;
 display: block;
}
#send-gift .modal-body .form-control {
  border-radius: 16px;
  height: 32px;
  padding: 6px 15px;
  font-size: 1em;
  line-height: 1.2857;
  margin: 5px 0;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, .15);
  background: #fff;
  color: #4d4d4d;
  transition: border-color .2s;
}
#send-gift .modal-body .form-control:hover, #send-gift .modal-body .form-control:active, #send-gift .modal-body .form-control:focus {
  border-color: #2b65f8;
}
/* Unlock Education */
#unlock-education .modal-content {
  background: #FFF;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#unlock-education .modal-body {
  padding: 0px;
}
#unlock-education .modal-heading {
  background-color: #262B37;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 370px;
}
#unlock-education .modal-heading img {
  height: 180px;
  width: 180px;
  position: relative;
  bottom: 30px;
}
#unlock-education .modal-inner {
  background-color: #FFF;
  height: 150px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#unlock-education .modal-inner .btn {
  position: relative;
  top: 50px;
  background-color: #3464D4;
  border-color: #3464D4;
}
#unlock-education .modal-inner .btn i {
  background-color: #FFF;
  color: #3464D4;
  padding: 6px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  right: 2px;
}
#unlock-education .modal-heading h2 {
  color: #FFF;
  padding: 40px;
  font-size: 1.25em;
  text-align: left;
  font-weight: 700;
  position: relative;
  bottom: 15px;
}
#unlock-education .modal-heading p {
  color: #FFF;
  position: relative;
  bottom: 20px;
  margin-top: 0px;
  font-size: 1.1em;
}
#unlock-education .modal-heading .close {
  color: #FFF;
  opacity: 1;
  font-size: 0.9em;
  position: absolute;
  top: 25px;
  right: 25px;
}
/* Add Photos */
#add-photos .modal-body {
  padding: 0px;
}
#add-photos .modal-heading {
  background-color: #2B65F8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#add-photos .modal-heading h2 {
  color: #FFF;
  font-size: 1.2em;
  text-align: left;
  margin: 0px;
  padding: 20px;
  padding-top: 25px;
}
#add-photos .modal-content {
  background: #FFF;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#add-photos .modal-inner {
  padding: 0px;
  text-align: left;
  padding: 20px;
  padding-top: 13px;
}
#add-photos .btn-primary i {
  background-color: #FFF;
  color: #2B65F8;
  padding: 7px;
  border-radius: 50%;
  position: relative;
  top: 2px;
  right: 2px;
  font-size: 0.9em;
}
#add-photos .dropzone {
  margin: 25px 0 20px;
  border: 2px dashed rgba(0, 0, 0, .15);
  border-radius: 10px;
  padding: 20px 25px;
  background: #f7f7f7;
  background-clip: border-box;
  transition: background .1s linear,border-color .1s linear;
  text-align: center;
}
#add-photos .dz-message .btn-primary {
  font-weight: 700;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 1.1em;
}
#add-photos .dz-message small {
  position: relative;
  top: 5px;
}
.well {
  border: none;
}
.encounter-photo {
  background-color: #1A1A1A !important;
}
.well hr {
  border-color: #1A1A1A !important;
  background-color: #1A1A1A !important;
}
.profile-aside-flex {
  background-color: #4A4A4A !important;
  color: #FFF !important;
}
.interest-item {
  background-color: #4A4A4A !important;
  color: #FFF;
}
.no-results {
  padding: 50px;
  padding-top: 110px;
}
.no-results img {
  height: 180px;
  width: 180px;
}
.no-results h4 {
 font-size: 1.5em;
}
.no-results p {
 font-size: 1.3em;
}
.no-results-sm p {
 font-size: 1.1em;
}
#buy-modal .modal-heading {
  background-color: #2B65F8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#buy-modal .modal-heading h2 {
  color: #FFF;
  font-size: 1.2em;
  text-align: left;
  margin: 0px;
  padding: 20px;
  padding-top: 25px;
  font-weight: 400;
}
#buy-modal .modal-body {
  padding: 0px;
}
#buy-modal .modal-content {
  background: #FFF;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
#buy-modal .modal-body .payment-gateways {
  background-color: #EEE;
  padding: 20px;
  position: relative;
  z-index: 4;
  height: 100%;
  height: 400px;
  border-right: 1px solid rgba(0,0,0,.15);
}
#buy-modal .modal-body .payment-gateways .gateway {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #999;
  font-weight: 700;
  cursor: pointer;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 5;
}
#buy-modal .modal-body .payment-gateways .gateway:hover, #buy-modal .modal-body .payment-gateways .gateway.active {
 color: #2B65F8;
}
#buy-modal .modal-body .payment-gateways .gateway i {
  display: block;
  font-size: 1.9em;
  padding-bottom: 4px;
}
#buy-modal .modal-body .credit-select {
  padding-top: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  float:none;
  position: relative;
  left: 7%;
}
#buy-modal .modal-body .amount {
  margin: 0 auto;
  float: none;
  margin-top: 20px;
  margin-bottom: 30px;
}
#buy-modal .modal-body .amount .radio { 
  text-align: left;
}
#buy-modal .modal-body .amount .radio label { 
  font-weight: 700;
}
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
  border-color: #fa755a;
}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
label[for=card-element] {
  text-align: left !important;
  font-weight: 700;
  margin-bottom: 10px;
}
#card-element {
  margin-bottom: 5px;
}
#fortumo-embed {
  height: 100% !important;
  width: 100% !important;
}
.credits .page-inner, .superpowers .page-inner {
  color: #FFF;
}
.chat-receiver-actions a i {
  padding-left: 3px;
  padding-top: 3px;
}