.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  font-size: 0.9em;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: none !important;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "IcoMoon-Free";
  content: "\EA10";
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  border-color: #f56f2f;
  background: -moz-linear-gradient(145deg, #faa61f 0%, #ed1847 100%) !important;
  background: -webkit-linear-gradient(145deg, #faa61f 0%, #ed1847 100%) !important;
  background: -ms-linear-gradient(145deg, #faa61f 0%, #ed1847 100%) !important;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #2B65F8;
  border-color: #2B65F8;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
  font-size: 0.9em;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled {
  cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
  background: -moz-linear-gradient(145deg, #faa61f 0%, #ed1847 100%) !important;
  background: -webkit-linear-gradient(145deg, #faa61f 0%, #ed1847 100%) !important;
  background: -ms-linear-gradient(145deg, #faa61f 0%, #ed1847 100%) !important;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #f56f2f;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #2B65F8;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: "IcoMoon-Free";
  content: "\EA10";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}
.checkbox.checkbox-lg label::before{
  width: 25px;
  height: 25px;
}
.checkbox.checkbox-lg label::after{
  width: 25px;
  height: 25px;
  padding-left: 6px;
  padding-top: 5px;
  font-size: 12px;
}
.checkbox.checkbox-lg label {
  position: relative;
  padding-left: 15px;
}
.checkbox.checkbox-sm label::before{
  width: 22px;
  height: 22px;
}
.checkbox.checkbox-sm label::after{
  width: 22px;
  height: 22px;
  padding-left: 6px;
  padding-top: 4px;
  font-size: 11px;
}
.checkbox.checkbox-sm label {
  position: relative;
  padding-left: 10px;
}
.checkbox-padding {
  padding-top: 5px;
}
.mCSB_inside>.mCSB_container {
  margin-right: 0px !important;
}
.bx-wrapper {
  padding-left: 5px !important;
}
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #2B65F8;
}
.select2-container--default .select2-selection--single {
  vertical-align: middle;
  display: inline-block;
  margin: 5px 0;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 24px !important;
  width: 100% !important;
  height: 44px !important;
  padding-top: 2px !important;
  padding-left: 9px !important;
  background: #FFF !important;
  color: #4d4d4d !important;
  -webkit-font-smoothing: antialiased;
  transition: border-color .2s;
  height: 32px !important;
  box-shadow: none;
  font-size: 1em;
}
.select2-results {
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 14px;
  padding: 10px 0;
  background: #FFF;
  box-shadow: none;
}
.select2-results__options {
  overflow-x: hidden !important;
}
.select2-dropdown {
  border: 0px;
  background-color: transparent;
}
.select2-results__option {
  font-size: 0.9em;
  padding-left: 15px;
}
.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #F7F7F7;
  color: #2B65F8;
}
.select2-selection__arrow {
  position: relative;
  top: 8px !important;
  right: 8px !important;
}
.bx-wrapper .bx-viewport {
  width: 100.5% !important;
}
.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
  background-color: linear-gradient(90deg, #ff5c72, #a485f2);
  background-image: none;
  text-indent: 0px !important;
  font-size: 0.3em;
  border-radius: 50%;
  padding: 5px;
}
.bx-wrapper .bx-prev i {
 position: relative;
 top: 3px;
 left: 4px;
 opacity: 0.8;
}
.bx-wrapper .bx-next i {
 position: relative;
 top: 3px;
 left: 5px;
 opacity: 0.8;
}
.bx-wrapper .bx-prev:hover i {
 opacity: 1;
}
.bx-wrapper .bx-n:hover i {
 opacity: 1;
}
.bx-wrapper .bx-prev:hover {
  background-color: rgba(0,0,0,0.7);
}
.bx-wrapper .bx-next:hover {
  background-color: rgba(0,0,0,0.7);
}
.tp-ac__list {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  color: #068cf8;
  background-color: #fff;
  font-size: 0.875em; 
border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 14px;
  box-shadow: none; 
    padding: 10px 0;
    display: none;
}
.tp-ac__item {
  overflow: hidden;
  padding: 0.35714em 0.71429em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
          font-weight: 400 !important;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .tp-ac__item:hover, .tp-ac__item.is-active {
      background-color: #F7F7F7;
    color: #4d4d4d; }
  .tp-ac__item.no-results, .tp-ac__item.no-results:hover {
    cursor: default;}
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }