#mail-container {
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: mail-move 3s infinite;
          animation: mail-move 3s infinite;
}

#line-container {
  position: absolute;
  left: -70px;
  width: 60px;
  overflow: hidden;
}
#line-container .line {
  margin-top: 5px;
  width: 70px;
  height: 5px;
  background: #29cf29;
  border-radius: 6px;
}
#mail {
  width: 60px;
  height: 45px;
  border: solid 5px #29cf29;
  border-radius: 10px;
  overflow: hidden;
}
#mail:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-top: solid 5px #29cf29;
  border-left: solid 5px #29cf29;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
  left: 10px;
}
#mail:after {
  content: '';
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border: solid 5px #29cf29;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -70px;
  border-radius: 15px;
  background: #29cf29;
}

.line-1 {
  -webkit-animation: line-1-move 3s infinite;
          animation: line-1-move 3s infinite;
}

@-webkit-keyframes line-1-move {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  60% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80.1% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes line-1-move {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  60% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80.1% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.line-2 {
  -webkit-animation: line-2-move 3s infinite;
          animation: line-2-move 3s infinite;
}

@-webkit-keyframes line-2-move {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  60% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80.1% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes line-2-move {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  60% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%);
  }
  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80.1% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.line-3 {
  -webkit-animation: line-3-move 3s infinite;
          animation: line-3-move 3s infinite;
}

@-webkit-keyframes line-3-move {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  60% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80.1% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes line-3-move {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  60% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80.1% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.line-4 {
  -webkit-animation: line-4-move 3s infinite;
          animation: line-4-move 3s infinite;
}

@-webkit-keyframes line-4-move {
  0% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  60% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  80% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  80.1% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
  100% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
}

@keyframes line-4-move {
  0% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  60% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  80% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  80.1% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
  100% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
}
.line-5 {
  -webkit-animation: line-5-move 3s infinite;
          animation: line-5-move 3s infinite;
}

@-webkit-keyframes line-5-move {
  0% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  60% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  80% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  80.1% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
  100% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
}

@keyframes line-5-move {
  0% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  20% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  20.0001% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  60% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  80% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  80.1% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
  100% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
}
@-webkit-keyframes mail-move {
  0% {
    opacity: 0;
    left: 3%;
  }
  40% {
    opacity: 1;
    left: 50%;
  }
  60% {
    left: 50%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 95%;
  }
}
@keyframes mail-move {
  0% {
    opacity: 0;
    left: 3%;
  }
  40% {
    opacity: 1;
    left: 50%;
  }
  60% {
    left: 50%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 95%;
  }
}
