
/* Main view */
.view-main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0px;
  right: 0;
  -webkit-transition: right 0.3s linear;
  -moz-transition: right 0.3s linear;
  -o-transition: right 0.3s linear;
  transition: right 0.3s linear;
}
.view-main.deactive {
  right: 30%;
}
.view-main .header-wrapp {
  width: 100%;
  height: 55%;
  position: relative;
  /*background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);*/
  background: linear-gradient(90deg, #ff5c72, #a485f2);
}
.view-main .header-wrapp .app-detail {
  text-align: center;
  padding: 20px 5px 5px;
  color: #FFFFFF;
  text-shadow: 0 0 15px #FFA000;
}
.view-main .header-wrapp .app-detail img {
  width: 75px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px #FFA000;
  -moz-box-shadow: 0 0 15px #FFA000;
  box-shadow: 0 0 15px #FFA000;
  border: 3px solid #FFFFFF;
}
.view-main .header-wrapp .app-detail .status {
  font-size: 13px;
}
.view-main .header-wrapp .wave-wrapp {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
}
.view-main .header-wrapp .wave-wrapp .wave {
  display: block;
  width: 100%;
  margin: 0;
  height: 50px;
}
.view-main .header-wrapp .wave-wrapp .wave .parallax > use {
  -webkit-animation: move-forever 12s linear infinite;
  -moz-animation: move-forever 12s linear infinite;
  -o-animation: move-forever 12s linear infinite;
  animation: move-forever 12s linear infinite;
}
.view-main .header-wrapp .wave-wrapp .wave .parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-transform: translate(-110px, 0%);
  -moz-transform: translate(-110px, 0%);
  -o-transform: translate(-110px, 0%);
  transform: translate(-110px, 0%);
}
.view-main .header-wrapp .wave-wrapp .wave .parallax > use:nth-child(2) {
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  -o-animation-duration: 7s;
  animation-duration: 7s;
}
.view-main .header-wrapp .wave-wrapp .wave .parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
  -moz-animation-delay: -4s;
  -o-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-transform: translate(-65px, 0%);
  -moz-transform: translate(-65px, 0%);
  -o-transform: translate(-65px, 0%);
  transform: translate(-65px, 0%);
}
.view-main .content-wrapp {
  width: 100%;
  height: 64%;
  position: relative;
}
.view-main .content-wrapp .nav-group {
  position: absolute;
  width: 100%;
  top: 0;
  box-shadow: 0px 3px 5px #cccccc;
}


[data-viewport=true] {
  overflow: hidden;
}
[data-viewport=true] > span.viewportShadow {
  content: " ";
  position: absolute;
  width: 100%;
  height: 5px;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
/* Keyframes */
@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
    -moz-transform: translate(-90px, 0%);
    -o-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
    -moz-transform: translate(85px, 0%);
    -o-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}
@-moz-keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
    -moz-transform: translate(-90px, 0%);
    -o-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
    -moz-transform: translate(85px, 0%);
    -o-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}
@-ms-keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
    -moz-transform: translate(-90px, 0%);
    -o-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
    -moz-transform: translate(85px, 0%);
    -o-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}
@-o-keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
    -moz-transform: translate(-90px, 0%);
    -o-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
    -moz-transform: translate(85px, 0%);
    -o-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
    -moz-transform: translate(-90px, 0%);
    -o-transform: translate(-90px, 0%);
    transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
    -moz-transform: translate(85px, 0%);
    -o-transform: translate(85px, 0%);
    transform: translate(85px, 0%);
  }
}

@media (min-width: 768px) {
    .view-main .header-wrapp {
        height: 43%;
    }
}