@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 600;
  margin: 30px 0 15px; }

h1, .h1 {
  font-size: 4.5em; }

h2, .h2 {
  font-size: 3em; }

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 10px; }

h4, .h4 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2em; }

h5, .h5 {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 15px; }

h6, .h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.5em; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #9A9A9A;
  font-weight: 300;
  line-height: 1.5em; }

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%; }

.text-muted {
  color: #a49e93; }

.text-primary, .text-primary:hover {
  color: #bf1080; }

.text-info, .text-info:hover {
  color: #3091B2; }

.text-success, .text-success:hover {
  color: #25BA25; }

.text-warning, .text-warning:hover {
  color: #FEC309; }

.text-danger, .text-danger:hover {
  color: #F02139; }

strong {
  color: #403D39; }

body {
  color: #4D4D4D;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.3572;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff; }

a {
  color: #EA2B31;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; }
  a:hover, a:focus {
    color: #EE7444;
    text-decoration: none; }

hr {
  border-color: #F2F2F2; }

.fa-base {
  font-size: 1.25em !important; }

.ui-slider-handle:focus,
.navbar-toggle {
  outline: 0 !important; }

/*           Animations              */
.form-control,
.input-group-addon,
.tagsinput,
.navbar,
.navbar .alert {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; }

.tagsinput .tag,
.tagsinput-remove-link,
.filter,
.btn-hover,
[data-toggle="collapse"] i {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; }

.btn-morphing .fa,
.btn-morphing .circle,
.gsdk-collapse {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear; }

.fa {
  width: 15px;
  text-align: center; }

.margin-top {
  margin-top: 50px; }


.btn-cog:hover {
  background: -moz-linear-gradient(145deg, #faa61f 0%, #ed1847 100%);
  background: -webkit-linear-gradient(145deg, #faa61f 0%, #ed1847 100%);
  background: -ms-linear-gradient(145deg, #faa61f 0%, #ed1847 100%);
}

.btn,
.navbar .navbar-nav > li > a.btn {
  border-radius: 20px;
  box-sizing: border-box;
  border-width: 1px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  padding: 7px 18px;
  color: #4D4D4D;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear; }
  .btn:hover, .btn:focus, .btn:active, .btn:active:hover, .btn:active:focus, .btn.active, .open > .btn.dropdown-toggle:focus, .open > .btn.dropdown-toggle:hover, .open > .btn.dropdown-toggle,
  .navbar .navbar-nav > li > a.btn:hover,
  .navbar .navbar-nav > li > a.btn:focus,
  .navbar .navbar-nav > li > a.btn:active,
  .navbar .navbar-nav > li > a.btn:active:hover,
  .navbar .navbar-nav > li > a.btn:active:focus,
  .navbar .navbar-nav > li > a.btn.active, .open >
  .navbar .navbar-nav > li > a.btn.dropdown-toggle:focus, .open >
  .navbar .navbar-nav > li > a.btn.dropdown-toggle:hover, .open >
  .navbar .navbar-nav > li > a.btn.dropdown-toggle {
   /* background: linear-gradient(90deg, #ff5c72, #a485f2);*/
    border-color: #ffffff;
    color: rgba(255, 255, 255, 0.7); }
    .btn:hover .caret, .btn:focus .caret, .btn:active .caret, .btn:active:hover .caret, .btn:active:focus .caret, .btn.active .caret, .open > .btn.dropdown-toggle:focus .caret, .open > .btn.dropdown-toggle:hover .caret, .open > .btn.dropdown-toggle .caret,
    .navbar .navbar-nav > li > a.btn:hover .caret,
    .navbar .navbar-nav > li > a.btn:focus .caret,
    .navbar .navbar-nav > li > a.btn:active .caret,
    .navbar .navbar-nav > li > a.btn:active:hover .caret,
    .navbar .navbar-nav > li > a.btn:active:focus .caret,
    .navbar .navbar-nav > li > a.btn.active .caret, .open >
    .navbar .navbar-nav > li > a.btn.dropdown-toggle:focus .caret, .open >
    .navbar .navbar-nav > li > a.btn.dropdown-toggle:hover .caret, .open >
    .navbar .navbar-nav > li > a.btn.dropdown-toggle .caret {
      border-top-color: rgba(255, 255, 255, 0.7); }
    .btn:hover i, .btn:focus i, .btn:active i, .btn:active:hover i, .btn:active:focus i, .btn.active i, .open > .btn.dropdown-toggle:focus i, .open > .btn.dropdown-toggle:hover i, .open > .btn.dropdown-toggle i,
    .navbar .navbar-nav > li > a.btn:hover i,
    .navbar .navbar-nav > li > a.btn:focus i,
    .navbar .navbar-nav > li > a.btn:active i,
    .navbar .navbar-nav > li > a.btn:active:hover i,
    .navbar .navbar-nav > li > a.btn:active:focus i,
    .navbar .navbar-nav > li > a.btn.active i, .open >
    .navbar .navbar-nav > li > a.btn.dropdown-toggle:focus i, .open >
    .navbar .navbar-nav > li > a.btn.dropdown-toggle:hover i, .open >
    .navbar .navbar-nav > li > a.btn.dropdown-toggle i {
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.7; }
  .btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn.focus, fieldset[disabled] .btn:active, fieldset[disabled] .btn.active,
  .navbar .navbar-nav > li > a.btn.disabled,
  .navbar .navbar-nav > li > a.btn.disabled:hover,
  .navbar .navbar-nav > li > a.btn.disabled:focus,
  .navbar .navbar-nav > li > a.btn.disabled.focus,
  .navbar .navbar-nav > li > a.btn.disabled:active,
  .navbar .navbar-nav > li > a.btn.disabled.active,
  .navbar .navbar-nav > li > a.btn:disabled,
  .navbar .navbar-nav > li > a.btn:disabled:hover,
  .navbar .navbar-nav > li > a.btn:disabled:focus,
  .navbar .navbar-nav > li > a.btn:disabled.focus,
  .navbar .navbar-nav > li > a.btn:disabled:active,
  .navbar .navbar-nav > li > a.btn:disabled.active,
  .navbar .navbar-nav > li > a.btn[disabled],
  .navbar .navbar-nav > li > a.btn[disabled]:hover,
  .navbar .navbar-nav > li > a.btn[disabled]:focus,
  .navbar .navbar-nav > li > a.btn[disabled].focus,
  .navbar .navbar-nav > li > a.btn[disabled]:active,
  .navbar .navbar-nav > li > a.btn[disabled].active, fieldset[disabled]
  .navbar .navbar-nav > li > a.btn, fieldset[disabled]
  .navbar .navbar-nav > li > a.btn:hover, fieldset[disabled]
  .navbar .navbar-nav > li > a.btn:focus, fieldset[disabled]
  .navbar .navbar-nav > li > a.btn.focus, fieldset[disabled]
  .navbar .navbar-nav > li > a.btn:active, fieldset[disabled]
  .navbar .navbar-nav > li > a.btn.active {
    background-color: transparent;
    border-color: #4D4D4D; }
  .btn.btn-fill,
  .navbar .navbar-nav > li > a.btn.btn-fill {
    color: #FFFFFF;
    background-color: #4D4D4D;
    opacity: 1; }
    .btn.btn-fill:hover, .btn.btn-fill:focus, .btn.btn-fill:active, .btn.btn-fill.active, .open > .btn.btn-fill.dropdown-toggle,
    .navbar .navbar-nav > li > a.btn.btn-fill:hover,
    .navbar .navbar-nav > li > a.btn.btn-fill:focus,
    .navbar .navbar-nav > li > a.btn.btn-fill:active,
    .navbar .navbar-nav > li > a.btn.btn-fill.active, .open >
    .navbar .navbar-nav > li > a.btn.btn-fill.dropdown-toggle {
      background-color: #403D39;
      color: #FFFFFF; }
    .btn.btn-fill .caret,
    .navbar .navbar-nav > li > a.btn.btn-fill .caret {
      border-top-color: #FFFFFF; }
    .btn.btn-fill i,
    .navbar .navbar-nav > li > a.btn.btn-fill i {
      color: #FFFFFF;
      opacity: 1; }
  .btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active, .btn.btn-simple.active, .open > .btn.btn-simple.dropdown-toggle,
  .navbar .navbar-nav > li > a.btn.btn-simple:hover,
  .navbar .navbar-nav > li > a.btn.btn-simple:focus,
  .navbar .navbar-nav > li > a.btn.btn-simple:active,
  .navbar .navbar-nav > li > a.btn.btn-simple.active, .open >
  .navbar .navbar-nav > li > a.btn.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #403D39; }
    .btn.btn-simple:hover i, .btn.btn-simple:focus i, .btn.btn-simple:active i, .btn.btn-simple.active i, .open > .btn.btn-simple.dropdown-toggle i,
    .navbar .navbar-nav > li > a.btn.btn-simple:hover i,
    .navbar .navbar-nav > li > a.btn.btn-simple:focus i,
    .navbar .navbar-nav > li > a.btn.btn-simple:active i,
    .navbar .navbar-nav > li > a.btn.btn-simple.active i, .open >
    .navbar .navbar-nav > li > a.btn.btn-simple.dropdown-toggle i {
      color: #403D39;
      opacity: 1; }
    .btn.btn-simple:hover .caret, .btn.btn-simple:focus .caret, .btn.btn-simple:active .caret, .btn.btn-simple.active .caret, .open > .btn.btn-simple.dropdown-toggle .caret,
    .navbar .navbar-nav > li > a.btn.btn-simple:hover .caret,
    .navbar .navbar-nav > li > a.btn.btn-simple:focus .caret,
    .navbar .navbar-nav > li > a.btn.btn-simple:active .caret,
    .navbar .navbar-nav > li > a.btn.btn-simple.active .caret, .open >
    .navbar .navbar-nav > li > a.btn.btn-simple.dropdown-toggle .caret {
      border-top-color: #403D39; }
  .btn.btn-simple .caret,
  .navbar .navbar-nav > li > a.btn.btn-simple .caret {
    border-top-color: #4D4D4D; }
  .btn .caret,
  .navbar .navbar-nav > li > a.btn .caret {
    border-top-color: #4D4D4D; }
  .btn:hover, .btn:focus,
  .navbar .navbar-nav > li > a.btn:hover,
  .navbar .navbar-nav > li > a.btn:focus {
    outline: 0 !important; }
  .btn:active, .btn.active, .open > .btn.dropdown-toggle,
  .navbar .navbar-nav > li > a.btn:active,
  .navbar .navbar-nav > li > a.btn.active, .open >
  .navbar .navbar-nav > li > a.btn.dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important; }
  .btn i,
  .navbar .navbar-nav > li > a.btn i {
    margin-right: 5px; }
  .btn.btn-icon,
  .navbar .navbar-nav > li > a.btn.btn-icon {
    border-radius: 25px;
    padding: 6px 10px; }
    .btn.btn-icon i,
    .navbar .navbar-nav > li > a.btn.btn-icon i {
      margin-right: 0px; }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -2px; }

.navbar .navbar-nav > li > a.btn.btn-primary, .btn-primary {
  border-color: #7f8082;
  color: #7f8082; }
.navbar .navbar-nav > li > a.btn.btn-primary, .btn-primary .btn-primary-dislike{
  border-color: #205acc !important;
  color: #205acc; }

  .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary.active, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle {
    background-color: #7f8082;
    color: rgba(255, 255, 255, 0.7);
    border-color: #7f8082; }
    .navbar .navbar-nav > li > a.btn.btn-primary:hover .caret, .navbar .navbar-nav > li > a.btn.btn-primary:focus .caret, .navbar .navbar-nav > li > a.btn.btn-primary:active .caret, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover .caret, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus .caret, .navbar .navbar-nav > li > a.btn.btn-primary.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus .caret, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover .caret, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle .caret, .btn-primary:hover .caret, .btn-primary:focus .caret, .btn-primary:active .caret, .btn-primary:active:hover .caret, .btn-primary:active:focus .caret, .btn-primary.active .caret, .open > .btn-primary.dropdown-toggle:focus .caret, .open > .btn-primary.dropdown-toggle:hover .caret, .open > .btn-primary.dropdown-toggle .caret {
      border-top-color: rgba(255, 255, 255, 0.7); }
    .navbar .navbar-nav > li > a.btn.btn-primary:hover i, .navbar .navbar-nav > li > a.btn.btn-primary:focus i, .navbar .navbar-nav > li > a.btn.btn-primary:active i, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover i, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus i, .navbar .navbar-nav > li > a.btn.btn-primary.active i, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus i, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover i, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle i, .btn-primary:hover i, .btn-primary:focus i, .btn-primary:active i, .btn-primary:active:hover i, .btn-primary:active:focus i, .btn-primary.active i, .open > .btn-primary.dropdown-toggle:focus i, .open > .btn-primary.dropdown-toggle:hover i, .open > .btn-primary.dropdown-toggle i {
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.7; }
  .navbar .navbar-nav > li > a.btn.btn-primary.disabled, .navbar .navbar-nav > li > a.btn.btn-primary.disabled:hover, .navbar .navbar-nav > li > a.btn.btn-primary.disabled:focus, .navbar .navbar-nav > li > a.btn.btn-primary.disabled.focus, .navbar .navbar-nav > li > a.btn.btn-primary.disabled:active, .navbar .navbar-nav > li > a.btn.btn-primary.disabled.active, .navbar .navbar-nav > li > a.btn.btn-primary:disabled, .navbar .navbar-nav > li > a.btn.btn-primary:disabled:hover, .navbar .navbar-nav > li > a.btn.btn-primary:disabled:focus, .navbar .navbar-nav > li > a.btn.btn-primary:disabled.focus, .navbar .navbar-nav > li > a.btn.btn-primary:disabled:active, .navbar .navbar-nav > li > a.btn.btn-primary:disabled.active, .navbar .navbar-nav > li > a.btn.btn-primary[disabled], .navbar .navbar-nav > li > a.btn.btn-primary[disabled]:hover, .navbar .navbar-nav > li > a.btn.btn-primary[disabled]:focus, .navbar .navbar-nav > li > a.btn.btn-primary[disabled].focus, .navbar .navbar-nav > li > a.btn.btn-primary[disabled]:active, .navbar .navbar-nav > li > a.btn.btn-primary[disabled].active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary:hover, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary:focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary.focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary:active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-primary.active, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: transparent;
    border-color: #7f8082; }
  .navbar .navbar-nav > li > a.btn.btn-primary.btn-fill, .btn-primary.btn-fill {
    color: #FFFFFF;
    border-color: white;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #0079fc, #1fd9e6) repeat scroll 0 0;
    opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-primary.btn-fill:hover, .navbar .navbar-nav > li > a.btn.btn-primary.btn-fill:focus, .navbar .navbar-nav > li > a.btn.btn-primary.btn-fill:active, .navbar .navbar-nav > li > a.btn.btn-primary.btn-fill.active, .open > .navbar .navbar-nav > li > a.btn.btn-primary.btn-fill.dropdown-toggle, .btn-primary.btn-fill:hover, .btn-primary.btn-fill:focus, .btn-primary.btn-fill:active, .btn-primary.btn-fill.active, .open > .btn-primary.btn-fill.dropdown-toggle {
      /*background-color: #bf1080;
      color: #FFFFFF;
      border-color: #bf1080;*/ }
    .navbar .navbar-nav > li > a.btn.btn-primary.btn-fill .caret, .btn-primary.btn-fill .caret {
      border-top-color: #FFFFFF; }
    .navbar .navbar-nav > li > a.btn.btn-primary.btn-fill i, .btn-primary.btn-fill i {
      color: #FFFFFF;
      opacity: 1; }
  .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:hover, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:focus, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:active, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple.active, .open > .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple.dropdown-toggle, .btn-primary.btn-simple:hover, .btn-primary.btn-simple:focus, .btn-primary.btn-simple:active, .btn-primary.btn-simple.active, .open > .btn-primary.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #bf1080; }
    .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:hover i, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:focus i, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:active i, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple.active i, .open > .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple.dropdown-toggle i, .btn-primary.btn-simple:hover i, .btn-primary.btn-simple:focus i, .btn-primary.btn-simple:active i, .btn-primary.btn-simple.active i, .open > .btn-primary.btn-simple.dropdown-toggle i {
      color: #bf1080;
      opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:hover .caret, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:focus .caret, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple:active .caret, .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple.dropdown-toggle .caret, .btn-primary.btn-simple:hover .caret, .btn-primary.btn-simple:focus .caret, .btn-primary.btn-simple:active .caret, .btn-primary.btn-simple.active .caret, .open > .btn-primary.btn-simple.dropdown-toggle .caret {
      border-top-color: #bf1080; }
  .navbar .navbar-nav > li > a.btn.btn-primary.btn-simple .caret, .btn-primary.btn-simple .caret {
    border-top-color: #cc208e; }
  .navbar .navbar-nav > li > a.btn.btn-primary .caret, .btn-primary .caret {
    border-top-color: #cc208e; }

.navbar .navbar-nav > li > a.btn.btn-success, .btn-success {
  border-color: #29CF29;
  color: #29CF29; }
  .navbar .navbar-nav > li > a.btn.btn-success:hover, .navbar .navbar-nav > li > a.btn.btn-success:focus, .navbar .navbar-nav > li > a.btn.btn-success:active, .navbar .navbar-nav > li > a.btn.btn-success:active:hover, .navbar .navbar-nav > li > a.btn.btn-success:active:focus, .navbar .navbar-nav > li > a.btn.btn-success.active, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:hover, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:active:hover, .btn-success:active:focus, .btn-success.active, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle {
    background-color: #29CF29;
    color: rgba(255, 255, 255, 0.7);
    border-color: #29CF29; }
    .navbar .navbar-nav > li > a.btn.btn-success:hover .caret, .navbar .navbar-nav > li > a.btn.btn-success:focus .caret, .navbar .navbar-nav > li > a.btn.btn-success:active .caret, .navbar .navbar-nav > li > a.btn.btn-success:active:hover .caret, .navbar .navbar-nav > li > a.btn.btn-success:active:focus .caret, .navbar .navbar-nav > li > a.btn.btn-success.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:focus .caret, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:hover .caret, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle .caret, .btn-success:hover .caret, .btn-success:focus .caret, .btn-success:active .caret, .btn-success:active:hover .caret, .btn-success:active:focus .caret, .btn-success.active .caret, .open > .btn-success.dropdown-toggle:focus .caret, .open > .btn-success.dropdown-toggle:hover .caret, .open > .btn-success.dropdown-toggle .caret {
      border-top-color: rgba(255, 255, 255, 0.7); }
    .navbar .navbar-nav > li > a.btn.btn-success:hover i, .navbar .navbar-nav > li > a.btn.btn-success:focus i, .navbar .navbar-nav > li > a.btn.btn-success:active i, .navbar .navbar-nav > li > a.btn.btn-success:active:hover i, .navbar .navbar-nav > li > a.btn.btn-success:active:focus i, .navbar .navbar-nav > li > a.btn.btn-success.active i, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:focus i, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle:hover i, .open > .navbar .navbar-nav > li > a.btn.btn-success.dropdown-toggle i, .btn-success:hover i, .btn-success:focus i, .btn-success:active i, .btn-success:active:hover i, .btn-success:active:focus i, .btn-success.active i, .open > .btn-success.dropdown-toggle:focus i, .open > .btn-success.dropdown-toggle:hover i, .open > .btn-success.dropdown-toggle i {
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.7; }
  .navbar .navbar-nav > li > a.btn.btn-success.disabled, .navbar .navbar-nav > li > a.btn.btn-success.disabled:hover, .navbar .navbar-nav > li > a.btn.btn-success.disabled:focus, .navbar .navbar-nav > li > a.btn.btn-success.disabled.focus, .navbar .navbar-nav > li > a.btn.btn-success.disabled:active, .navbar .navbar-nav > li > a.btn.btn-success.disabled.active, .navbar .navbar-nav > li > a.btn.btn-success:disabled, .navbar .navbar-nav > li > a.btn.btn-success:disabled:hover, .navbar .navbar-nav > li > a.btn.btn-success:disabled:focus, .navbar .navbar-nav > li > a.btn.btn-success:disabled.focus, .navbar .navbar-nav > li > a.btn.btn-success:disabled:active, .navbar .navbar-nav > li > a.btn.btn-success:disabled.active, .navbar .navbar-nav > li > a.btn.btn-success[disabled], .navbar .navbar-nav > li > a.btn.btn-success[disabled]:hover, .navbar .navbar-nav > li > a.btn.btn-success[disabled]:focus, .navbar .navbar-nav > li > a.btn.btn-success[disabled].focus, .navbar .navbar-nav > li > a.btn.btn-success[disabled]:active, .navbar .navbar-nav > li > a.btn.btn-success[disabled].active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-success, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-success:hover, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-success:focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-success.focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-success:active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-success.active, .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success:disabled, .btn-success:disabled:hover, .btn-success:disabled:focus, .btn-success:disabled.focus, .btn-success:disabled:active, .btn-success:disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: transparent;
    border-color: #29CF29; }
  .navbar .navbar-nav > li > a.btn.btn-success.btn-fill, .btn-success.btn-fill {
    color: #FFFFFF;
    background-color: #29CF29;
    opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-success.btn-fill:hover, .navbar .navbar-nav > li > a.btn.btn-success.btn-fill:focus, .navbar .navbar-nav > li > a.btn.btn-success.btn-fill:active, .navbar .navbar-nav > li > a.btn.btn-success.btn-fill.active, .open > .navbar .navbar-nav > li > a.btn.btn-success.btn-fill.dropdown-toggle, .btn-success.btn-fill:hover, .btn-success.btn-fill:focus, .btn-success.btn-fill:active, .btn-success.btn-fill.active, .open > .btn-success.btn-fill.dropdown-toggle {
      background-color: #25BA25;
      color: #FFFFFF;
      border-color: #25BA25; }
    .navbar .navbar-nav > li > a.btn.btn-success.btn-fill .caret, .btn-success.btn-fill .caret {
      border-top-color: #FFFFFF; }
    .navbar .navbar-nav > li > a.btn.btn-success.btn-fill i, .btn-success.btn-fill i {
      color: #FFFFFF;
      opacity: 1; }
  .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:hover, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:focus, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:active, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple.active, .open > .navbar .navbar-nav > li > a.btn.btn-success.btn-simple.dropdown-toggle, .btn-success.btn-simple:hover, .btn-success.btn-simple:focus, .btn-success.btn-simple:active, .btn-success.btn-simple.active, .open > .btn-success.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #25BA25; }
    .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:hover i, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:focus i, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:active i, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple.active i, .open > .navbar .navbar-nav > li > a.btn.btn-success.btn-simple.dropdown-toggle i, .btn-success.btn-simple:hover i, .btn-success.btn-simple:focus i, .btn-success.btn-simple:active i, .btn-success.btn-simple.active i, .open > .btn-success.btn-simple.dropdown-toggle i {
      color: #25BA25;
      opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:hover .caret, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:focus .caret, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple:active .caret, .navbar .navbar-nav > li > a.btn.btn-success.btn-simple.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-success.btn-simple.dropdown-toggle .caret, .btn-success.btn-simple:hover .caret, .btn-success.btn-simple:focus .caret, .btn-success.btn-simple:active .caret, .btn-success.btn-simple.active .caret, .open > .btn-success.btn-simple.dropdown-toggle .caret {
      border-top-color: #25BA25; }
  .navbar .navbar-nav > li > a.btn.btn-success.btn-simple .caret, .btn-success.btn-simple .caret {
    border-top-color: #29CF29; }
  .navbar .navbar-nav > li > a.btn.btn-success .caret, .btn-success .caret {
    border-top-color: #29CF29; }

.navbar .navbar-nav > li > a.btn.btn-info, .btn-info {
  border-color: #1EB2FC;
  color: #1EB2FC; }
  .navbar .navbar-nav > li > a.btn.btn-info:hover, .navbar .navbar-nav > li > a.btn.btn-info:focus, .navbar .navbar-nav > li > a.btn.btn-info:active, .navbar .navbar-nav > li > a.btn.btn-info:active:hover, .navbar .navbar-nav > li > a.btn.btn-info:active:focus, .navbar .navbar-nav > li > a.btn.btn-info.active, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:hover, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:active:hover, .btn-info:active:focus, .btn-info.active, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle {
    background-color: #1EB2FC;
    color: rgba(255, 255, 255, 0.7);
    border-color: #1EB2FC; }
    .navbar .navbar-nav > li > a.btn.btn-info:hover .caret, .navbar .navbar-nav > li > a.btn.btn-info:focus .caret, .navbar .navbar-nav > li > a.btn.btn-info:active .caret, .navbar .navbar-nav > li > a.btn.btn-info:active:hover .caret, .navbar .navbar-nav > li > a.btn.btn-info:active:focus .caret, .navbar .navbar-nav > li > a.btn.btn-info.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:focus .caret, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:hover .caret, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle .caret, .btn-info:hover .caret, .btn-info:focus .caret, .btn-info:active .caret, .btn-info:active:hover .caret, .btn-info:active:focus .caret, .btn-info.active .caret, .open > .btn-info.dropdown-toggle:focus .caret, .open > .btn-info.dropdown-toggle:hover .caret, .open > .btn-info.dropdown-toggle .caret {
      border-top-color: rgba(255, 255, 255, 0.7); }
    .navbar .navbar-nav > li > a.btn.btn-info:hover i, .navbar .navbar-nav > li > a.btn.btn-info:focus i, .navbar .navbar-nav > li > a.btn.btn-info:active i, .navbar .navbar-nav > li > a.btn.btn-info:active:hover i, .navbar .navbar-nav > li > a.btn.btn-info:active:focus i, .navbar .navbar-nav > li > a.btn.btn-info.active i, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:focus i, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle:hover i, .open > .navbar .navbar-nav > li > a.btn.btn-info.dropdown-toggle i, .btn-info:hover i, .btn-info:focus i, .btn-info:active i, .btn-info:active:hover i, .btn-info:active:focus i, .btn-info.active i, .open > .btn-info.dropdown-toggle:focus i, .open > .btn-info.dropdown-toggle:hover i, .open > .btn-info.dropdown-toggle i {
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.7; }
  .navbar .navbar-nav > li > a.btn.btn-info.disabled, .navbar .navbar-nav > li > a.btn.btn-info.disabled:hover, .navbar .navbar-nav > li > a.btn.btn-info.disabled:focus, .navbar .navbar-nav > li > a.btn.btn-info.disabled.focus, .navbar .navbar-nav > li > a.btn.btn-info.disabled:active, .navbar .navbar-nav > li > a.btn.btn-info.disabled.active, .navbar .navbar-nav > li > a.btn.btn-info:disabled, .navbar .navbar-nav > li > a.btn.btn-info:disabled:hover, .navbar .navbar-nav > li > a.btn.btn-info:disabled:focus, .navbar .navbar-nav > li > a.btn.btn-info:disabled.focus, .navbar .navbar-nav > li > a.btn.btn-info:disabled:active, .navbar .navbar-nav > li > a.btn.btn-info:disabled.active, .navbar .navbar-nav > li > a.btn.btn-info[disabled], .navbar .navbar-nav > li > a.btn.btn-info[disabled]:hover, .navbar .navbar-nav > li > a.btn.btn-info[disabled]:focus, .navbar .navbar-nav > li > a.btn.btn-info[disabled].focus, .navbar .navbar-nav > li > a.btn.btn-info[disabled]:active, .navbar .navbar-nav > li > a.btn.btn-info[disabled].active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info:hover, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info:focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info.focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info:active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info.active, .btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info:disabled, .btn-info:disabled:hover, .btn-info:disabled:focus, .btn-info:disabled.focus, .btn-info:disabled:active, .btn-info:disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: transparent;
    border-color: #1EB2FC; }
  .navbar .navbar-nav > li > a.btn.btn-info.btn-fill, .btn-info.btn-fill {
    color: #FFFFFF;
    background-color: #1EB2FC;
    opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-info.btn-fill:hover, .navbar .navbar-nav > li > a.btn.btn-info.btn-fill:focus, .navbar .navbar-nav > li > a.btn.btn-info.btn-fill:active, .navbar .navbar-nav > li > a.btn.btn-info.btn-fill.active, .open > .navbar .navbar-nav > li > a.btn.btn-info.btn-fill.dropdown-toggle, .btn-info.btn-fill:hover, .btn-info.btn-fill:focus, .btn-info.btn-fill:active, .btn-info.btn-fill.active, .open > .btn-info.btn-fill.dropdown-toggle {
      background-color: #3091B2;
      color: #FFFFFF;
      border-color: #3091B2; }
    .navbar .navbar-nav > li > a.btn.btn-info.btn-fill .caret, .btn-info.btn-fill .caret {
      border-top-color: #FFFFFF; }
    .navbar .navbar-nav > li > a.btn.btn-info.btn-fill i, .btn-info.btn-fill i {
      color: #FFFFFF;
      opacity: 1; }
  .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:hover, .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:focus, .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:active, .navbar .navbar-nav > li > a.btn.btn-info.btn-simple.active, .open > .navbar .navbar-nav > li > a.btn.btn-info.btn-simple.dropdown-toggle, .btn-info.btn-simple:hover, .btn-info.btn-simple:focus, .btn-info.btn-simple:active, .btn-info.btn-simple.active, .open > .btn-info.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #3091B2; }
    .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:hover i, .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:focus i, .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:active i, .navbar .navbar-nav > li > a.btn.btn-info.btn-simple.active i, .open > .navbar .navbar-nav > li > a.btn.btn-info.btn-simple.dropdown-toggle i, .btn-info.btn-simple:hover i, .btn-info.btn-simple:focus i, .btn-info.btn-simple:active i, .btn-info.btn-simple.active i, .open > .btn-info.btn-simple.dropdown-toggle i {
      color: #3091B2;
      opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:hover .caret, .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:focus .caret, .navbar .navbar-nav > li > a.btn.btn-info.btn-simple:active .caret, .navbar .navbar-nav > li > a.btn.btn-info.btn-simple.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-info.btn-simple.dropdown-toggle .caret, .btn-info.btn-simple:hover .caret, .btn-info.btn-simple:focus .caret, .btn-info.btn-simple:active .caret, .btn-info.btn-simple.active .caret, .open > .btn-info.btn-simple.dropdown-toggle .caret {
      border-top-color: #3091B2; }
  .navbar .navbar-nav > li > a.btn.btn-info.btn-simple .caret, .btn-info.btn-simple .caret {
    border-top-color: #1EB2FC; }
  .navbar .navbar-nav > li > a.btn.btn-info .caret, .btn-info .caret {
    border-top-color: #1EB2FC; }

.navbar .navbar-nav > li > a.btn.btn-warning, .btn-warning {
  border-color: #FEC309;
  color: #FEC309; }
  .navbar .navbar-nav > li > a.btn.btn-warning:hover, .navbar .navbar-nav > li > a.btn.btn-warning:focus, .navbar .navbar-nav > li > a.btn.btn-warning:active, .navbar .navbar-nav > li > a.btn.btn-warning:active:hover, .navbar .navbar-nav > li > a.btn.btn-warning:active:focus, .navbar .navbar-nav > li > a.btn.btn-warning.active, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:hover, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning:active:hover, .btn-warning:active:focus, .btn-warning.active, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle {
    background-color: #FEC309;
    color: rgba(255, 255, 255, 0.7);
    border-color: #FEC309; }
    .navbar .navbar-nav > li > a.btn.btn-warning:hover .caret, .navbar .navbar-nav > li > a.btn.btn-warning:focus .caret, .navbar .navbar-nav > li > a.btn.btn-warning:active .caret, .navbar .navbar-nav > li > a.btn.btn-warning:active:hover .caret, .navbar .navbar-nav > li > a.btn.btn-warning:active:focus .caret, .navbar .navbar-nav > li > a.btn.btn-warning.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:focus .caret, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:hover .caret, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle .caret, .btn-warning:hover .caret, .btn-warning:focus .caret, .btn-warning:active .caret, .btn-warning:active:hover .caret, .btn-warning:active:focus .caret, .btn-warning.active .caret, .open > .btn-warning.dropdown-toggle:focus .caret, .open > .btn-warning.dropdown-toggle:hover .caret, .open > .btn-warning.dropdown-toggle .caret {
      border-top-color: rgba(255, 255, 255, 0.7); }
    .navbar .navbar-nav > li > a.btn.btn-warning:hover i, .navbar .navbar-nav > li > a.btn.btn-warning:focus i, .navbar .navbar-nav > li > a.btn.btn-warning:active i, .navbar .navbar-nav > li > a.btn.btn-warning:active:hover i, .navbar .navbar-nav > li > a.btn.btn-warning:active:focus i, .navbar .navbar-nav > li > a.btn.btn-warning.active i, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:focus i, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle:hover i, .open > .navbar .navbar-nav > li > a.btn.btn-warning.dropdown-toggle i, .btn-warning:hover i, .btn-warning:focus i, .btn-warning:active i, .btn-warning:active:hover i, .btn-warning:active:focus i, .btn-warning.active i, .open > .btn-warning.dropdown-toggle:focus i, .open > .btn-warning.dropdown-toggle:hover i, .open > .btn-warning.dropdown-toggle i {
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.7; }
  .navbar .navbar-nav > li > a.btn.btn-warning.disabled, .navbar .navbar-nav > li > a.btn.btn-warning.disabled:hover, .navbar .navbar-nav > li > a.btn.btn-warning.disabled:focus, .navbar .navbar-nav > li > a.btn.btn-warning.disabled.focus, .navbar .navbar-nav > li > a.btn.btn-warning.disabled:active, .navbar .navbar-nav > li > a.btn.btn-warning.disabled.active, .navbar .navbar-nav > li > a.btn.btn-warning:disabled, .navbar .navbar-nav > li > a.btn.btn-warning:disabled:hover, .navbar .navbar-nav > li > a.btn.btn-warning:disabled:focus, .navbar .navbar-nav > li > a.btn.btn-warning:disabled.focus, .navbar .navbar-nav > li > a.btn.btn-warning:disabled:active, .navbar .navbar-nav > li > a.btn.btn-warning:disabled.active, .navbar .navbar-nav > li > a.btn.btn-warning[disabled], .navbar .navbar-nav > li > a.btn.btn-warning[disabled]:hover, .navbar .navbar-nav > li > a.btn.btn-warning[disabled]:focus, .navbar .navbar-nav > li > a.btn.btn-warning[disabled].focus, .navbar .navbar-nav > li > a.btn.btn-warning[disabled]:active, .navbar .navbar-nav > li > a.btn.btn-warning[disabled].active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-warning, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-warning:hover, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-warning:focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-warning.focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-warning:active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-warning.active, .btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning:disabled, .btn-warning:disabled:hover, .btn-warning:disabled:focus, .btn-warning:disabled.focus, .btn-warning:disabled:active, .btn-warning:disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: transparent;
    border-color: #FEC309; }
  .navbar .navbar-nav > li > a.btn.btn-warning.btn-fill, .btn-warning.btn-fill {
    color: #FFFFFF;
    background-color: #FEC309;
    opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-warning.btn-fill:hover, .navbar .navbar-nav > li > a.btn.btn-warning.btn-fill:focus, .navbar .navbar-nav > li > a.btn.btn-warning.btn-fill:active, .navbar .navbar-nav > li > a.btn.btn-warning.btn-fill.active, .open > .navbar .navbar-nav > li > a.btn.btn-warning.btn-fill.dropdown-toggle, .btn-warning.btn-fill:hover, .btn-warning.btn-fill:focus, .btn-warning.btn-fill:active, .btn-warning.btn-fill.active, .open > .btn-warning.btn-fill.dropdown-toggle {
      background-color: #E5B008;
      color: #FFFFFF;
      border-color: #E5B008; }
    .navbar .navbar-nav > li > a.btn.btn-warning.btn-fill .caret, .btn-warning.btn-fill .caret {
      border-top-color: #FFFFFF; }
    .navbar .navbar-nav > li > a.btn.btn-warning.btn-fill i, .btn-warning.btn-fill i {
      color: #FFFFFF;
      opacity: 1; }
  .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:hover, .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:focus, .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:active, .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple.active, .open > .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple.dropdown-toggle, .btn-warning.btn-simple:hover, .btn-warning.btn-simple:focus, .btn-warning.btn-simple:active, .btn-warning.btn-simple.active, .open > .btn-warning.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #E5B008; }
    .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:hover i, .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:focus i, .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:active i, .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple.active i, .open > .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple.dropdown-toggle i, .btn-warning.btn-simple:hover i, .btn-warning.btn-simple:focus i, .btn-warning.btn-simple:active i, .btn-warning.btn-simple.active i, .open > .btn-warning.btn-simple.dropdown-toggle i {
      color: #E5B008;
      opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:hover .caret, .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:focus .caret, .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple:active .caret, .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple.dropdown-toggle .caret, .btn-warning.btn-simple:hover .caret, .btn-warning.btn-simple:focus .caret, .btn-warning.btn-simple:active .caret, .btn-warning.btn-simple.active .caret, .open > .btn-warning.btn-simple.dropdown-toggle .caret {
      border-top-color: #E5B008; }
  .navbar .navbar-nav > li > a.btn.btn-warning.btn-simple .caret, .btn-warning.btn-simple .caret {
    border-top-color: #FEC309; }
  .navbar .navbar-nav > li > a.btn.btn-warning .caret, .btn-warning .caret {
    border-top-color: #FEC309; }

.navbar .navbar-nav > li > a.btn.btn-danger, .btn-danger {
  border-color: #EA2B31;
  color: #EA2B31; }
  .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger:active:hover, .btn-danger:active:focus, .btn-danger.active, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle {
    background-color: #EA2B31;
    color: rgba(255, 255, 255, 0.7);
    border-color: #EA2B31; }
    .navbar .navbar-nav > li > a.btn.btn-danger:hover .caret, .navbar .navbar-nav > li > a.btn.btn-danger:focus .caret, .navbar .navbar-nav > li > a.btn.btn-danger:active .caret, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover .caret, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus .caret, .navbar .navbar-nav > li > a.btn.btn-danger.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus .caret, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover .caret, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle .caret, .btn-danger:hover .caret, .btn-danger:focus .caret, .btn-danger:active .caret, .btn-danger:active:hover .caret, .btn-danger:active:focus .caret, .btn-danger.active .caret, .open > .btn-danger.dropdown-toggle:focus .caret, .open > .btn-danger.dropdown-toggle:hover .caret, .open > .btn-danger.dropdown-toggle .caret {
      border-top-color: rgba(255, 255, 255, 0.7); }
    .navbar .navbar-nav > li > a.btn.btn-danger:hover i, .navbar .navbar-nav > li > a.btn.btn-danger:focus i, .navbar .navbar-nav > li > a.btn.btn-danger:active i, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover i, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus i, .navbar .navbar-nav > li > a.btn.btn-danger.active i, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus i, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover i, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle i, .btn-danger:hover i, .btn-danger:focus i, .btn-danger:active i, .btn-danger:active:hover i, .btn-danger:active:focus i, .btn-danger.active i, .open > .btn-danger.dropdown-toggle:focus i, .open > .btn-danger.dropdown-toggle:hover i, .open > .btn-danger.dropdown-toggle i {
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.7; }
  .navbar .navbar-nav > li > a.btn.btn-danger.disabled, .navbar .navbar-nav > li > a.btn.btn-danger.disabled:hover, .navbar .navbar-nav > li > a.btn.btn-danger.disabled:focus, .navbar .navbar-nav > li > a.btn.btn-danger.disabled.focus, .navbar .navbar-nav > li > a.btn.btn-danger.disabled:active, .navbar .navbar-nav > li > a.btn.btn-danger.disabled.active, .navbar .navbar-nav > li > a.btn.btn-danger:disabled, .navbar .navbar-nav > li > a.btn.btn-danger:disabled:hover, .navbar .navbar-nav > li > a.btn.btn-danger:disabled:focus, .navbar .navbar-nav > li > a.btn.btn-danger:disabled.focus, .navbar .navbar-nav > li > a.btn.btn-danger:disabled:active, .navbar .navbar-nav > li > a.btn.btn-danger:disabled.active, .navbar .navbar-nav > li > a.btn.btn-danger[disabled], .navbar .navbar-nav > li > a.btn.btn-danger[disabled]:hover, .navbar .navbar-nav > li > a.btn.btn-danger[disabled]:focus, .navbar .navbar-nav > li > a.btn.btn-danger[disabled].focus, .navbar .navbar-nav > li > a.btn.btn-danger[disabled]:active, .navbar .navbar-nav > li > a.btn.btn-danger[disabled].active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-danger, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-danger:hover, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-danger:focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-danger.focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-danger:active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-danger.active, .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger:disabled, .btn-danger:disabled:hover, .btn-danger:disabled:focus, .btn-danger:disabled.focus, .btn-danger:disabled:active, .btn-danger:disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: transparent;
    border-color: #EA2B31; }
  .navbar .navbar-nav > li > a.btn.btn-danger.btn-fill, .btn-danger.btn-fill {
    color: #FFFFFF;
    background-color: #EA2B31;
    opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-danger.btn-fill:hover, .navbar .navbar-nav > li > a.btn.btn-danger.btn-fill:focus, .navbar .navbar-nav > li > a.btn.btn-danger.btn-fill:active, .navbar .navbar-nav > li > a.btn.btn-danger.btn-fill.active, .open > .navbar .navbar-nav > li > a.btn.btn-danger.btn-fill.dropdown-toggle, .btn-danger.btn-fill:hover, .btn-danger.btn-fill:focus, .btn-danger.btn-fill:active, .btn-danger.btn-fill.active, .open > .btn-danger.btn-fill.dropdown-toggle {
      background-color: #F02139;
      color: #FFFFFF;
      border-color: #F02139; }
    .navbar .navbar-nav > li > a.btn.btn-danger.btn-fill .caret, .btn-danger.btn-fill .caret {
      border-top-color: #FFFFFF; }
    .navbar .navbar-nav > li > a.btn.btn-danger.btn-fill i, .btn-danger.btn-fill i {
      color: #FFFFFF;
      opacity: 1; }
  .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:hover, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:focus, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:active, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple.active, .open > .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple.dropdown-toggle, .btn-danger.btn-simple:hover, .btn-danger.btn-simple:focus, .btn-danger.btn-simple:active, .btn-danger.btn-simple.active, .open > .btn-danger.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #F02139; }
    .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:hover i, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:focus i, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:active i, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple.active i, .open > .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple.dropdown-toggle i, .btn-danger.btn-simple:hover i, .btn-danger.btn-simple:focus i, .btn-danger.btn-simple:active i, .btn-danger.btn-simple.active i, .open > .btn-danger.btn-simple.dropdown-toggle i {
      color: #F02139;
      opacity: 1; }
    .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:hover .caret, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:focus .caret, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple:active .caret, .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple.active .caret, .open > .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple.dropdown-toggle .caret, .btn-danger.btn-simple:hover .caret, .btn-danger.btn-simple:focus .caret, .btn-danger.btn-simple:active .caret, .btn-danger.btn-simple.active .caret, .open > .btn-danger.btn-simple.dropdown-toggle .caret {
      border-top-color: #F02139; }
  .navbar .navbar-nav > li > a.btn.btn-danger.btn-simple .caret, .btn-danger.btn-simple .caret {
    border-top-color: #EA2B31; }
  .navbar .navbar-nav > li > a.btn.btn-danger .caret, .btn-danger .caret {
    border-top-color: #EA2B31; }

.btn-neutral {
  border-color: #FFFFFF;
  color: #FFFFFF; }
  .btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral:active:hover, .btn-neutral:active:focus, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle:focus, .open > .btn-neutral.dropdown-toggle:hover, .open > .btn-neutral.dropdown-toggle {
    background-color: #FFFFFF;
    color: rgba(255, 255, 255, 0.7);
    border-color: #FFFFFF; }
    .btn-neutral:hover .caret, .btn-neutral:focus .caret, .btn-neutral:active .caret, .btn-neutral:active:hover .caret, .btn-neutral:active:focus .caret, .btn-neutral.active .caret, .open > .btn-neutral.dropdown-toggle:focus .caret, .open > .btn-neutral.dropdown-toggle:hover .caret, .open > .btn-neutral.dropdown-toggle .caret {
      border-top-color: rgba(255, 255, 255, 0.7); }
    .btn-neutral:hover i, .btn-neutral:focus i, .btn-neutral:active i, .btn-neutral:active:hover i, .btn-neutral:active:focus i, .btn-neutral.active i, .open > .btn-neutral.dropdown-toggle:focus i, .open > .btn-neutral.dropdown-toggle:hover i, .open > .btn-neutral.dropdown-toggle i {
      color: rgba(255, 255, 255, 0.7);
      opacity: 0.7; }
  .btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active, fieldset[disabled] .btn-neutral, fieldset[disabled] .btn-neutral:hover, fieldset[disabled] .btn-neutral:focus, fieldset[disabled] .btn-neutral.focus, fieldset[disabled] .btn-neutral:active, fieldset[disabled] .btn-neutral.active {
    background-color: transparent;
    border-color: #FFFFFF; }
  .btn-neutral.btn-fill {
    color: #FFFFFF;
    background-color: #FFFFFF;
    opacity: 1; }
    .btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus, .btn-neutral.btn-fill:active, .btn-neutral.btn-fill.active, .open > .btn-neutral.btn-fill.dropdown-toggle {
      background-color: #FFFFFF;
      color: #FFFFFF;
      border-color: #FFFFFF; }
    .btn-neutral.btn-fill .caret {
      border-top-color: #FFFFFF; }
    .btn-neutral.btn-fill i {
      color: #FFFFFF;
      opacity: 1; }
  .btn-neutral.btn-simple:hover, .btn-neutral.btn-simple:focus, .btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active, .open > .btn-neutral.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #FFFFFF; }
    .btn-neutral.btn-simple:hover i, .btn-neutral.btn-simple:focus i, .btn-neutral.btn-simple:active i, .btn-neutral.btn-simple.active i, .open > .btn-neutral.btn-simple.dropdown-toggle i {
      color: #FFFFFF;
      opacity: 1; }
    .btn-neutral.btn-simple:hover .caret, .btn-neutral.btn-simple:focus .caret, .btn-neutral.btn-simple:active .caret, .btn-neutral.btn-simple.active .caret, .open > .btn-neutral.btn-simple.dropdown-toggle .caret {
      border-top-color: #FFFFFF; }
  .btn-neutral.btn-simple .caret {
    border-top-color: #FFFFFF; }
  .btn-neutral .caret {
    border-top-color: #FFFFFF; }
  .btn-neutral:hover, .btn-neutral:focus {
    color: #4D4D4D; }
    .btn-neutral:hover i, .btn-neutral:focus i {
      color: #4D4D4D;
      opacity: 1; }
  .btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
    background-color: #FFFFFF;
    color: #4D4D4D; }
    .btn-neutral:active i, .btn-neutral.active i, .open > .btn-neutral.dropdown-toggle i {
      color: #4D4D4D;
      opacity: 1; }
  .btn-neutral.btn-fill {
    color: #4D4D4D; }
    .btn-neutral.btn-fill i {
      color: #4D4D4D;
      opacity: 1; }
  .btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus {
    color: #403D39; }
    .btn-neutral.btn-fill:hover i, .btn-neutral.btn-fill:focus i {
      color: #403D39;
      opacity: 1; }
  .btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active {
    background-color: transparent; }

.btn:disabled, .btn[disabled], .btn.disabled, .btn.btn-disabled {
  opacity: 0.5; }

.btn-disabled {
  cursor: default; }


.swal-text {
   text-align: center !important;
}

.btn-simple {
  border: 0;
  padding: 7px 18px; }

.navbar .navbar-nav > li > a.btn.btn-lg, .btn-lg {
  font-size: 20px;
  border-radius: 50px;
  /*    line-height: $line-height; */
  padding: 11px 30px;
  font-weight: 400; }
  .navbar .navbar-nav > li > a.btn.btn-lg.btn-simple, .btn-lg.btn-simple {
    padding: 13px 30px; }
  .navbar .navbar-nav > li > a.btn.btn-lg.btn-icon, .btn-lg.btn-icon {
    height: 2.4em;
    border-radius: 30px;
    padding: 9px 16px; }

.navbar .navbar-nav > li > a.btn.btn-sm, .btn-sm {
  font-size: 14px;
  border-radius: 26px;
  /*    line-height: $line-height; */
  padding: 4px 10px; }
  .navbar .navbar-nav > li > a.btn.btn-sm.btn-simple, .btn-sm.btn-simple {
    padding: 6px 10px; }
  .navbar .navbar-nav > li > a.btn.btn-sm.btn-icon, .btn-sm.btn-icon {
    padding: 3px 7px; }
    .navbar .navbar-nav > li > a.btn.btn-sm.btn-icon .fa, .btn-sm.btn-icon .fa {
      line-height: 1.6;
      width: 15px; }

.navbar .navbar-nav > li > a.btn.btn-xs, .btn-xs {
  font-size: 12px;
  border-radius: 26px;
  /*    line-height: $line-height; */
  padding: 2px 5px; }
  .navbar .navbar-nav > li > a.btn.btn-xs.btn-simple, .btn-xs.btn-simple {
    padding: 4px 5px; }
  .navbar .navbar-nav > li > a.btn.btn-xs.btn-icon, .btn-xs.btn-icon {
    padding: 2px 5px; }
    .navbar .navbar-nav > li > a.btn.btn-xs.btn-icon .fa, .btn-xs.btn-icon .fa {
      width: 10px; }

.navbar .navbar-nav > li > a.btn.btn-wd, .btn-wd {
  min-width: 140px; }

.btn-group.select {
  width: 100%; }

.btn-group.select .btn {
  text-align: left; }

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px; }

.form-control::-moz-placeholder {
  color: #DDDDDD;
  opacity: 1; }

.form-control:-moz-placeholder {
  color: #DDDDDD;
  opacity: 1; }

.form-control::-webkit-input-placeholder {
  color: #DDDDDD;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #DDDDDD;
  opacity: 1; }

.form-control {
  background-color: #f2f2f2;
  border: medium none;
  border-radius: 4px;
  color: #4D4D4D;
  font-size: 16px;
  transition: background-color 0.3s ease 0s;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .form-control:focus {
    background-color: #FFFFFF;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important; }
  .has-success .form-control, .has-error .form-control, .has-success .form-control:focus, .has-error .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .has-success .form-control {
    background-color: #ABF3CB;
    color: #29CF29; }
    .has-success .form-control.border-input {
      border: 1px solid #29CF29; }
  .has-success .form-control:focus {
    background-color: #FFFFFF; }
  .has-error .form-control {
    background-color: #FFC0A4;
    color: #EA2B31; }
    .has-error .form-control.border-input {
      border: 1px solid #EA2B31; }
  .has-error .form-control:focus {
    background-color: #FFFFFF; }
  .form-control + .form-control-feedback {
    border-radius: 6px;
    font-size: 16px;
    margin-top: -7px;
    position: absolute;
    right: 10px;
    top: 50%;
    vertical-align: middle; }
  .form-control.border-input {
    border: 1px solid #CCC5B9; }
  .open .form-control {
    border-bottom-color: transparent; }

.has-error .form-control-feedback, .has-error .control-label {
  color: #EA2B31; }

.has-success .form-control-feedback, .has-success .control-label {
  color: #29CF29; }

.input-group-addon {
  background-color: #f2f2f2;
  border: medium none;
  border-radius: 4px; }
  .has-success .input-group-addon, .has-error .input-group-addon {
    background-color: #FFFFFF; }
  .has-error .form-control:focus + .input-group-addon {
    color: #EA2B31; }
  .has-success .form-control:focus + .input-group-addon {
    color: #29CF29; }
  .form-control:focus + .input-group-addon, .form-control:focus ~ .input-group-addon {
    background-color: #FFFFFF; }

.border-input .input-group-addon {
  border: solid 1px #CCC5B9; }

.input-group {
  margin-bottom: 15px; }

.input-group[disabled] .input-group-addon {
  background-color: #E3E3E3; }

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-right: 0 none; }

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-left: 0 none; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #E3E3E3;
  cursor: not-allowed;
  color: #9A9A9A;
  opacity: 1; }

.form-control[disabled]::-moz-placeholder {
  color: #9A9A9A;
  opacity: 1; }

.form-control[disabled]:-moz-placeholder {
  color: #DDDDDD;
  opacity: 1; }

.form-control[disabled]::-webkit-input-placeholder {
  color: #DDDDDD;
  opacity: 1; }

.form-control[disabled]:-ms-input-placeholder {
  color: #DDDDDD;
  opacity: 1; }

.input-group-btn .btn {
  border-width: 1px;
  padding: 9px 18px; }

.input-group-btn .btn-default:not(.btn-fill) {
  border-color: #DDDDDD; }

.input-group-btn:last-child > .btn {
  margin-left: 0; }

textarea.form-control {
  max-width: 100%;
  padding: 10px 18px;
  resize: none; }

/*!
 * jQuery UI Slider 1.10.4
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/slider/#theming
 */
.ui-slider {
  border-radius: 3px;
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  transition: none;
  -webkit-transition: none; }

.ui-slider .ui-slider-range {
  background-position: 0 0;
  border: 0;
  border-radius: 3px;
  display: block;
  font-size: .7em;
  position: absolute;
  z-index: 1; }

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit; }

.ui-slider-horizontal {
  height: 8px; }

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -10px;
  top: -4px; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-slider-vertical {
  width: .8em;
  height: 100px; }

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em; }

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%; }

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0; }

.ui-slider-vertical .ui-slider-range-max {
  top: 0; }

/* Component containers
----------------------------------*/
.ui-widget {
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-size: 1em; }

.ui-widget-content {
  background-color: #E5E5E5; }

.ui-widget-content a {
  color: #222222; }

.ui-widget-header {
  background: #DDDDDD;
  color: #222222;
  font-weight: bold; }

.ui-widget-header a {
  color: #222222; }

.slider-default .ui-widget-header {
  background-color: #4D4D4D; }

.slider-primary .ui-widget-header {
  background: -webkit-linear-gradient(145deg, #faa61f 0%, #ed1847 100%);
}

.slider-info .ui-widget-header {
  background-color: #1EB2FC; }

.slider-success .ui-widget-header {
  background-color: #29CF29; }

.slider-warning .ui-widget-header {
  background-color: #FEC309; }

.slider-danger .ui-widget-header {
  background-color: #EA2B31; }

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #f1ae6c;
  border-radius: 50%;
  box-shadow: 0 1px 1px #FFFFFF inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 15px;
  width: 15px;
  cursor: pointer; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555;
  text-decoration: none; }

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #212121;
  text-decoration: none; }

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #212121;
  text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee;
  color: #363636; }

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636; }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #EA2B31;
  background-color: #EA2B31;
  color: #EA2B31; }

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #EA2B31; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #EA2B31; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal; }

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */ }

.alert {
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 14px; }
  .container .alert {
    border-radius: 4px; }
  .navbar .alert {
    border-radius: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    z-index: 3; }
  .navbar:not(.navbar-transparent) .alert {
    top: 70px; }
  .alert .close {
    vertical-align: top;
    text-shadow: none; }
  .alert .alert-wrapper {
    padding: 5px 0;
    position: relative; }
    .alert .alert-wrapper .close {
      top: 6px;
      position: absolute;
      right: 0px; }
    .alert .alert-wrapper .message {
      padding-left: 60px;
      padding-right: 60px; }
  .alert .alert-icon {
    display: block;
    font-size: 30px;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -22px; }
  [class*="col-"] .alert .container {
    width: auto; }

.alert-info {
  background-color: #7CE4FE;
  color: #3091B2; }
  .alert-info .close {
    color: #3091B2;
    opacity: 0.7; }
    .alert-info .close:hover {
      opacity: 1; }

.alert-success {
  background-color: #8EF3C5;
  color: #25BA25; }
  .alert-success .close {
    color: #25BA25;
    opacity: 0.7; }
    .alert-success .close:hover {
      opacity: 1; }

.alert-warning {
  background-color: #FFE28C;
  color: #E5B008; }
  .alert-warning .close {
    color: #E5B008;
    opacity: 0.7; }
    .alert-warning .close:hover {
      opacity: 1; }

.alert-danger {
  background-color: #FF824D;
  color: #F02139; }
  .alert-danger .close {
    color: #F02139;
    opacity: 0.7; }
    .alert-danger .close:hover {
      opacity: 1; }

/*           Labels & Progress-bar              */
.label {
  padding: 0.4em 0.9em;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block; }

.label-icon {
  padding: 0.4em 0.55em; }
  .label-icon i {
    font-size: 0.8em;
    line-height: 1; }

.label-default {
  background-color: #4D4D4D; }

.label-primary {
  background-color: #cc208e; }

.label-info {
  background-color: #1EB2FC; }

.label-success {
  background-color: #29CF29; }

.label-warning {
  background-color: #FEC309; }

.label-danger {
  background-color: #EA2B31; }

.img-rounded {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  transition: opacity 0.5s ease 0s; }

.img-circle {
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 4px; }

.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  background-color: transparent;
  border: 2px solid #4D4D4D;
  border-radius: 20px;
  color: #4D4D4D;
  height: 36px;
  margin: 0 2px;
  min-width: 36px;
  padding: 5px 12px; }

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > li.active > a,
.pagination > li.active > span,
.pagination > li.active > a:hover,
.pagination > li.active > span:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span:focus {
  background-color: #4D4D4D;
  border-color: #4D4D4D;
  color: #FFFFFF; }

.nav-pills-primary > li > a,
.pagination-primary > li > a,
.pagination-primary > li > span,
.pagination-primary > li:first-child > a,
.pagination-primary > li:first-child > span,
.pagination-primary > li:last-child > a,
.pagination-primary > li:last-child > span {
  border: 2px solid #2251c6;
  color: #2251c6; }

.nav-pills-primary > li.active > a,
.nav-pills-primary > li.active > a:hover,
.nav-pills-primary > li.active > a:focus,
.pagination-primary > li > a:hover,
.pagination-primary > li > a:focus,
.pagination-primary > li > a:active,
.pagination-primary > li.active > a,
.pagination-primary > li.active > span,
.pagination-primary > li.active > a:hover,
.pagination-primary > li.active > span:hover,
.pagination-primary > li.active > a:focus,
.pagination-primary > li.active > span:focus {
  background-color: #18c5ea;
  border-color: #16bfeb;
  color: #FFFFFF; }

.nav-pills-info > li > a,
.pagination-info > li > a,
.pagination-info > li > span,
.pagination-info > li:first-child > a,
.pagination-info > li:first-child > span,
.pagination-info > li:last-child > a,
.pagination-info > li:last-child > span {
  border: 2px solid #1EB2FC;
  color: #1EB2FC; }

.nav-pills-info > li.active > a,
.nav-pills-info > li.active > a:hover,
.nav-pills-info > li.active > a:focus,
.pagination-info > li > a:hover,
.pagination-info > li > a:focus,
.pagination-info > li > a:active,
.pagination-info > li.active > a,
.pagination-info > li.active > span,
.pagination-info > li.active > a:hover,
.pagination-info > li.active > span:hover,
.pagination-info > li.active > a:focus,
.pagination-info > li.active > span:focus {
  background-color: #1EB2FC;
  border-color: #1EB2FC;
  color: #FFFFFF; }

.nav-pills-success > li > a,
.pagination-success > li > a,
.pagination-success > li > span,
.pagination-success > li:first-child > a,
.pagination-success > li:first-child > span,
.pagination-success > li:last-child > a,
.pagination-success > li:last-child > span {
  border: 2px solid #29CF29;
  color: #29CF29; }

.nav-pills-success > li.active > a,
.nav-pills-success > li.active > a:hover,
.nav-pills-success > li.active > a:focus,
.pagination-success > li > a:hover,
.pagination-success > li > a:focus,
.pagination-success > li > a:active,
.pagination-success > li.active > a,
.pagination-success > li.active > span,
.pagination-success > li.active > a:hover,
.pagination-success > li.active > span:hover,
.pagination-success > li.active > a:focus,
.pagination-success > li.active > span:focus {
  background-color: #29CF29;
  border-color: #29CF29;
  color: #FFFFFF; }

.nav-pills-warning > li > a,
.pagination-warning > li > a,
.pagination-warning > li > span,
.pagination-warning > li:first-child > a,
.pagination-warning > li:first-child > span,
.pagination-warning > li:last-child > a,
.pagination-warning > li:last-child > span {
  border: 2px solid #FEC309;
  color: #FEC309; }

.nav-pills-warning > li.active > a,
.nav-pills-warning > li.active > a:hover,
.nav-pills-warning > li.active > a:focus,
.pagination-warning > li > a:hover,
.pagination-warning > li > a:focus,
.pagination-warning > li > a:active,
.pagination-warning > li.active > a,
.pagination-warning > li.active > span,
.pagination-warning > li.active > a:hover,
.pagination-warning > li.active > span:hover,
.pagination-warning > li.active > a:focus,
.pagination-warning > li.active > span:focus {
  background-color: #FEC309;
  border-color: #FEC309;
  color: #FFFFFF; }

.nav-pills-danger > li > a,
.pagination-danger > li > a,
.pagination-danger > li > span,
.pagination-danger > li:first-child > a,
.pagination-danger > li:first-child > span,
.pagination-danger > li:last-child > a,
.pagination-danger > li:last-child > span {
  border: 2px solid #EA2B31;
  color: #EA2B31; }

.nav-pills-danger > li.active > a,
.nav-pills-danger > li.active > a:hover,
.nav-pills-danger > li.active > a:focus,
.pagination-danger > li > a:hover,
.pagination-danger > li > a:focus,
.pagination-danger > li > a:active,
.pagination-danger > li.active > a,
.pagination-danger > li.active > span,
.pagination-danger > li.active > a:hover,
.pagination-danger > li.active > span:hover,
.pagination-danger > li.active > a:focus,
.pagination-danger > li.active > span:focus {
  background-color: #EA2B31;
  border-color: #EA2B31;
  color: #FFFFFF; }

.panel {
  background-color: #FFF;
  border: 0 none;
  border-radius: 3px;
  font-size: 18;
  line-height: 1.6em;
  margin-top: 10px;
  padding: 7px 10px; }

.panel-border {
  border: 1px solid #CCC5B9; }

.panel-default .panel-heading {
  background-color: #FFF;
  border: 0 none;
  border-radius: 3px;
  font-weight: 400; 
  color: #4D4D4D; }

.panel-default a {
  color: #4D4D4D; }
  .panel-default a:hover, .panel-default a:active, .panel-default a:focus {
    color: #EA2B31; }
  .panel-default a .panel-title > i {
    float: right; }
.panel-default a[aria-expanded="true"] .panel-title > i,
.panel-default a.expanded .panel-title > i {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: 0 none; }

.modal-header {
  border-bottom: 1px solid #DDDDDD;
  padding: 20px;
  padding-bottom: 5px !important;
  text-align: center; }
  .modal-header.no-border-header {
    border-bottom: 0 none; }
    .modal-header.no-border-header .modal-title {
      margin-top: 20px; }

.modal-content {
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1); }

.modal-body {
  padding: 20px 50px; }

.modal-footer {
  border-top: 1px solid #DDDDDD;
  padding: 0px; }
  .modal-footer.no-border-footer {
    border-top: 0 none; }

.modal-footer .left-side, .modal-footer .right-side {
  display: inline-block;
  text-align: center;
  width: 49%; }

.modal-footer .btn-simple {
  padding: 20px;
  width: 100%; }

.modal-footer .divider {
  background-color: #DDDDDD;
  display: inline-block;
  float: inherit;
  height: 63px;
  margin: 0px -3px;
  position: absolute;
  width: 1px; }

.modal.fade .modal-dialog {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none; }

.modal.in .modal-dialog {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none; }

.modal-backdrop.in {
  opacity: 0.25; }

  .card .title,
  .card .stats,
  .card .category,
  .card .description,
  .card .social-line,
  .card .actions,
  .card .content,
  .card .card-footer,
  .card small,
  .card a {
    position: relative;
    z-index: 3; }
  .card a {
    color: #444444; }
    .card a:hover, .card a:focus {
      color: #333333; }
  .card img {
    max-width: 100%;
    height: auto; }

.card-user .image {
  border-radius: 8px 8px 0 0;
  height: 150px;
  position: relative;
  overflow: hidden; }
  .card-user .image img {
    width: 100%;
    height: 150px; }
.card-user .image-plain {
  height: 0;
  margin-top: 110px; }
.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: 0px; }
  .card-user .author .title {
    color: #4D4D4D; }
    .card-user .author .title small {
      color: #ccc5b9; }
.card-user .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px; }
  .card-user .avatar.border-white {
    border: 5px solid #FFFFFF; }
  .card-user .avatar.border-gray {
    border: 5px solid #ccc5b9; }
.card-user .title {
  line-height: 24px; }
.card-user .content {
  min-height: 240px; }
.card-user.card-plain .avatar {
  height: 190px;
  width: 190px; }

