/* ----------------------------------------------------
  
	File Name: style.css
	Template Name: Documentation
	Created By: Template Visual
	http://themeforest.net/user/templatevisual

	1. IMPORT
	2. SKELETON
	
	------------------------------------------------------- */  

/* ----------------------------------------------------
	IMPORT	
	------------------------------------------------------- */  

	@import url(http://fonts.googleapis.com/css?family=Lato:400,700,100italic,300,300italic,400italic,700,700italic,900,900italic);

/* ----------------------------------------------------
	SKELETON	
	------------------------------------------------------- */  
	html {

		text-rendering: optimizeLegibility !important;

		-webkit-font-smoothing: antialiased !important;

	}
	
	body {
		background: #f2f2f2;
		color: #666666;
		font-size: 14px;
		line-height: 31px;
		letter-spacing: 0;
		font-weight: 400;
		padding:0;
		font-smooth: always;
	}

	h1,h2,h3,h4,h5,h6{ 
		letter-spacing:0px;
		font-weight:normal;
		position: relative;
		padding: 0 0 10px 0;         
		font-weight:normal;
		line-height:1.8;
		color:#4080ff;
	}
	
	h1{
		font-size: 22px; 
	}
	
	h2{
		font-size: 20px; 	
	}
	
	h3{
		font-size: 18px; 
	}
	
	h4{
		font-size: 21px; 		
	}
	
	h5{
		font-size: 14px; 		
	}
	
	h6{
		font-size: 14px;  	
	}

	a {
		color:#696969;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
		text-decoration:none !important; 
	}

	p {
		font-size: 15px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0;
		margin-top: 25px;
	}
	
	img.aligncenter{
		display:block;
		text-align:center;
		display: block;
		margin:0 auto 20px auto;
		padding:0px;
		border:0px;
		background:none;
	}

	ul {
		padding:0;
		list-style: none;
	}

	ol li ul li {
		padding-left: 20px;
	}
	
	img.alignleft{
		float:left;
		margin: 6px 20px 6px 0;
		display: inline;
		border:0px;
		background:none;
		padding:0;
		display:block;
	}
	
	img.alignright{
		padding:0;
		float:right;
		margin: 6px 0 6px 20px;
		border:0px;
		display:block;
		background:none;
	}
	
	::selection {
		background: #4080ff !important; /* Safari */
		color:#fff;
	}
	
	::-moz-selection {
		background: #6f9a37 !important; /* Firefox */
		color:#fff;
	}
	
	blockquote {		 
		font-size:16px;
		line-height: 32px;
		font-family: Lato, Helvetica, sans-serif;: 'Droid Serif', Georgia, "Times New Roman", serif;
		font-weight:normal;
		font-style:italic;	   
		position:relative;  
		width:auto;
	}

	blockquote small {
		display: block;
		margin-top: 20px;
	}
	
	pre {
		line-height:18px;
		margin-bottom:18px;
	}

	.btn,
	a {
		outline:0 !important;
		text-decoration: none !important;
	}
	
	ins {
		text-decoration:none;
	}
	
	sup {
		bottom: 1ex;
	}
	
	sub {
		top: .5ex;
	}
	
	p{
		padding:0 0 20px 0;
	}	

	.check li:before {
		content: "\f00c";
		font-family: Lato, Helvetica, sans-serif;: "FontAwesome";
		font-size: 16px;
		left: 0;
		color:#242424;
		padding-right:5px;
		position: relative;
		top: 2px;
	}

	.check li {
		font-size:14px;
		list-style:none;
		margin-bottom:4px;
	}

	.check {
		margin-left:0; 
		padding-left:0
	}

	.section {
		padding:180px 0;
		position: relative;
		display: block;
	}

	.white {
		background-color: #ffffff;
	}

	strong {
		color:#030303;
	}

	.grey {
		background-color: #f3f3f3;
	}

	.big-title h1 {
		font-size: 48px;
		font-weight: 300;
		margin-bottom: 0;
		text-transform: capitalize;
		padding-bottom: 0;
	}

	.dark-text {
		font-size: 4.125rem;
		line-height: 4.063rem;
		font-weight: 300;
	}

	h4 a {
		font-size: 14px;
		font-weight: bold;
	}
	.dark-text a {
		font-size: 14px;
		font-weight: bold;
		padding-left: 20px;
	}
	.dark-text hr {
		width: 130px;
		margin-left: 0;
		margin-top: 40px;
		border-width: 1px;
		border-color:#030303;
	}
	.intro {
		padding:20px;
	}

	.intro1 {
		margin-top:22px;
		padding:30px 0px;
		background-color: #f3f3f3;
	}

	.intro1 li {
		list-style: none;
	}

	.intro1 a {
		color:#6f9a37 !important;
	}

	.intro a {
		color:#030303;
		font-weight: 400;
		font-size: 16px;
	}

	.lead {
		text-transform: capitalize;
	}
	.left-align img {
		margin-top: 20px;
	}
	.drop-caps p:first-child::first-letter {
		color: #030303;
		display: block;
		float: left;
		font-size: 75px;
		line-height: 60px;
		text-transform: uppercase;
		margin-right: 10px;
		margin-top: 5px;
		padding: 4px;
	}
	.drop-caps.full p:first-child::first-letter {
		background: #030303 none repeat scroll 0 0 !important;
		color: #ffffff;
		margin-right: 15px;
		padding: 20px;
		font-size: 36px;
		font-family: Lato, Helvetica, sans-serif;: Georgia;
		border-radius: 5px;
	}

	mark {
		background-color: #4080ff;
		color:#ffffff;
		padding:0 10px;
	}

	a:focus,
	a:hover {
		color:#6f9a37;
	}
	.logo2 {

		margin: auto;
		text-align: center;
		float: none;
		padding-right: 100px;
		margin-top: 10px;
	
	}
	.intro2 i {
		padding-right: 10px;
		font-size: 21px;
	}
	.intro2 {
		background-color: #4080ff !important;
		border: 2px solid: #4080ff !important;
		border-radius: 5px;
		color: #ffffff;
		font-style: italic;
		padding: 10px 20px;
	}
	.intro2 p {
		padding:0;
	}
	.intro2 a {
		color:#ffffff;
		font-weight: bold;
	}

	.intro1 ul {
		padding:0 30px;
	}

	.btn-primary {
		background-color: #6f9a37;
		border: 1px solid #5c8724;
	}
	.btn-primary:hover {
		background-color: #5c8724;
		border: 1px solid #6f9a37;	
	}
	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
		background-color: #141412;
		color: #ffffff;
		padding-top: 20px;
	}
	.navbar-nav{
		margin-top: 13px;
		padding-left:5px !important;
	}
	.navbar-inverse {
		background-color: #141412;
		color: #ffffff;
		border:0;
	}
	.navbar-inverse li.btn {
		border-radius: 2px !important;
		padding: 0;
		background-color: #00cc00;
	}
	.navbar-inverse li.btn a {
		color: #ffffff !important;
	}
	.btn-help {
		margin-bottom: 25px;
		background-color: #00cc00;
		border: 1px solid #00cc00;
		margin-top: 30px;
		color: #ffffff;
	}
	.btn-help:hover {
		background-color: #6699ff !important;
		border: 1px solid #00cc00;	
		color: #ffffff;
	}
	.navbar-button {
		background-color:#4080ff;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		border-radius:4px;
		border:0px solid #4080ff;
		border-width: 2px;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family: Lato, Helvetica, sans-serif;:Arial;
		font-size:13px;
		padding:4px 20px !important;
		text-decoration:none;
		margin-top: 13px;
		margin-bottom:5px;
		position: relative;
		bottom: 11px;
	}
	.navbar-button:hover {
		background-color: #6699ff;
		color: #ffffff;
	}
	.help-button {
		background-color:#4080ff;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		border-radius:3px;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family: Lato, Helvetica, sans-serif;:Lato;
		font-size:14px;
		padding:5px 22px;
		text-decoration:none;
		margin-bottom: 30px;
		position: relative;
	}
	.help-button:hover {
		background-color:#6699ff !important;
		color: #ffffff;
	}
	.help-button:active {
		position:relative;
		top:1px;
	}