<div class="modal fade" id="messages" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content chat-modal">
<div class="chat-close" data-dismiss="modal"><i class="icon icon-cross"></i></div>
<div class="modal-body-xl no-padding" style="overflow:hidden;">
<div class="chat-container">
<div class="chat-left pull-left">
<div class="chat-sidebar-top">
	<input type="text" id="search" name="search" placeholder="Search by name" class="form-control input-sm" autocomplete="off">
</div>
<div class="chats-list"></div>
</div>
<div class="chat-area pull-left">
<div class="chat-top-right"></div>
<div class="chat-content-wrap">
	<div class="chat-content"></div>
</div>
<div class="emoji-menu" style="display:none;">
	<div class="emoji-top">
		<span class="emoji-top-link emj" onclick="loadEmojis(); setActiveEmojiLink('.emoji-top-link');">
			<i class="ti-face-smile"></i>
		</span>
		<span class="emoji-sticker-packs">
		</span>
	</div>
	<div class="emoji-content-wrap">
		<div class="emoji-content"></div>
	</div>
</div>
<div class="gift-menu" style="display:none;">
	<div class="gift-content-wrap">
		<div class="gift-content"></div>
	</div>
</div>
<div class="chat-bottom">
	<div class="chat-addons">
        <a href="#" onclick="toggleEmojiMenu(); return false;"> <i class="ti-face-smile emoji-toggle"></i></a>
        <!--<a href="#" onclick="toggleChatGifts(); return false;"> <i class="ti-gift"></i></a>-->
	</div>
	<div class="chat-input">
		<input type="text" id="message" name="message" placeholder="Write a message" class="form-control input-sm" autocomplete="off">
		<a href="#" class="btn btn-primary btn-icon btn-sm btn-fill chat-message-send" onclick="sendMessage()" style="height: 33px !important;"> <img src="<?=$system->getDomain()?>/img/paper-plane.png"> </a>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>