<div class="invite-friends">
	<p>Find out which of your friends are already here</p>
	<?php while($friend = $invite_friends->fetch_object()) { ?>
	<div class="user">
		<img src="<?=$this->getDomain()?>/uploads/<?=$friend->profile_picture?>" data-pixelate data-value="0.4" data-reveal="false" class="img-rounded pixelate">
	</div>
	<? } ?>
	<div class="action pull-right" onclick="fbInvite(); return false;">
		<img src="<?=$this->getDomain()?>/img/elipsis-h.png">
	</div>
	<hr>
</div>