@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
body {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  font-stretch: normal;
  line-height: 1.3572;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
 /* overflow: hidden;*/
}
.navbar-transparent {
  background: none;
}
.navbar .navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}
.navbar .navbar-brand img {
  height: 37px;
  width: 124px;
  text-align: center;
  margin: auto;
}
.decors img {
  position: absolute;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: -1;
}
.decors img:nth-child(1) {
  top: -220px;
  left: -250px;
}
.decors img:nth-child(2) {
  position: absolute;
  bottom: -100px;
  right: -250px;
}

.message-error {
  width: 100%;
  text-align: left !important;
  float: left;
  padding-left: 10px;
  font-size: .829em;
  color: #ff4101;
  padding-bottom: 0.3em;
}

.border-input-error {
  border-color: #ff4101 !important;
}

.navbar-nav li a {
  color: #ffffff;
  position: relative;
  top: 5px;
  font-size: 0.9em;
  z-index: 1;
}
.navbar-nav li a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #ffffff;
  border: 0px;
  border-radius: 25px !important;
}
.navbar-nav .btn {
  position: relative;
  top: 17.5px;
  font-weight: 700 !important;
  padding: 4px 13px !important;
}
.navbar-nav a i {
  padding-right: 4px !important;
  color: #BFBFBF;
  font-size: 1.1em;
  position: relative;
  top: 3px;
}
.navbar-nav a i.xl {
  font-size: 1.2em;
  position: relative;
  top: 1.5px;
}
.navbar-nav a:hover i {
  color: #4D4D4D;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.language-select {
  padding: 0px !important;
  padding-top: 7px !important;
  width: 100px;
}
.language-select .select2-container--default .select2-selection--single {
  background-color: #ffffff !important;
  border: 0px;
  border-radius: 25px !important;
}
.language-select .select2-selection__arrow {
  top: 7.7px !important;
  right: 17px !important;
}
.btn-default.btn-fill {
  background-color: #FFF !important;
  color: #4D4D4D !important;
  font-weight: 700;
}
.btn-default.btn-fill:hover {
  background-color: #FFF;
  border: 1px solid #ffffff;
  color: #ffffff !important;
}

.btn-fill-ct:hover {
  background-color: #ba7ad2 !important;
  border: 1px solid #ba7ad2 !important;
  color: #ffffff!important;
}

.btn-sig-ct:hover {
  border: 1px solid #29cf29 !important;
  color: #ffffff !important;
}

.btn-sig-ct-m:hover {
  border: 1px solid #29cf29 !important;
 color: #656464 !important;
}


.btn-default:hover {
  border-color: #cc208e;
  color: #cc208e;
  background-color: transparent;
}
.btn-default:hover i {
  color: #cc208e;
  opacity: 1;
}
.btn-default:active {
  border-color: #cc208e;
  color: #cc208e;
  background-color: transparent;
}
.btn-default:focus {
  border-color: #cc208e;
  color: #cc208e;
  background-color: transparent;
}
.btn-default:active i {
  color: #cc208e;
  opacity: 1;
}
.btn-default:focus i {
  color: #cc208e;
  opacity: 1;
}
.btn-facebook {
  color: #fafafa !important;
  border-color: #ffffff;
  background: linear-gradient(90deg, #ff5c72, #a485f2);
  font-weight: 700 !important;
  margin-top: 40px !important;
  padding: 9px 30px !important;
  font-size: 0.65em !important;
}
.btn-facebook i {
  position: relative;
  top: 2px;
  right: 10px;
  color: #fffff !important;
  opacity: 1 !important;
}
.inner-container {
  margin: 60px 60px;
  background-color: #FFF;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgb(225, 223, 226);
}

.inner-container-error {
  height: 530px !important;
}

.search-field__icon {
  position: absolute;
  z-index: 2;
  top: 38.5%;
  right: 40px;
  display: -webkit-flex;
  display: flex;
  color: #b1acac;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-search {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: currentColor;
  transition: color .2s, fill .2s, background .2s, box-shadow .2s, opacity .2s;
}

.icon-search:before {
  content: no-open-quote !important;
}

@media(max-width:1200px) {
  .container {
    width: 95%;
  }
  .inner-container {
    margin: 60px 0px;
  }
}
#promo-half {
    background: #ffff;
    width: 65%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    color: #545151;
    position: relative;
    border-color: #fafafa;
    border-style: solid;
    border-width: 0.05em;
}
#promo-half #counter{
  padding-top: 100px;
  margin: 0 auto;
  float: none;
  text-align: center;
}
#promo-half #counter .digit {
  border: 0;
  width: 40px;
  height: 58px;
  background: #eee;
  font-size: 2.143em;
  line-height: 58px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}
#promo-half #counter .info {
  padding-top: 25px;
  font-size: 1.7em;
}
#promo-half small {
 font-size: 0.45em;
}
#promo-half #or {
  position: absolute;
  right: -15px;
  background-color: #FFF;
  border-radius: 50%;
  padding: 7px 10px;
  color: #4D4D4D;
  top: 130px;
  font-size: 1.2em;
  z-index: 2;
}
#main-half {
 background-color: #faf8f8;
 width: 35%;
 height: 100%;
 border-top-right-radius: 15px;
 border-bottom-right-radius: 15px;
 padding: 20px;
 color: #545151;
 position: relative;
}
#main-half #step-1 {
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
}
#main-half #step-1 span:nth-child(1) {
  display: block;
  font-size: 1.25em;
}
#main-half #step-1 span:nth-child(2) {
  display: block;
  margin-top: 20px;
  font-size: 1.8em;
  margin-bottom: 12px;
}
#main-half .btn {
  margin-top: 10px;
  border-width: 2px;
  font-size: 1.1em;
  width: 170px;
}
#main-half #step-2 {
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
}
#main-half #step-2 span {
 display: block;
 margin-top: 20px;
 font-size: 1.8em;
 margin-bottom: 80px;
}
#main-half #step-3 {
  padding-bottom: 100px;
  margin: 0 auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
#main-half #step-3 span.title {
 display: block;
 margin-top: 20px;
 font-size: 1.8em;
 margin-bottom: 35px;
}
#main-half #step-2 .btn {
  width: 250px;
}
#main-half #step-2 .btn:nth-of-type(1) {
  border-color: #cc208e;
  color: #cc208e !important;
}
#main-half #step-2 .btn:nth-of-type(2) {
  border-color: #0094E9;
  color: #0094E9 !important;
}
#main-half #step-2 .btn:nth-of-type(3) {
  border-color: #00C2CD;
  color: #00C2CD !important;
}
#main-half #step-3 .btn {
  font-weight: 700;
  width: 270px;
  padding: 9px 30px;
}
#main-half #steps {
  margin: 0 auto;
  text-align: center; 
  float: none;
  position: absolute;
  bottom: 30px;
  left: 43%;
}

#main-half .steps-error {
  bottom: 12px !important;
}

#main-half #steps div {
  border-radius: 50%;
  width: 10px;
  height: 10px; 
  background-color: #dacfcf !important;
  display: inline-block;
  margin: 3px;
}
#main-half #steps > div.active {
  background-color: #fb5e77 !important;
}
input.form-control{
  vertical-align: middle;
  display: inline-block;
  margin: 5px 0;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 24px !important;
  width: 100%;
  height: 44px;
  padding: 11px 20px;
  background: #fff;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  transition: border-color .2s;
  height: 40px;
  font-size: 0.9em;
  font-weight: 400 !important;
}
form .select2-container {
  width: 96px !important;
}
form .select2-selection--single {
  font-size: 0.8em !important;
  text-align: center !important;
}
.form-control:hover, .form-control:focus {
  border-color: #f89723;
}
.form-group {
  margin-bottom: 7px;
}
.btn {
  font-weight: 700 !important;
}
footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 15px;
  margin: 0 auto;
  width: 52%;
  text-align: left;
}
footer ul li a {
  color: #999999;
  font-size: 0.8em;
}
footer ul li a:hover {
  color: #cc208e;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
    color: #444 !important
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #7d7a7a transparent transparent transparent !important;
  margin-left: 0px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    background-color: transparent !important;
}

.language-select .select2-container--default .select2-selection--single:hover {
  background-color: white  !important;
}

.header .language-selector.hovered .language-selector__label,.header .language-selector__label:hover{
    background:rgba(0, 0, 0, .08);
    color:#fff
}

.link-forgot-pass {
    color: #949494;
    border-bottom: 1px solid rgba(148, 148, 148, 0.3);
    transition: color .2s, border-color .2s;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9em;
}