body {
  background-color: #FFF;
}
.navbar-default {
  background-color: #FFF;
  height: 65px;
}
.navbar-brand {
  position: relative !important;
}
.navbar-brand img {
  margin: inherit !important;
  text-align: inherit;
}
.navbar .help {
  padding-top: 19px;
  color: #4D4D4D !important;
}
.inner-container {
  padding: 0px 90px;
}
@media(max-width:1200px) {
  .inner-container {
    padding: 0px !important;
  }
}
.inner-container h1 {
  font-size: 1.25em;
  font-weight: 400;
}
.inner-container p {
  font-size: 0.9em;
}
.inner-container {
  width: 65%;
}
.inner-container form .form-group {
  width: 100%;
}
.inner-container form .form-group label {
  font-size: 0.85em;
  position: relative;
  top: 10px;
}
.inner-container form .form-group input {
  font-size: 0.9em;
  margin-right: 10px;
  width: 70%;
}
.inner-container form .btn-success {
  margin-top: 25px;
}
.inner-container #login {
  width: 70%;
  display: inline-block;
}
.inner-container #social {
  position: relative;
  top: -150px;
  width: 10%;
  display: inline-block;
  margin-left: 35px;
  padding-left: 25px;
  height: 180px;
  border-left: 1px solid #D4D5D6;
}
.inner-container #social .btn-primary {
  background-color: #3464D4;
  padding: 4px 9px;
}
.inner-container #social .btn-primary i {
  color: #3464D4;
  background-color: #FFF;
  border-radius: 50%;
  padding: 3px;
  position: relative;
  top: 1.2px;
  right: 2px;
}
.inner-container #social .or {
  position: absolute;
  top: 60px;
  right: 47px;
  background-color: #FFF;
  padding: 2px;
}
.inner-container a:not(.btn) {
 position: relative;
 font-size: 0.8em;
 color: #4D4D4D;
 border-bottom: 1px solid #D4D5D6;
 top: 10px;
 left: 15px;
}
.inner-container a:not(.btn):hover {
 color: #2B65F8;
 border-color: #2B65F8;
}
.input-error {
  border-color: #F66 !important;
  margin-bottom: 2px !important;
}
.text-danger {
  color: #F66 !important;
  padding-left: 110px;
}