@font-face {
    font-family: Monserrat;
    src: url('../fonts/Montserrat-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: Monserrat;
    src: url('../fonts/Montserrat-Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: Monserrat;
    src: url('../fonts/Montserrat-SemiBold.otf');
    font-weight: 500;
}
@font-face {
    font-family: Monserrat;
    src: url('../fonts/Montserrat-Bold.otf');
    font-weight: 600;
} 
body {
  background-color: white;
  font-family: Montserrat, sans-serif;
  color: #66615b;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  line-height: 36px;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  font-size: 13px;
}
a {
  width: 100%;
  color: #66615b;
  text-decoration: none;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.navbar {
  position: fixed;
  z-index: 5;
  height: 61px;
  padding-top: 15px;
  background-color: #2B65F8;
  color: #fff !important;
  top: 0px;
}
.navbar-title a {
  color: #fff !important;
}
.mobile-wrapper {
  position: relative;
  width: 342px;
  height: 608px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  box-shadow: none;
}
.navbar-button {
  position: relative;
  width: 45px;
  height: 45px;
  padding: 0px;
  color: #ccc;
  line-height: 49px;
  text-align: center;
}
.navbar-button.left {
  float: left;
}
.navbar-button.left.w--open {
  background-color: transparent;
}
.navbar-button.right {
  float: right;
}
.navbar-button.right:active {
  color: #fff;
}
.navbar-button.right.bigger {
  font-size: 16px;
}
.icon.ion-ios-more.bigger {
  font-size: 21px;
}
.navbar-button-icon {
  width: 45px;
  height: 45px;
  font-size: 40px;
  color: #fff;
}
.navbar-button-icon.home-icon {
  display: inline-block;
  width: 27px;
  height: auto;
  margin-top: 12px;
  margin-left: 5px;
}
.navbar-button-icon.smaller {
  font-size: 28px;
}
.navbar-title {
  position: absolute;
  display: block;
  width: 50%;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
}
.body {
  padding-top: 60px;
}
.hero-slider {
  height: 190px;
}
.hero-slider.bigger {
  height: 300px;
}
.slider-bullets {
  font-size: 8px;
}
.arrow-icon {
  font-size: 20px;
}
.slide {
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url('../images/photo-1428976365951-b70e0fa5c551.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide.bg2 {
  background-image: url('../images/photo-1421757295538-9c80958e75b0.jpg');
}
.slide.bg3 {
  background-image: url('../images/photo-1429032021766-c6a53949594f (1).jpg');
}
.list {
  padding-left: 0px;
  background-color: white;
  list-style-type: none;
}
.list.list-messages {
  border-top: 1px solid #e7e7e9;
}
.list.list-chats {
  padding-top: 24px;
  padding-bottom: 65px;
  border-top: 1px solid #e7e7e9;
}
.list-item {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 60px;
  border-bottom: 1px solid #e7e7e9;
  border-left: 3px solid transparent;
  background-color: white;
}
.list-item:active {
  background-color: #f7f7f7;
}
.list-item.grey {
  border-left: 3px solid transparent;
  background-color: #f7f7f7;
}
.list-item.highlighted {
  border-left: 3px solid #2B65F8;
}
.icon-list {
  display: inline-block;
  width: 50px;
  height: 50px;
  float: left;
  color: #ddd;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}
.icon-list.highlighted {
  color: #2B65F8;
}
.title-list {
  display: inline-block;
  float: left;
  font-size: 14px;
  line-height: 60px;
}
.highlighted {
  color: #c2c2c2;
}
.nav-menu {
  position: absolute;
  width: 90%;
  padding-right: 22px;
  padding-left: 22px;
  background-color: white;
}
.nav-menu-header {
  height: 137px;
  padding-top: 50px;
}
.nav-menu-link {
  display: block;
  height: 50px;
  padding: 0px;
  border-bottom: 2px solid #fafafa;
  font-size: 13px;
  text-decoration: none;
}
.nav-menu-link:active {
  color: #2B65F8;
}
.nav-menu-link.last {
  border-bottom-style: none;
  border-bottom-width: 0px;
}
.nav-menu-titles {
  display: inline-block;
  float: left;
  line-height: 48px;
  text-align: left;
}
.icon-list-menu {
  display: inline-block;
  width: 45px;
  height: 50px;
  float: left;
  color: #dbdbdb;
  font-size: 25px;
  line-height: 48px;
  text-align: left;
}
.nav-menu-text-right {
  display: inline-block;
  float: right;
  color: #c2c2c2;
  line-height: 48px;
}
.logo {
  padding-bottom: 8px;
  font-size: 30px;
  text-align: left;
}
.slogan {
  color: #c2c2c2;
  font-size: 11px;
  text-align: left;
}
.wrapper-mask {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  margin-top: -15px;
  background-color: black;
  opacity: 0;
}
.hero-image {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 173px;
  background-color: black;
}
.hero-image-img {
  height: 100%;
  opacity: 0.62;
}
.hero-image-title {
  position: absolute;
  left: 50px;
  bottom: 30px;
  z-index: 1;
  color: white;
}
.logo-login {
  height: 200px;
   background-size: 170px;
  background-image: url('../images/logoStandford4.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.logo-login.smaller {
  height: 70px;
  background-size: 110px;
}
.logo-login.bigger {
  height: 304px;
}
.bottom-section {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 5px;
}
.padding {
  padding-right: 28px;
  padding-left: 28px;
  background-color: none;
  opacity: 1;
}
.padding.smaller {
  padding-right: 16px;
  padding-left: 16px;
}
.padding.smaller.search-fixed {
  position: fixed;
  z-index: 3;
  height: 130px;
  -webkit-transform: translate(0px, -69px);
  -ms-transform: translate(0px, -69px);
  transform: translate(0px, -69px);
}
.link-upper {
  display: inline-block;
  color: #bababa;
  font-size: 9px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}
.b-link {
  color: #fff;
  font-weight: 700;
}
.b-link:active {
  color: #2B65F8;
}
.action-button {
  display: inline-block;
  width: 100%;
  height: 51px;
  padding: 12px;
  border-radius: 2px;
  background-color: #2B65F8;
  color: white;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}
.action-button:active {
  background-color: #3ab5a7;
}
.action-button.grey {
  background-color: #333;
}
.separator-button {
  height: 21px;
}
.label-form {
  margin-bottom: 0px;
  color: #ccc;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 1px;
  float:left;
}
.label-form.middle {
  display: inline-block;
  float: left;
  line-height: 36px;
}
.input-form {
  display: inline-block !important;
  width: 100% !important;
  height: 38px !important;
  padding-right: 0px; !important
  padding-left: 0px !important;
  border-style: none none solid !important;
  border-bottom-width: 1px !important;
  border-bottom-color: #e6e6e6 !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  color: #66615b !important;
  font-size: 12px !important;
  box-shadow: none !important;
}
.input-form:focus {
  border-bottom-color: #2B65F8;
}
.input-form.left {
  width: 100%;
}
.input-form.one-line {
  height: 55px;
  margin-bottom: 3px;
}
.input-form.last {
  border-bottom-style: none;
  border-bottom-width: 0px;
}
.input-form.in-grey {
  height: 42px;
  padding-bottom: 12px;
}
.input-form.in-grey-last {
  margin-bottom: 15px;
  border-bottom-style: none;
  border-bottom-width: 0px;
}
.input-form.search-input {
  height: 38px;
  margin-bottom: 15px;
  padding-right: 35px;
  padding-left: 10px;
  background-color: white;
}
.separator-button-input {
  height: 30px;
}
.separator-fields {
  height: 8px;
}
.right-input-link {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 40%;
  height: 37px;
  background-color: none;
  color: #ccc;
  font-size: 11px;
  line-height: 37px;
  text-align: right;
  text-decoration: none;
}
.right-input-link:active {
  color: #333;
}
.block-input-combined {
  position: relative;
}
.sub-title-small {
  padding-top: 6px;
  color: #333;
  font-size: 11px;
}
.w50 {
  width: 50%;
  float: left;
}
.w50.left {
  padding-right: 20px;
}
.radio-button {
  position: relative;
  display: inline-block;
  margin-left: 31px;
  float: right;
}
.radios-container {
  padding-top: 9px;
  line-height: 21px;
}
.radio-bullet {
  margin-left: -23px;
  opacity: 0;
}
.radio-bullet-replacement {
  position: absolute;
  left: -4px;
  top: 4px;
  width: 13px;
  height: 13px;
  border: 1px solid #c2c2c2;
  border-radius: 15px;
}
.radio-bullet-replacement.checked {
  border-color: #2B65F8;
  background-color: #2B65F8;
}
.checkbox-field {
  position: relative;
  float: right;
}
.checkbox-label {
  display: inline-block;
  width: 35px;
  height: 15px;
  min-width: 30px;
  margin-top: 3px;
  border-radius: 15px;
  background-color: #ededed;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
.checkbox-label.checked {
  background-color: #ffb899;
}
.checkbox-handle {
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 20px;
  background-color: #d6d6d6;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
.checkbox-handle.checked {
  background-color: #2B65F8;
  -webkit-transform: translate(16px, 0px);
  -ms-transform: translate(16px, 0px);
  transform: translate(16px, 0px);
}
.checkbox-input {
  display: none;
}
.background-grey {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 79px;
  margin-top: -16px;
  margin-left: -28px;
  background-color: #f7f7f7;
}
.background-grey.last {
  height: 71px;
}
.background-grey.search {
  height: 69px;
  margin-left: -16px;
}
.row-input-list {
  position: relative;
}
.row-input-list.search {
  margin-top: 0px;
}
.right-input-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 37px;
  height: 37px;
  color: #dbdbdb;
  font-size: 18px;
  line-height: 36px;
  text-align: right;
}
.right-input-icon.color {
  margin-right: 0px;
  color: #2B65F8;
  text-align: center;
}
.right-input-icon.search {
  margin-right: 0px;
  padding-top: 2px;
  padding-right: 3px;
  text-align: center;
}
.page-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.page-content.loading-mask {
  position: fixed;
  z-index: 50;
  display: none;
  background-color: white;
  opacity: 0.6;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
  text-align: center;
  top: 0px;
}
.page-content.loading-mask.stop-loading{
  opacity:0;
}
.loading-icon {
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  bottom: 50%;
  display: block;
  width: 44px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
  color: #fff;
}
.text-centered {
  text-align: center;
}
.version-text {
  padding-bottom: 40px;
  color: #a1a1a1;
  font-size: 11px;
}
.separator-bottom {
  height: 15px;
}
.splash-logo {
  height: 305px;
  background-image: url('../images/logoStandford4.png');
  background-position: 50% 50%;
  background-size: 188px;
  background-repeat: no-repeat;
}
.separator-big {
  height: 95px;
}
.toolbar-top-button {
  display: block;
  float: left;
  width: 50%;
  padding-top: 22px;
  padding-bottom: 9px;
  border-bottom: 3px solid white;
  background-color: white;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}
.toolbar-top-button.w--current {
  border-bottom-color: #2B65F8;
  background-color: white;
}
.tabs-content {
  background-color: whitesmoke;
  clear: both;
}
.group-block {
  width: 50%;
  padding-top: 10px;
  padding-right: 4px;
  float: left;
}
.group-block.last {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 6px;
}
.group-image {
  height: 164px;
  background-image: url('../images/Y51aFguqRcGTgsYRYBXV_20140104_085932.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.group-image.bg1 {
  background-image: url('../images/3wBPUcDrR9KaduD3PvkY_DSC_0915.jpg');
}
.group-image.bg2 {
  background-image: url('../images/photo-1413977886085-3bbbf9a7cf6e.jpg');
}
.group-image.bg3 {
  background-image: url('../images/photo-1421757295538-9c80958e75b0.jpg');
}
.group-image.bg4 {
  background-image: url('../images/photo-1429032021766-c6a53949594f (1).jpg');
  background-position: 100% 50%;
}
.group-image.bg5 {
  background-image: url('../images/nomad.jpg');
}
.group-title {
  height: 68px;
  background-color: white;
  text-align: center;
}
.title-text {
  line-height: 68px;
}
.tab-pane {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.list-news {
  display: inline-block;
  padding-left: 0px;
  list-style-type: none;
}
.list-item-new {
  margin-bottom: 25px;
  box-shadow: #e3e3e3 0px 0px 6px 0px;
}
.image-new {
  position: relative;
  height: 200px;
  background-image: url('../images/photo-1421757295538-9c80958e75b0.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-new.bg1 {
  background-image: url('../images/photo-1413977886085-3bbbf9a7cf6e.jpg');
}
.image-new.bg2 {
  background-image: url('../images/Y51aFguqRcGTgsYRYBXV_20140104_085932.jpg');
}
.text-new {
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #e6e6e6;
  background-color: white;
}
.text-new.no-borders {
  border-style: none;
  border-width: 0px;
}
.title-new {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}
.description-new {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 11px;
}
.news-container {
  position: relative;
  display: inline-block;
  margin-top: 77px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
}
.news-container.item-new {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.category-link {
  display: inline-block;
  width: auto;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-color: #ededed;
  color: #878787;
  font-size: 8px;
  text-decoration: none;
}
.news-mask {
  position: fixed;
  z-index: 2;
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  opacity: 0;
}
.options-new {
  padding: 18px 20px 16px;
  background-color: #fafafa;
}
.small-button {
  width: auto;
  margin-right: 12px;
  padding: 7px 16px;
  border-radius: 2px;
  background-color: #2B65F8;
  color: white;
  font-size: 10px;
  text-decoration: none;
}
.small-button.icon-only {
  padding-right: 7px;
  padding-left: 7px;
  text-align: center;
}
.small-button.icon-only.grey {
  background-color: #e8e8e8;
  color: #878787;
}
.small-button.icon-only.grey.right {
  margin-right: 0px;
  margin-left: 16px;
  float: right;
}
.small-button.grey {
  background-color: #e8e8e8;
  color: #878787;
}
.icon-button {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 20px;
  height: 15px;
  padding-bottom: 20px;
  float: left;
  font-size: 13px;
}
.icon-button.bigger {
  font-size: 20px;
}
.text-button {
  display: inline-block;
  padding-top: 1px;
  float: left;
  line-height: 19px;
}
.grey-header {
  padding: 10px 20px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fafafa;
}
.grey-heading-title {
  font-size: 16px;
}
.square-map {
  height: 300px;
}
.hero-map {
  height: 280px;
}
.image-message {
  position: relative;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 48px;
  height: 48px;
  margin-top: 7px;
  border-radius: 25px;
}
.column-left {
  position: relative;
  display: block;
  width: 77px;
  height: 62px;
  float: left;
  text-align: center;
}
.message-title {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 14px;
}
.list-message {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e9;
}
.list-message:active {
  background-color: #f7f7f7;
}
.column-right {
  padding-right: 20px;
}
.column-right.chat {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 50px;
}
.column-right.chat.right {
  position: relative;
  margin-right: 10px;
  margin-left: 100px;
  padding-left: 20px;
}
.message-text {
  padding-bottom: 3px;
  color: #a3a3a3;
  font-size: 11px;
  line-height: 1.6em;
  text-decoration: none;
}
.list-chat {
  margin-bottom: 8px;
}
.chat-text {
  display: inline-block;
  margin-top: 7px;
  padding: 12px 15px;
  float: left;
  border-radius: 0px 12px 12px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 12px;
  line-height: 17px;
}
.chat-text.right {
  float: right;
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
  background-color: #2B65F8;
  color: white;
}
.arrow-globe {
  position: absolute;
  width: 0px;
  height: 0px;
  margin-top: 7px;
  margin-left: -12px;
  border-right: 12px solid #f0f0f0;
  border-bottom: 6px solid transparent;
}
.arrow-globe.right {
  top: 0px;
  right: 9px;
  border-right: 0px none transparent;
  border-left: 12px solid #2B65F8;
}
.chat-time {
  display: block;
  padding-left: 12px;
  float: left;
  clear: left;
  color: #cfcfcf;
  font-size: 9px;
  line-height: 19px;
}
.chat-time.right {
  padding-right: 15px;
  float: right;
  clear: both;
}
.input-chat-block {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid #ebebeb;
  background-color: #f2f2f2;
}
.input-chat {
  width: 82%;
  height: 39px;
  float: left;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: black black #e3e3e3;
  border-radius: 0px;
  font-size: 11px;
}
.input-chat:focus {
  border-bottom-color: #2B65F8;
}
.chat-button {
  width: 18%;
  padding: 9px 0px 9px 7px;
  float: right;
  background-color: transparent;
  color: #2B65F8;
  font-size: 12px;
}
.slider-element-test {
  padding-top: 72px;
  color: black;
  font-size: 27px;
  line-height: 1.6em;
  text-align: center;
}
.social-block {
  display: inline-block;
  float: left;
}
.bar-home-icon {
  width: 100%;
  height: 1px;
  margin-bottom: 7px;
  background-color: #fff;
}
.shadow-layer {
  position: fixed;
  z-index: 0;
  display: inline-block;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 0px 15px -2px;
}
html.w-mod-js *[data-ix="menu-mask"] {
  opacity: 0;
}
html.w-mod-js *[data-ix="list-item"] {
  opacity: 0;
  -webkit-transform: translate(-26px, 0px);
  -ms-transform: translate(-26px, 0px);
  transform: translate(-26px, 0px);
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 600px) {
  .mobile-wrapper {
    width: 100%;
  }
}

.navbar{
    width:inherit;
}
.radio-bullet-replacement, .checkbox-handle, .loading-mask, .shadow-layer{
    pointer-events:none;
}
input[type=text], textarea {
    outline: none;
}
input[type=text]:focus, textarea:focus {
    outline: none;
}
*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*:not(input):not(textarea){
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.loading-icon {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.loading-mask{
    display:block !important;
}
.navbar, .page-content, .news-mask, .search-fixed, .input-chat-block, .loading-mask, .shadow-layer{
    width:inherit;
}
.nav-menu{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}