#builder .navigation {
	height: 60px;
	background-image: -ms-linear-gradient(top, #3A3A3A 0%, #2A2A2A 100%);
	background-image: -moz-linear-gradient(top, #3A3A3A 0%, #2A2A2A 100%);
	background-image: -o-linear-gradient(top, #3A3A3A 0%, #2A2A2A 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3A3A3A), color-stop(100, #2A2A2A)); 
	background-image: -webkit-linear-gradient(top, #3A3A3A 0%, #2A2A2A 100%);
	background-image: linear-gradient(to bottom, #3A3A3A 0%, #2A2A2A 100%);
}
#builder .navigation .logo {
	position: relative;
	top: 22px;
	left: 15px;
	height: 19px;
	width: 85px;
	border-bottom: 3px solid #f98918;
	padding-bottom: 34.5px;
}
#builder .navigation .logo img {
	height: 19px;
	width: 85px;
}
#builder .navigation ul {
	position: relative;
	left: 120px;
	bottom: 15.5px;
}
#builder .navigation li a {
	color: #FFF;
	font-weight: 700;
	font-size: 0.9em;
}
#builder .secondary-navigation {
	height: 35px;
	background-color: #1A1A1A;
}
#builder .secondary-navigation ul {
	position: relative;
	left: 10px;
	bottom: -8px;
}
#builder .secondary-navigation ul li a {
	color: #FFF;
	font-size: 0.87em;
}
#builder .frame-container {
	height: 100vh;
	width: 100%;
}
#builder .frame-container .block {
	position: fixed;
	background: transparent;
	height: 100%;
	width: 100%;
	cursor: default;
}